Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

sway:
  name: check config of sway with sway --validate option
  language: system
  entry: sway --validate
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

clang-format:
  name: format c files with clang-format
  language: system
  entry: just src/.config/qmk/fmt

pkglist:
  name: format pkglist
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t sort -uo {} {}"

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

fishtape:
  name: test fish functions
  language: system
  entry: fishtape
  args:
  - src/.config/fish/tests/functions/*
  pass_filenames: false

feat(kubie): remove include config path to use default values
  src/.kube/kubie.yaml
Due: none

chore: tweak kubeconfig path
  misc/security-lab/justfile
Due: just

chore: avoid loading config error of kubectl
  misc/security-lab/justfile
Due: just

feat(fish): add abbreviation to use kubectl logs with fzf
  src/.config/fish/config.fish
Due: none

chore: revert dual function key for alt and tab
  misc/etc/interception/dual-function-keys/xcape.yaml
  test/file.yaml
Due: none

feat(gh): add version info
  src/.config/gh/config.yml
Due: none

feat(nvim): add keymap for vim-illuminate
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(tridactyl): tweak keymap for tabopen with clipboard
  src/.config/tridactyl/tridactylrc
Due: none

chore: tweak hotkey for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

feat(nvim): change diagnostic severity of typos-lsp from error to hint
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(yamlfmt): tweak config for merge tag and line break
  src/.config/yamlfmt/.yamlfmt
Due: none

feat(yamlfmt): rename config file from .yamlfmt to yamlfmt.yaml
  src/.config/yamlfmt/yamlfmt.yaml
Due: none

feat(fish): add abbreviations for kubectl describe and fzf
  src/.config/fish/config.fish
Due: none

feat(fish): add abbreviation for pnpm run
  src/.config/fish/config.fish
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: none

feat(mise): bump rtx to mise
  .dockerignore
  .gitignore
  misc/pkglist/developer-tools.txt
  src/.bashrc
  src/.config/fish/config.fish
  src/.config/fish/usr/conf.d/commands.fish
  src/.config/mise/config.toml
  src/.tool-versions
Due: taplo-format, taplo-lint, pkglist

chore: use goss installed by mise
  .pre-commit-config.yaml
  bin/goss
Due: none

chore: use tresorit and ente instead of dropbox
  README.md
  justfile
  misc/pkglist/utilities.txt
Due: just, pkglist

chore: add Ente Auth
  README.md
  misc/pkglist/password-management.txt
  src/.config/sway/config
Due: sway, pkglist

feat(sway): execute tresorit when startup
  src/.config/sway/config
  src/.local/bin/tresorit-cli
Due: sway

chore: add dos2unix to pkglist
  misc/pkglist/utilities.txt
Due: pkglist

chore: tweak AHK
  misc/wsl/misc/komorebi.ahk
Due: none

chore: add mermaid-cli to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(nvim): add treesitter parser for mermaid
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

chore: use winget instead of scoop when install ncspot
  docs/install-archlinux-on-wsl2.md
  misc/wsl/src/.local/bin/ncspot
Due: none

feat(lazygit): use --dark option of delta
  src/.config/lazygit/config.yml
Due: none

feat(kanshi): add output for DP-3
  src/.config/kanshi/config
Due: none

chore: add wrapper script for tresorit
  src/.local/bin/tresorit
Due: none

feat(nvim): tweak indent option
  src/.config/nvim/indent/go.lua
  src/.config/nvim/lua/user/autocmds.lua
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): tweak global indent option
  src/.config/nvim/indent/go.lua
  src/.config/nvim/lua/user/autocmds.lua
  src/.config/nvim/lua/user/options.lua
Due: none

feat(nvim): set no ignore to find_files picker, telescope-file-browser.nvim, and nvim-tree.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
  src/.config/nvim/lua/user/plugins/finder.lua
Due: none

feat(nvim): enable fillstruct in gopls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): tweak keymap for LSP
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): use actions-preview.nvim instead of nvim-code-action-menu
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): enable expandtab in Dockerfile
  src/.config/nvim/indent/dockerfile.lua
Due: none

feat(zsh): set CARGO_NET_GIT_FETCH_WITH_CLI to true
  src/.zshenv
Due: none

feat(nvim): enable expandtab in just
  src/.config/nvim/indent/just.lua
Due: none

feat(nvim): add gotests.nvim
  scripts/bootstrap.bash
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/filetype.lua
Due: none

feat(nvim): bump plugins for neotest
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

Path conditions:
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/*.(h|c)$
  pkglist: any of: misc/pkglist/*
  visudo: any of: misc/etc/sudoer.d/*
  fishtape: any of: .config/fish/{usr,tests}/functions/*.fish$
