Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

chore: :hammer: replace ueli with Flow Launcher in WSL setup
  docs/install-archlinux-on-wsl2.md
  home/.chezmoidata/packages.yaml
  home/dot_glzr/glazewm/config.yaml
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

chore: :hammer: fix notify-send wrapper for WSL
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(tmux): :sparkles: renumber windows after closing window
  home/dot_config/tmux/tmux.conf
Due: none

feat(tmux): :sparkles: highlight prefix state in the session segment
  home/dot_config/tmux-powerline/themes/executable_tokyonight.sh
Due: none

chore: :hammer: add 7zip for yazi archive extraction and preview
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

chore: :hammer: add YASB for WSL
  README.md
  docs/install-archlinux-on-wsl2.md
  home/.chezmoidata/packages.yaml
  home/.chezmoiignore
  home/dot_config/yasb/config.yaml
  home/dot_config/yasb/styles.css
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add opencode-plugin-otel and send signals to Grafana Cloud
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/opencode/scripts/executable_otlp-headers-helper.sh
  home/dot_zshenv
Due: none

feat(nvim): :sparkles: show opencode terminal when submitting prompts
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

fix(zsh): :bug: move kubeconfig setup into .zshrc
  home/dot_zshenv
  home/dot_zshrc
Due: none

feat(tmux): :sparkles: show zoom flag as icon in window status
  home/dot_config/tmux-powerline/themes/executable_tokyonight.sh
Due: none

feat(agents): :sparkles: add stop-slop skill
  home/dot_agents/skills/stop-slop/CHANGELOG.md
  home/dot_agents/skills/stop-slop/LICENSE
  home/dot_agents/skills/stop-slop/README.md
  home/dot_agents/skills/stop-slop/SKILL.md
  home/dot_agents/skills/stop-slop/references/examples.md
  home/dot_agents/skills/stop-slop/references/phrases.md
  home/dot_agents/skills/stop-slop/references/structures.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add markitdown-mcp
  home/dot_config/mise/config.toml
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(tmuxp): :sparkles: run litellm proxy without docker
  home/dot_config/mise/config.toml
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(mise): :sparkles: bump opencode from 1.17.4 to 1.17.9
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: pin opencode subagents to GPT-5.4 with low reasoning
  home/dot_config/opencode/agents/ci-watcher.md
  home/dot_config/opencode/agents/code-reviewer.md
  home/dot_config/opencode/agents/debugger.md
  home/dot_config/opencode/agents/docs-writer.md
  home/dot_config/opencode/agents/security-auditor.md
  home/dot_config/opencode/agents/test-runner.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: allow defuddle parse
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: bump opencode-plugin-otel from 1.1.0 to 1.2.0
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add MDN subagent
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(agents): :sparkles: add skill for defuddle command
  home/dot_agents/skills/defuddle/SKILL.md
  home/dot_config/mise/config.toml
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add trivy mcp
  home/.chezmoidata/packages.yaml
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add semgrep mcp
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

revert: "feat(mise): :sparkles: bump opencode from 1.17.4 to 1.17.9"
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: add opencode-with-claude plugin
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add bedrock provider
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: bump opencode from 1.17.4 to 1.17.15
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

revert: "feat(opencode): :sparkles: add opencode-with-claude plugin"
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: use low-cost model and save token
  home/dot_config/opencode/agents/ci-watcher.md
  home/dot_config/opencode/agents/code-reviewer.md
  home/dot_config/opencode/agents/debugger.md
  home/dot_config/opencode/agents/docs-writer.md
  home/dot_config/opencode/agents/security-auditor.md
  home/dot_config/opencode/agents/test-runner.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(cz): :sparkles: use low-cost model and save token
  home/dot_config/tmuxp/ai.yaml
  home/dot_czrc
Due: yamlfmt, yamllint

refactor(opencode): :recycle: use permission instead of tools
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: bump kubernetes tools to latest version
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add kubernetes mcp server for kind-sandbox
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(zsh): :sparkles: enable opencode code mode
  home/dot_zshenv
Due: none

feat(opencode): :sparkles: change edit permission from ask to allow
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: add istioctl
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

refactor(opencode): :recycle: remove example configs
  home/dot_config/opencode/opencode.jsonc
Due: none

refactor(opencode): :recycle: convert subagent from json to markdown
  home/dot_config/opencode/agents/aws-api-expert.n4vysh-common.md
  home/dot_config/opencode/agents/aws-api-expert.n4vysh-prod.md
  home/dot_config/opencode/agents/aws-api-expert.n4vysh-stg.md
  home/dot_config/opencode/agents/aws-docs-expert.md
  home/dot_config/opencode/agents/context7.md
  home/dot_config/opencode/agents/deepwiki.md
  home/dot_config/opencode/agents/github.md
  home/dot_config/opencode/agents/grafana-expert.n4vysh.md
  home/dot_config/opencode/agents/grep.app.md
  home/dot_config/opencode/agents/kubernetes-expert.kind-sandbox.md
  home/dot_config/opencode/agents/markitdown.md
  home/dot_config/opencode/agents/mdn.md
  home/dot_config/opencode/agents/semgrep.md
  home/dot_config/opencode/agents/terraform-expert.md
  home/dot_config/opencode/agents/trivy.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: enable openai and amazon-bedrock provider only
  home/dot_config/opencode/opencode.jsonc
Due: none

refactor(opencode): :recycle: consolidate subagents
  home/dot_config/opencode/agents/aws-api-expert.md
  home/dot_config/opencode/agents/aws-api-expert.n4vysh-common.md
  home/dot_config/opencode/agents/aws-api-expert.n4vysh-prod.md
  home/dot_config/opencode/agents/aws-api-expert.n4vysh-stg.md
  home/dot_config/opencode/agents/grafana-expert.md
  home/dot_config/opencode/agents/grafana-expert.n4vysh.md
  home/dot_config/opencode/agents/kubernetes-expert.kind-sandbox.md
  home/dot_config/opencode/agents/kubernetes-expert.md
Due: prettier-markdown, markdownlint-cli2

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
