Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

refactor(nvim): :recycle: remove unnecessary biome LSP configuration
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

chore: :hammer: add wiremix
  home/.chezmoidata/packages.yaml
  home/dot_config/hypr/hyprland.conf
  home/dot_config/waybar/config
Due: yamlfmt, yamllint, hyprland

docs: :memo: add wiremix as audio mixer to README
  README.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: remove opacheck
  home/dot_config/mise/config.toml
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: taplo-format, taplo-lint

Revert "feat(nvim): :sparkles: use native LSP feature of stylua"
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

docs: :memo: add description for stylua
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: remove vim-textobj-heredocs and vim-textobj-indented-paragraph
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(nvim): :sparkles: remove vim-repeat
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat: :sparkles: remove ssr.nvim
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(nvim): :sparkles: refactor LSP keymaps to use gr prefix and remove redundant binds
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: remove mini.bracketed
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/keymaps.lua
Due: prettier-json

style(nvim): :lipstick: remove extra blank lines
  home/dot_config/nvim/lua/user/plugins/project.lua
  home/dot_config/nvim/lua/user/plugins/version.lua
Due: none

feat(nvim): :sparkles: remove unnesecarry plugins
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
  home/dot_config/nvim/lua/user/plugins/filetype.lua
  home/dot_config/nvim/lua/user/plugins/interface.lua
  home/dot_config/nvim/lua/user/plugins/version.lua
Due: prettier-json

feat(nvim): :sparkles: remove hlargs.nvim
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/syntax.lua
Due: prettier-json

feat(mise): :sparkles: use opencode instead of npm:opencode-ai
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump opencode from 0.11.1 to 0.15.3
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: bump lockfile
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

refactor(nvim): :recycle: replace eager loading with lazy key mappings for leap.nvim
  home/dot_config/nvim/lua/user/plugins/motion.lua
Due: none

feat(hypr): :sparkles: remove shift modifier from quit keybind
  home/dot_config/hypr/hyprland.conf
Due: hyprland

feat(glzr): :sparkles: remove shift modifier from quit keybind
  home/dot_glzr/glazewm/hotkeys.ahk
Due: none

chore: :hammer: disable automatic resolv.conf generation in WSL
  etc/wsl.conf
Due: none

feat(tmux): :sparkles: set pane numbering to start from 1
  home/dot_config/tmux/tmux.conf
Due: none

feat(mise): :sparkles: Add ls-lint
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: add terraform-ls
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add terraform-ls
  home/dot_config/opencode/opencode.jsonc
Due: none

chore: :hammer: add locale configuration for WSL to setup script
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

chore: :hammer: enable pacman progress bar for WSL in bootstrap script
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

feat(opencode): :sparkles: add terraform fmt to formatter
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: bump opencode from 0.15.3 to 0.15.31
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(wezterm): :sparkles: add SSH setup for WSL
  docs/install-archlinux-on-wsl2.md
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_enable-services-for-wsl.sh
  home/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
  home/dot_config/wezterm/wezterm.lua
Due: prettier-markdown, markdownlint-cli2

feat(tmux): :sparkles: add passthrough and environment settings for yazi
  home/dot_config/tmux/tmux.conf
Due: none

feat(wsl): :sparkles: disable instance idle timeout
  home/dot_wslconfig
Due: none

Revert "feat(wsl): :sparkles: disable instance idle timeout"
  home/dot_wslconfig
Due: none

Revert "feat(wezterm): :sparkles: add SSH setup for WSL"
  docs/install-archlinux-on-wsl2.md
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_enable-services-for-wsl.sh
  home/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
  home/dot_config/wezterm/wezterm.lua
Due: prettier-markdown, markdownlint-cli2

docs: :memo: add WezTerm ConPTY workaround for WSL2 limitations
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: add treesitter parser for zsh
  home/dot_config/nvim/lua/user/plugins/syntax.lua
Due: none

chore: :hammer: unset charset for search.json.mozlz4 in editorconfig
  .editorconfig
Due: none

feat(opencode): :sparkles: add trash command usage to rule file
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(espanso): :sparkles: add trigger for japanese
  home/dot_config/espanso/match/japanese.yml
Due: yamlfmt, yamllint
