Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

chore: :hammer: refactor chezmoi scripts with ignore file
  src/.chezmoiignore
  src/.chezmoiscripts/linux/run_after_1_configure-etc-files.sh
  src/.chezmoiscripts/linux/run_onchange_after_2_enable-services.sh.tmpl
  src/.chezmoiscripts/linux/run_onchange_after_3_configure-security.sh
  src/.chezmoiscripts/linux/run_onchange_after_4_add-user-to-groups.sh.tmpl
  src/.chezmoiscripts/linux/run_onchange_after_5_enable-clock-synchronization.sh
  src/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh
  src/.chezmoiscripts/linux/run_onchange_after_7_configure-gui.sh
  src/.chezmoiscripts/linux/run_onchange_before_1_install-required-packages.sh
  src/.chezmoiscripts/linux/run_onchange_before_2_configure-security.sh
  src/.chezmoiscripts/linux/run_onchange_before_3_configure-network.sh
  src/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
  src/.chezmoiscripts/linux/run_onchange_before_5_change-shell.sh
Due: none

chore: :hammer: import PowerShell Security module before setting execution policy
  src/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
Due: none

chore: :hammer: add tmux plugins to chezmoi ignore list
  src/.chezmoiignore
Due: none

chore: :hammer: skip some Linux configuration scripts when running in WSL
  src/.chezmoiscripts/linux/run_after_1_configure-etc-files.sh
  src/.chezmoiscripts/linux/run_onchange_after_3_configure-security.sh
  src/.chezmoiscripts/linux/run_onchange_after_7_configure-gui.sh
  src/.chezmoiscripts/linux/run_onchange_before_3_configure-network.sh
  src/.chezmoiscripts/linux/run_onchange_before_5_change-shell.sh
Due: none

chore: :hammer: add scoop installation to docs and refactor font setup
  docs/install-archlinux-on-wsl2.md
  src/.chezmoidata/packages.yaml
  src/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

docs: :memo: add hostname configuration to Arch Linux WSL2 setup
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: add emojis to headings and document Windows applications
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: set chezmoi source directory path to ~/.local/share/chezmoi/src
  src/dot_config/nvim/lua/user/plugins/filetype.lua
Due: none

docs: :memo: add user setup and configuration steps for Arch Linux on WSL2
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

docs(lazygit): :memo: add commented GitLab service config for work
  src/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(tmuxp): :sparkles: switch litellm config from Anthropic API to AWS Bedrock
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

docs(opencode): :memo: add commented configuration for work
  src/dot_config/opencode/opencode.jsonc
Due: none

docs(nvim): :memo: add GitLab self-hosted configuration to gitlinker.nvim
  src/dot_config/nvim/lua/user/plugins/version.lua
Due: none

feat(nvim): :sparkles: add treesitter injection for mise.toml
  src/dot_config/nvim/after/queries/toml/injections.scm
  src/dot_config/nvim/lua/user/plugins/syntax.lua
Due: none

chore: :hammer: fix chezmoi scripts for WSL
  home/.chezmoiscripts/linux/run_after_1_configure-etc-files.sh
  home/.chezmoiscripts/linux/run_onchange_after_3_configure-security.sh
  home/.chezmoiscripts/linux/run_onchange_after_7_configure-gui.sh
  home/.chezmoiscripts/linux/run_onchange_before_3_configure-network.sh
  home/.chezmoiscripts/linux/run_onchange_before_5_change-shell.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_configure-for-wsl.sh
Due: none

feat(zsh-abbr): :sparkles: add abbreviation for mise tasks
  src/dot_config/zsh-abbr/private_user-abbreviations
Due: none

chore: :hammer: refactor .chezmoiignore for WSL
  src/.chezmoiignore
Due: none

docs: :memo: update install command for WSL
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: improve WSL detection and add file change tracking to scripts
  home/.chezmoi.toml.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_3_configure-security.sh
  home/.chezmoiscripts/linux/run_onchange_after_7_configure-gui.sh
  home/.chezmoiscripts/linux/run_onchange_before_3_configure-network.sh
  home/.chezmoiscripts/linux/run_onchange_before_5_change-shell.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_configure-for-wsl.sh
Due: none

chore: :hammer: fix wslg config
  etc/tmpfiles.d/wslg.conf
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_configure-for-wsl.sh.tmpl
  test/files.bats
Due: none

feat(mise): :sparkles: bump opencode-ai from 0.7.8 to 0.11.1
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

docs: :memo: fix typo in chezmoi package name
  README.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: use openbsd-netcat instead of gnu-netcat
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

chore: :hammer: add strict error handling to chezmoi scripts
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_2_enable-services.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_3_configure-security.sh
  home/.chezmoiscripts/linux/run_onchange_after_4_add-user-to-groups.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_5_enable-clock-synchronization.sh
  home/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh
  home/.chezmoiscripts/linux/run_onchange_after_7_configure-gui.sh
  home/.chezmoiscripts/linux/run_onchange_before_1_install-required-packages.sh
  home/.chezmoiscripts/linux/run_onchange_before_2_configure-security.sh
  home/.chezmoiscripts/linux/run_onchange_before_3_configure-network.sh
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_before_5_change-shell.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_configure-for-wsl.sh.tmpl
Due: none

chore: :hammer: install pacman-contrib if rankmirrors is missing
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
Due: none

chore: :hammer: skip flatpak installation when running on WSL
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
Due: none

feat: :sparkles: add WSL wrapper scripts
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
  home/dot_local/bin/executable_cmd.exe
  home/dot_local/bin/executable_draw.io.exe
  home/dot_local/bin/executable_explorer.exe
  home/dot_local/bin/executable_powershell.exe
  home/dot_local/bin/executable_scoop.ps1
  home/dot_local/bin/executable_winget.exe
  home/dot_local/bin/executable_wsl.exe
Due: none

chore: :hammer: change script for WSL to copy systemd and sudoers config files
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_enable-services-for-wsl.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

chore: :hammer: skip user systemd services when running on WSL
  home/.chezmoiscripts/linux/run_onchange_after_2_enable-services.sh.tmpl
Due: none

feat(ghostty): :sparkles: change theme name for v1.2.0
  home/dot_config/ghostty/config
Due: none

feat(mise): :sparkles: bump kubecolor from 0.0.25 to 0.5.1
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

chore: :hammer: add file change tracking for mise config and system files
  home/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

chore: :hammer: ignore ps1 file with chezmoiignore
  home/.chezmoiignore
Due: none

chore: :hammer: start systemd-logind before enable user service on WSL
  home/.chezmoiscripts/linux/run_onchange_after_2_enable-services.sh.tmpl
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_enable-services-for-wsl.sh
Due: none

feat(nvim): :sparkles: change gitlinker.nvim from opts to config function setup
  home/dot_config/nvim/lua/user/plugins/version.lua
Due: none

feat(tmuxp): :sparkles: replace username for WSL
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: bump claude sonnet from 4 to 4.5
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(mise): :sparkles: bump czg from 1.11.1 to 1.12.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

fix(gnupg): :bug: set pinentry program for WSL
  home/private_dot_gnupg/private_gpg-agent.conf.tmpl
Due: none

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
