Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(opencode): :sparkles: set default model
  home/dot_config/opencode/opencode.jsonc
Due: none

chore: :wrench: add chezmoi script for installing yazi plugins
  home/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh
Due: none

feat(opencode): :sparkles: bump claude sonnet from 4 to 4.5
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(tmuxp): :sparkles: bump claude sonnet from 4 to 4.5
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

chore: :wrench: add execute permission to wrapper scripts
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

chore: :wrench: fix chezmoiignore for WSL
  home/.chezmoiignore
Due: none

feat(wezterm): :sparkles: change default domain from Arch to archlinux
  home/dot_config/wezterm/wezterm.lua
Due: none

feat(mise): :sparkles: add cosign and slsa-verifier for verification
  home/.chezmoidata/packages.yaml
  home/dot_config/mise/config.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(nvim): :sparkles: use fcitx5-remote when not WSL
  home/dot_config/nvim/lua/user/utils/im.lua
Due: none

feat(zsh-abbr): :sparkles: remove --all option and add init command for terragrunt
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(nvim): :sparkles: add clipboard configuration for WSL
  home/dot_config/nvim/lua/user/options.lua
Due: none

refactor(tmuxp): :recycle: split commands within workspace
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: remove tfvars hack
  home/dot_config/nvim/lua/user/options.lua
Due: none

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

fix(opencode): :bug: set model name for work
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(zsh-abbr): :sparkles: add abbreviation for terraform-docs
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(mise): :sparkles: add granted
  home/dot_config/mise/config.toml
  home/dot_config/zsh-abbr/private_user-abbreviations
  home/dot_zshrc.d/conf.d/alias.zsh
Due: taplo-format, taplo-lint

fix(stylelint): :sparkles: use global config path
  home/dot_stylelintrc.yaml
Due: yamlfmt, yamllint

docs: :memo: fix typo in bootstrap script
  scripts/bootstrap.bash
Due: none

refactor(nvim): :recycle: use default config of stylelint
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(mise): :sparkles: add tools for infra
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): remove rego from format source
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: revert from conform.nvim to none-ls.nvim
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: remove conform.nvim from lockfile
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(tmuxp): :sparkles: Add Claude Sonnet 4 litellm config to work around czg issue
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: use native LSP feature of stylua
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

docs: :memo: add wiremix as audio mixer to README
  README.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: remove opacheck
  home/dot_config/mise/config.toml
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: taplo-format, taplo-lint

chore: :hammer: add wiremix
  home/.chezmoidata/packages.yaml
  home/dot_config/hypr/hyprland.conf
  home/dot_config/waybar/config
Due: yamlfmt, yamllint, hyprland

refactor(nvim): :recycle: remove unnecessary biome LSP configuration
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: remove vim-textobj-heredocs and vim-textobj-indented-paragraph
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

revert: "feat(nvim): :sparkles: use native LSP feature of stylua"
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

docs: :memo: add description for stylua
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: remove vim-repeat
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat: :sparkles: remove ssr.nvim
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(nvim): :sparkles: remove mini.bracketed
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/keymaps.lua
Due: prettier-json

feat(nvim): :sparkles: refactor LSP keymaps to use gr prefix and remove redundant binds
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

style(nvim): :lipstick: remove extra blank lines
  home/dot_config/nvim/lua/user/plugins/project.lua
  home/dot_config/nvim/lua/user/plugins/version.lua
Due: none

feat(nvim): :sparkles: remove hlargs.nvim
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/syntax.lua
Due: prettier-json

feat(mise): :sparkles: use opencode instead of npm:opencode-ai
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
