Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat: :sparkles: bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json

feat(nvim): :sparkles: add context menus
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

feat(nvim): :sparkles: remove pumblend option
  src/.config/nvim/lua/user/options.lua
Due: none

feat(nvim): :sparkles: add border to nvim-cmp
  src/.config/nvim/lua/user/plugins/completion.lua
Due: none

chore: :hammer: sort pkglist
  misc/pkglist/developer-tools.txt
Due: none

chore: :hammer: remove pkglist pre-commit hook that formats package lists
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

chore: :hammer: fix typo in package-management.txt filename
  misc/pkglist/package-management.txt
Due: none

refactor(tmuxp): :recycle: remove OpenWebUI setup
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: create new buffer when toggling explorer from dashboard
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(nvim): :sparkles: bump mason.nvim and mason-lspconfig.nvim from v1 to v2
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: use lazydev.nvim instead of neodev.nvim
  .luarc.json
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/completion.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier-json

feat(nvim): :sparkles: use AWS default credentials provider chain in avante.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/pet/snippet.toml
Due: prettier-json, taplo-lint

feat(nvim): :sparkles: remove mason-lock.nvim and mason-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/mason-lock.json
Due: prettier-json

feat(nvim): :sparkles: add just-lsp
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: use olrtg/emmet-language-server instead of aca/emmet-ls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add harper-ls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(atuin): :sparkles: add config and custom theme
  misc/pkglist/developer-tools.txt
  src/.config/atuin/config.toml
  src/.config/atuin/themes/custom.toml
  src/.config/ghostty/config
  src/.zfunctions/atuin-search-viins-wrapper
  src/.zfunctions/zvm_after_init
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: add systemd-language-server
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add vale-ls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(mise): :sparkles: remove idiomatic_version_file setting
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

refactor(nvim): :recycle: remove mason-lock.nvim from lazy-lock.json
  src/.config/nvim/lazy-lock.json
Due: prettier-json

feat(mise): :sparkles: add cmd-wrapped
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: remove BufReadPost event from autocommand in vim-better-whitespace
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(zsh): :sparkles: add zsh-autocomplete
  src/.config/sheldon/plugins.toml
  src/.zfunctions/zvm_after_init
  src/.zshrc.d/completion.zsh
Due: taplo-format, taplo-lint

feat(zsh): :sparkles: set custom highlight for zsh-history-substring-search
  src/.zshenv
Due: none

feat(zsh): :sparkles: enable reminder feature in zsh-abbr
  src/.zshenv
Due: none

feat(nvim): :sparkles: update copilot model from claude-3.7-sonnet to claude-sonnet-4
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

refactor(zsh): :recycle: remove $FZF_CTRL_R_OPTS
  src/.zshenv
Due: none

feat(mcphub): :sparkles: add hashicorp/terraform-mcp-server
  src/.config/mcphub/servers.json
Due: prettier-json

feat(tmuxp): :sparkles: update litellm model from claude-3-7-sonnet to claude-opus-4
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(k9s): :sparkles: add config
  src/.config/k9s/aliases.yaml
  src/.config/k9s/config.yaml
  src/.config/k9s/hotkeys.yaml
  src/.config/k9s/plugins.yaml
Due: yamlfmt, yamllint

feat(zsh): :sparkles: add wrapper functions for kubens
  src/.zfunctions/kubens
Due: none

chore: :hammer: use kubectx instead of kubie in security lab
  misc/security-lab/justfile
Due: none

feat(k9s): :sparkles: add hotkeys for namespace and context
  src/.config/k9s/hotkeys.yaml
Due: yamlfmt, yamllint

chore: :hammer: use glazewm instead of komorebi
  docs/install-archlinux-on-wsl2.md
  misc/wsl/misc/komorebi.json
  misc/wsl/src/.glzr/glazewm/config.yaml
  misc/wsl/src/.glzr/glazewm/hotkeys.ahk
  misc/wsl/src/.local/bin/komorebic.exe
Due: prettier-json, yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

feat(tmuxp): :sparkles: add Open WebUI setup
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(gnupg): :sparkles: use pinentry-gtk instead of pinentry-curses
  .gitignore
  scripts/bootstrap.bash
  src/.gnupg/gpg-agent.conf
Due: none

chore: :hammer: tweak glazewm
  misc/wsl/src/.glzr/glazewm/config.yaml
  misc/wsl/src/.glzr/glazewm/hotkeys.ahk
Due: yamlfmt, yamllint

chore: :hammer: use kubectx instead of kubie
  .dockerignore
  .gitignore
  README.md
  misc/pkglist/developer-tools.txt
Due: prettier-markdown, markdownlint-cli2

feat(zsh): :sparkles: remove $DO_NOT_TRACK
  README.md
  src/.zshenv
Due: prettier-markdown, markdownlint-cli2
