Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$

chore: tweak bootstrap script to install hyprland plugin automatically
  scripts/bootstrap.bash
Due: none

chore: remove unnecessary firmware
  misc/pkglist/firmware.txt
  misc/pkglist/utilities.txt
Due: pkglist

Revert "feat(nvim): add helix like keymap for visual line mode"
  src/.config/nvim/lua/user/keymaps.lua
Due: none

chore: add lefthook to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(tmux): add keybinds for better mouse mode
  src/.config/tmux/tmux.conf
Due: none

feat(fish): add abbreviation for docker compose up -d
  src/.config/fish/config.fish
Due: none

chore: update wrapper script for WSL
  misc/wsl/src/.local/bin/firefox
Due: none

chore: tweak keybind for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

fix(hypr): remove $GTK_IM_MODULE for fcitx
  src/.config/hypr/hyprland.conf
Due: none

feat(nvim): add keymaps for jumplist
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): use case_sensitive sorter of nvim-tree
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(nvim): tweak indent
  src/.config/nvim/indent/dockerfile.lua
  src/.config/nvim/indent/fish.lua
  src/.config/nvim/indent/html.lua
  src/.config/nvim/indent/hyprlang.lua
  src/.config/nvim/indent/javascript.lua
  src/.config/nvim/indent/json.lua
  src/.config/nvim/indent/jsonc.lua
  src/.config/nvim/indent/just.lua
  src/.config/nvim/indent/terraform.lua
  src/.config/nvim/indent/typescript.lua
  src/.config/nvim/indent/typescriptreact.lua
  src/.config/nvim/lua/user/autocmds.lua
  src/.config/nvim/lua/user/options.lua
Due: none

feat(nvim): enable signature help provider of terraformls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): add filetype for helmfile.d
  src/.config/nvim/lua/user/options.lua
Due: none

feat(nvim): use buf_ls instead of bufls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

chore: remove aicommits from pkglist
  misc/pkglist/developer-tools.txt
  src/.local/bin/aic
  src/.local/bin/aicommits
  src/.local/src/dotfiles/aicommits.bash
Due: pkglist

chore: remove lab from pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: remove ente cli from pkglist
  misc/pkglist/utilities.txt
Due: pkglist

chore: use proton-mail-bin instead of proton-mail
  misc/pkglist/email.txt
Due: pkglist

feat(nvim): use wrapped-default render for nvim-notify
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): tweak indent for golang
  src/.config/nvim/indent/go.lua
Due: none

feat(git): disable .sops.yaml for sopsdiffer
  src/.config/git/config
Due: none

feat(nvim): add keymap for neotest
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(fish): remove unused code of s command
  src/.config/fish/usr/conf.d/commands.fish
Due: none

feat(starship): enable git tag
  src/.config/starship.toml
Due: taplo-format, taplo-lint

feat(git): disable detachedHead advice
  src/.config/git/config
Due: none

chore: prevent overwrite for blackarch mirrorlist
  scripts/bootstrap.bash
Due: none

feat(hypr) set icon for hyprbar
  src/.config/hypr/hyprland.conf
Due: none

chore: remove s command from RTKT_FILE_WHITELIST
  scripts/bootstrap.bash
Due: none

feat(zsh): set PATH for nix
  src/.zshenv
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): remove semgrep
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

docs: fix descriptions
  misc/etc/keyd/default.conf
  src/.config/hypr/hyprland.conf
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/plugins/editing.lua
  src/.config/tmux/tmux.conf
  src/.config/tridactyl/tridactylrc
Due: none

chore: fix space cadet shift of keyd
  misc/etc/keyd/default.conf
  test/file.yaml
Due: yamlfmt, yamllint

chore(keyd): add keybind for backward kill line
  misc/etc/keyd/default.conf
  test/file.yaml
Due: yamlfmt, yamllint

chore: update keybind for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

chore: change mise from chaotic-aur to extra repository
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(mise): rename legacy_version_file to idiomatic_version_file
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): add ftdetect for tftest
  src/.config/nvim/ftdetect/tftest.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

chore: add description comments for WSL
  misc/wsl/misc/etc/wsl.conf
Due: none
