Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(pet): :sparkles: add snippet for listing unrequired dependencies with pacman
  src/.config/pet/snippet.toml
Due: taplo-lint

feat(tmux): :sparkles: enable clipboard integration via OSC 52
  src/.config/tmux/tmux.conf
Due: none

feat(zsh): :sparkles: add fd and ripgrep aliases for hyperlink support
  src/.zshrc.d/alias.zsh
Due: none

docs: :memo: add rg and fd to description for OSC 8
  README.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: add description for OSC 8, 52, and 133
  README.md
Due: prettier-markdown, markdownlint-cli2

fix(nvim): :bug: enable clipboard support with OSC 52 fallback when not using Wayland
  src/.config/nvim/lua/user/options.lua
Due: none

fix(applications): :bug: update yazi.desktop to use %F parameter instead of %u for file arguments
  src/.local/share/applications/yazi.desktop
Due: none

feat(nvim): :sparkles: add mason-lock.nvim and lockfile
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/mason-lock.json
Due: prettier-json

feat(nvim): :sparkles: add filter to indent of snacks.nvim to exclude dbout filetype
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: enable foldcolumn
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

refactor(zsh): :recycle: remove local plugins from sheldon and move into zshrc.d directory
  src/.config/sheldon/plugins.toml
  src/.zshrc
  src/.zshrc.d/alias.zsh
  src/.zshrc.d/command.zsh
  src/.zshrc.d/compile.zsh
  src/.zshrc.d/completion.zsh
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: add bedrock provider to avante.nvim
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/pet/snippet.toml
Due: taplo-lint

feat(zsh): :sparkles: add clipboard integration for zsh-vi-mode
  src/.zfunctions/copy-buffer-widget
  src/.zfunctions/zvm_after_init
Due: none

chore: :hammer: add nuclei to pkglist
  misc/pkglist/security.txt
Due: none

feat(zsh): :sparkles: enable extended_history option
  src/.zshrc.d/option.zsh
Due: none

style(nvim): :lipstick: remove empty line
  src/.config/nvim/lua/user/plugins/filetype.lua
Due: none

feat(pet): :sparkles: add snippet for generating random passwords
  misc/pkglist/utilities.txt
  src/.config/pet/snippet.toml
Due: taplo-lint

feat(tmuxp): :sparkles: rename secret name of gopass
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

chore: :hammer: uncomment MAKEFLAGS in makepkg.conf to enable parallel compilation
  scripts/bootstrap.bash
Due: none

feat(tmuxp): :sparkles: add session for AWS Bedrock and Open WebUI integration
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(pacman): :sparkles: add makepkg.conf
  scripts/bootstrap.bash
  src/.config/pacman/makepkg.conf
Due: none

chore: :hammer: sort package lists alphabetically in developer-tools and window-manager
  misc/pkglist/developer-tools.txt
  misc/pkglist/window-manager.txt
Due: none

chore: :hammer: use drop-ins for journald, logind, and timesyncd
  misc/etc/systemd/journald.conf.d/system_max_use.conf
  misc/etc/systemd/logind.conf.d/handle_lid_switch.conf
  misc/etc/systemd/logind.conf.d/handle_power_key.conf
  misc/etc/systemd/timesyncd.conf.d/ntp.conf
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: use bundled binary of mcphub.nvim
  src/.config/mise/config.toml
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
Due: prettier-json, taplo-format, taplo-lint

chore: :hammer: use drop-ins of makepkg.conf
  misc/etc/makepkg.conf.d/makepkg.conf
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

chore: :hammer: create additional systemd configuration directories during installation
  scripts/bootstrap.bash
Due: none

feat(nvim): :sparkles: update MCP server configuration
  src/.config/mcphub/servers.json
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
Due: prettier-json

chore: :hammer: sort pkglist
  misc/pkglist/developer-tools.txt
Due: none

chore: :hammer: remove interception tools
  README.md
  test/file.yaml
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

chore: :hammer: add custom search engine for pypi
  misc/firefox/search.json.mozlz4
Due: none

feat(nvim): :sparkles: update avante.nvim for better AI integration
  src/.config/mcphub/servers.json
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

feat(nvim): :sparkles: remove statusline before load lualine
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: use lazy loading to improve performance during startup
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/autocmds.lua
  src/.config/nvim/lua/user/plugin.lua
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/keymaps.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/lua/user/plugins/syntax.lua
  src/.config/nvim/lua/user/plugins/version.lua
  src/.config/nvim/lua/user/startup.lua
  src/.config/nvim/lua/user/utils/ui.lua
Due: prettier-json

feat(nvim): :sparkles: add keymap to prevent '[No Name]' buffer creation
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

feat(nvim): :sparkles: disable lualine for dashboard filetype
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json

feat(nvim): :sparkles: set single into border of none-ls.nvim
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: create new buffer when opening plugins UI from dashboard
  src/.config/nvim/lua/user/plugin.lua
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/lua/user/plugins/marks.lua
Due: none

feat(nvim): :sparkles: remove unused plugins
  src/.config/bluetuith/bluetuith.conf
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier-json

feat(nvim): :sparkles: set cmdheight to 0 before loading noice.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none
