Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(mise): :sparkles: add terraform-mcp-server
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add keybinds for session
  home/dot_config/opencode/tui.jsonc
Due: none

feat(opencode): :sparkles: add subagents for MCP servers
  home/dot_config/opencode/opencode.jsonc
Due: none

style: :art: format with prettier
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: remove microsandbox
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

style(opencode): :art: move example mcp servers to bottom
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: disable jsonls formatting in favor of prettier
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(opencode): :sparkles: add docs-writer subagent
  home/dot_config/opencode/agents/docs-writer.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add tmp directory to external directory
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: update system prompt for subagents and MCP servers
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add docs-writer subagent
  home/dot_config/opencode/agents/security-auditor.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: enable experimental web search
  home/dot_zshenv
Due: none

feat(opencode): :sparkles: enable experimental LSP tool
  home/dot_zshenv
Due: none

feat(opencode): :sparkles: add exa mcp server
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add small model
  home/dot_config/opencode/opencode.jsonc
Due: none

revert: "feat(opencode): :sparkles: add exa mcp server"
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

revert: "feat(opencode): :sparkles: add ccc for semantic code search"
  home/dot_agents/skills/ccc/SKILL.md
  home/dot_agents/skills/ccc/references/management.md
  home/dot_agents/skills/ccc/references/settings.md
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: disable autoupdate
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: enable LSP
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: change default agent from build to plan
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow gh pr view and gh pr diff
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add description and prompt for subagents
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add semble
  home/dot_config/mise/config.toml
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: bump opencode from 1.15.5 to 1.15.10
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(hypr): :sparkles: allow screen capture for wf-recorder and wl-mirror
  home/dot_config/hypr/hyprland.lua
Due: none

style(opencode): :art: group MCP tools
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

fix(hypr): :bug: change window rule syntax from string to table
  home/dot_config/hypr/hyprland.lua
Due: none

feat(opencode): :sparkles: add GitHub MCP server and subagent
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

fix(hypr): :bug: enable hypridle service and update DPMS dispatches
  home/.chezmoidata/services.yaml
  home/dot_config/hypr/hypridle.conf
  home/dot_config/hypr/hyprland.lua
Due: yamlfmt, yamllint

feat(agents): :sparkles: add skills for k6 and pyroscope
  home/dot_agents/skills/k6/SKILL.md
  home/dot_agents/skills/pyroscope/SKILL.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(tmuxp): :sparkles: run LiteLLM containers interactively
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint

feat(agents): :sparkles: add skill for context7-mcp
  home/dot_agents/skills/context7-mcp/SKILL.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(espanso): :sparkles: use terminal-friendly paste shortcut
  home/dot_config/espanso/config/default.yml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: add superpowers plugin
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(agents): :sparkles: add skill for grill-me
  home/dot_agents/skills/grill-me/SKILL.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add MCP servers
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(tridactyl): :sparkles: update URL for Grafana Cloud
  home/dot_config/tridactyl/tridactylrc
Due: none

feat(mise): :sparkles: bump opencode from 1.15.10 to 1.15.11
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(mise): :sparkles: migrate ubi backend to github backend
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

style(opencode): :art: rename command and skill directories
  home/dot_config/opencode/commands/fix.md
  home/dot_config/opencode/commands/review.md
  home/dot_config/opencode/commands/test.md
  home/dot_config/opencode/skills/ni/SKILL.md
  home/dot_config/opencode/skills/skill-creator/SKILL.md
  home/dot_config/opencode/skills/terraform-module/SKILL.md
Due: prettier-markdown, markdownlint-cli2

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
