Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(tmux): add keybinds like helix
  src/.config/tmux/tmux.conf
Due: none

feat(nvim): add vim-tridactyl
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/filetype.lua
Due: prettier-json

feat(nvim): enable incremental selection of tree sitter
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): change keymap of nvim-surround to avoid conflict for leap.nvim and helix like keymaps
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

refactor(fish): use variables for command name
  src/.config/fish/usr/conf.d/commands.fish
Due: none

feat(nvim): add spectral-language-server
  misc/pkglist/developer-tools.txt
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(fish): add abbreviations for tldr
  src/.config/fish/config.fish
Due: none

feat(xh): add --follow option to default options
  src/.config/fish/config.fish
  src/.config/xh/config.json
Due: prettier-json

feat(ncspot): tweak keybinds
  src/.config/ncspot/config.toml
Due: taplo-format, taplo-lint

feat(fish): use alias instead of abbreviation for grc
  src/.config/fish/config.fish
  src/.config/fish/usr/conf.d/alias.fish
Due: none

docs(fish): tweak comments for alias
  src/.config/fish/usr/conf.d/alias.fish
Due: none

feat(nvim): add sqlfluff
  misc/pkglist/developer-tools.txt
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/sqlfluff/.sqlfluff
Due: none

feat(fish): use grc in go, kubectl, traceroute, uptime, and whois
  src/.config/fish/usr/conf.d/alias.fish
Due: none

feat(nvim): add plugin and package manager to dashboard
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/lua/user/utils/ui.lua
Due: none

chore: add jqp to pkglist
  misc/pkglist/developer-tools.txt
Due: none

refactor(nvim): use opts instead of config
  src/.config/nvim/lua/user/plugins/explorer.lua
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/version.lua
Due: none

chore: change AUR helper from paru to yay
  docs/install-archlinux-on-wsl2.md
  justfile
  scripts/bootstrap.bash
  src/.config/fish/config.fish
  src/.config/yay/config.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(nnn): use wrapper script instead of symbolic link for nuke
  src/.local/bin/nuke
  src/.local/src/dotfiles/nuke.bash
Due: none

feat(nvim): use default keymaps for nvim 0.10.0
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

chore: add setting file for CanvasBlocker
  README.md
  misc/firefox/canvas-blocker.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

chore: add aicommits to pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(nvim): add copilot.lua
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/completion.lua
Due: prettier-json

feat(nvim): enable split long line of gofumpt
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(espanso): add config
  misc/pkglist/utilities.txt
  scripts/bootstrap.bash
  src/.config/espanso/config/default.yml
  src/.config/espanso/match/base.yml
Due: yamlfmt, yamllint

chore: add ublock custom filter for DDG
  misc/firefox/ublock.txt
Due: none

feat(nvim): add keymap to close window for neotest
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat: remove unnecessary wrapper script for nnn
  src/.local/bin/imvr
  src/.local/src/dotfiles/imvr.bash
Due: none

feat(aicommits): add config
  src/.aicommits
  src/.local/bin/aicommits
  src/.local/src/dotfiles/aicommits.bash
Due: none

chore: use keybase of AUR instead of extra repository
  misc/pkglist/developer-tools.txt
  src/.local/bin/keybase-gui
  src/.local/src/dotfiles/keybase-gui.bash
Due: none

fix: use exec command in wrapper scripts
  src/.local/src/dotfiles/nuke.bash
  src/.local/src/dotfiles/zoom.bash
Due: none

feat: remove unnecessary wrapper script for stegsolve
  src/.local/bin/stegsolve
  src/.local/src/dotfiles/stegsolve.bash
Due: none

ci: add pkg-config command
  .github/workflows/main.yml
Due: yamlfmt, yamllint

feat(yay): disable combined upgrade
  src/.config/yay/config.json
Due: prettier-json

chore: add elia
  misc/pkglist/developer-tools.txt
  scripts/bootstrap.bash
  src/.config/fish/usr/conf.d/alias.fish
  src/.local/bin/elia-wrapper
  src/.local/src/dotfiles/elia-wrapper.bash
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json

feat(yay): enable batch install
  src/.config/yay/config.json
Due: prettier-json

docs: tweak install guide for USB drive
  docs/install-archlinux-without-virtulization.md
Due: prettier-markdown, markdownlint-cli2

chore: remove pack-cli from pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(nvim): add vim-better-whitespace
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

feat(nvim): add undotree
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json
