Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(opencode): :sparkles: use ctx7 instead of context7 mcp server
  home/dot_agents/skills/context7-mcp/SKILL.md
  home/dot_agents/skills/find-docs/SKILL.md
  home/dot_config/mise/config.toml
  home/dot_config/opencode/agents/context7.md
  home/dot_config/opencode/opencode.jsonc
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: remove markitdown mcp server
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add skill for ctx7
  home/dot_config/opencode/skills/ctx7/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: remove grep.app mcp server
  home/dot_config/opencode/agents/grep.app.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: remove deepwiki mcp server
  home/dot_config/opencode/agents/deepwiki.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: remove aws knowledge mcp server
  home/dot_config/opencode/agents/aws-docs-expert.md
  home/dot_config/opencode/agents/aws-expert.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: remove subagents
  home/dot_config/opencode/agents/code-reviewer.md
  home/dot_config/opencode/agents/debugger.md
  home/dot_config/opencode/agents/docs-writer.md
  home/dot_config/opencode/agents/github.md
  home/dot_config/opencode/agents/security-auditor.md
  home/dot_config/opencode/agents/test-runner.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: allow mise which commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow mcp server permissions in primary agents
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow read access for opencode config
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: remove subagents
  home/dot_config/opencode/agents/aws-expert.md
  home/dot_config/opencode/agents/grafana-expert.md
  home/dot_config/opencode/agents/kubernetes-expert.md
  home/dot_config/opencode/agents/terraform-expert.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: allow commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: use skill instead of plugin for superpower
  home/dot_agents/skills/dispatching-parallel-agents/SKILL.md
  home/dot_agents/skills/receiving-code-review/SKILL.md
  home/dot_agents/skills/systematic-debugging/CREATION-LOG.md
  home/dot_agents/skills/systematic-debugging/SKILL.md
  home/dot_agents/skills/systematic-debugging/condition-based-waiting-example.ts
  home/dot_agents/skills/systematic-debugging/condition-based-waiting.md
  home/dot_agents/skills/systematic-debugging/defense-in-depth.md
  home/dot_agents/skills/systematic-debugging/executable_find-polluter.sh
  home/dot_agents/skills/systematic-debugging/root-cause-tracing.md
  home/dot_agents/skills/systematic-debugging/test-academic.md
  home/dot_agents/skills/systematic-debugging/test-pressure-1.md
  home/dot_agents/skills/systematic-debugging/test-pressure-2.md
  home/dot_agents/skills/systematic-debugging/test-pressure-3.md
  home/dot_agents/skills/test-driven-development/SKILL.md
  home/dot_agents/skills/test-driven-development/testing-anti-patterns.md
  home/dot_agents/skills/verification-before-completion/SKILL.md
  home/dot_agents/skills/writing-skills/SKILL.md
  home/dot_agents/skills/writing-skills/anthropic-best-practices.md
  home/dot_agents/skills/writing-skills/examples/CLAUDE_MD_TESTING.md
  home/dot_agents/skills/writing-skills/executable_render-graphs.js
  home/dot_agents/skills/writing-skills/graphviz-conventions.dot
  home/dot_agents/skills/writing-skills/persuasion-principles.md
  home/dot_agents/skills/writing-skills/testing-skills-with-subagents.md
  home/dot_config/opencode/opencode.jsonc
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: refine system prompts
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/skills/creating-files/SKILL.md
  home/dot_config/opencode/skills/git/SKILL.md
  home/dot_config/opencode/skills/go/SKILL.md
  home/dot_config/opencode/skills/helm/SKILL.md
  home/dot_config/opencode/skills/helmfile/SKILL.md
  home/dot_config/opencode/skills/kubectl/SKILL.md
  home/dot_config/opencode/skills/make/SKILL.md
  home/dot_config/opencode/skills/opencode-command-execution/SKILL.md
  home/dot_config/opencode/skills/opencode-mcp-servers/SKILL.md
  home/dot_config/opencode/skills/opencode-mode-switching/SKILL.md
  home/dot_config/opencode/skills/opencode-playground/SKILL.md
  home/dot_config/opencode/skills/opencode-question-tool/SKILL.md
  home/dot_config/opencode/skills/opencode-rtk-plugin/SKILL.md
  home/dot_config/opencode/skills/opencode-search/SKILL.md
  home/dot_config/opencode/skills/opencode-session-export/SKILL.md
  home/dot_config/opencode/skills/opencode-tool-selection/SKILL.md
  home/dot_config/opencode/skills/referencing-files/SKILL.md
  home/dot_config/opencode/skills/semble/SKILL.md
  home/dot_config/opencode/skills/terraform/SKILL.md
  home/dot_config/opencode/skills/terragrunt/SKILL.md
  home/dot_config/opencode/skills/trash/SKILL.md
  home/dot_config/opencode/skills/writing-formal-japanese/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: prohibit commas after the Japanese particle `も`
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: remove kubeval
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(firefox): :sparkles: update search engines
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/search.json.mozlz4
Due: none

chore: :hammer: enable redlib of LibRedirect
  misc/firefox/libredirect.json
Due: prettier-json

feat(apm): :sparkles: add config
  .editorconfig
  .pre-commit-config.yaml
  .prettierignore
  .rumdl.toml
  .yamlfmt.yaml
  .yamllint.yaml
  cog.toml
  home/.chezmoidata/packages.yaml
  home/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh.tmpl
  home/dot_apm/config.json
  home/dot_apm/private_apm.lock.yaml
  home/dot_apm/private_apm.yml
  home/dot_config/mise/config.toml
  home/dot_config/rumdl/rumdl.toml
  typos.toml
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint

feat(nvim): :sparkles: remove copilot.lua and sidekick.nvim
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(lazygit): :sparkles: use diffRenderers instead of pagers for v0.64.0
  home/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: :hammer: add android-udev to packages
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: prettier-json

feat(mise): :sparkles: bump opencode from 1.18.3 to 1.18.15
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: bump opencode-plugin-otel from 1.2.0 to 1.5.0
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: bump tokscale from 4.3.0 to 4.12.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump codex from 0.143.0 to 0.147.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

ci: :green_heart: bump container image from 20260705 to 20260802
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: yamlfmt, yamllint

ci: :green_heart: pin GitHub Actions to commit hashes
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: yamlfmt, yamllint

ci: :green_heart: disable credential persistence
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: yamlfmt, yamllint

ci: :green_heart: restrict GitHub Actions permissions
  .github/workflows/main.yml
Due: yamlfmt, yamllint

ci: :green_heart: prevent template injection
  .github/workflows/main.yml
Due: yamlfmt, yamllint

docs: :memo: add description for zizmor
  README.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: enable ignore_fixup_commits of cog
  cog.toml
Due: taplo-format, taplo-lint

chore: :hammer: add zizmor
  .github/workflows/main.yml
  .pre-commit-config.yaml
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

chore: :hammer: enable ignore_merge_commits of cog
  cog.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: allow gh search commits
  home/dot_config/opencode/opencode.jsonc
Due: none

chore: :hammer: add actionlint
  .github/actionlint.yaml
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

docs: :memo: add description for actionlint
  README.md
Due: prettier-markdown, markdownlint-cli2
