Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

chore: :hammer: refactor .chezmoiignore for WSL
  src/.chezmoiignore
Due: none

chore: :wrench: fix chezmoiignore for WSL
  home/.chezmoiignore
Due: none

feat(mise): :sparkles: bump kubecolor from 0.0.25 to 0.5.1
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

chore: :wrench: add execute permission to wrapper scripts
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

chore: :hammer: add scoop installation to docs and refactor font setup
  docs/install-archlinux-on-wsl2.md
  src/.chezmoidata/packages.yaml
  src/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

docs: :memo: add hostname configuration to Arch Linux WSL2 setup
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

docs(lazygit): :memo: add commented GitLab service config for work
  src/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(zsh-abbr): :sparkles: add abbreviation for mise tasks
  src/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(zsh-abbr): :sparkles: remove --all option and add init command for terragrunt
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

chore: :hammer: import PowerShell Security module before setting execution policy
  src/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
Due: none

feat(nvim): :sparkles: add clipboard configuration for WSL
  home/dot_config/nvim/lua/user/options.lua
Due: none

chore: :hammer: skip user systemd services when running on WSL
  home/.chezmoiscripts/linux/run_onchange_after_2_enable-services.sh.tmpl
Due: none

feat(nvim): :sparkles: set chezmoi source directory path to ~/.local/share/chezmoi/src
  src/dot_config/nvim/lua/user/plugins/filetype.lua
Due: none

feat(mise): :sparkles: bump opencode-ai from 0.7.8 to 0.11.1
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

docs: :memo: fix typo in bootstrap script
  scripts/bootstrap.bash
Due: none

chore: :hammer: use openbsd-netcat instead of gnu-netcat
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat: :sparkles: add WSL wrapper scripts
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
  home/dot_local/bin/executable_cmd.exe
  home/dot_local/bin/executable_draw.io.exe
  home/dot_local/bin/executable_explorer.exe
  home/dot_local/bin/executable_powershell.exe
  home/dot_local/bin/executable_scoop.ps1
  home/dot_local/bin/executable_winget.exe
  home/dot_local/bin/executable_wsl.exe
Due: none

feat(nvim): :sparkles: add treesitter injection for mise.toml
  src/dot_config/nvim/after/queries/toml/injections.scm
  src/dot_config/nvim/lua/user/plugins/syntax.lua
Due: none

docs(nvim): :memo: add GitLab self-hosted configuration to gitlinker.nvim
  src/dot_config/nvim/lua/user/plugins/version.lua
Due: none

chore: :hammer: improve WSL detection and add file change tracking to scripts
  home/.chezmoi.toml.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_3_configure-security.sh
  home/.chezmoiscripts/linux/run_onchange_after_7_configure-gui.sh
  home/.chezmoiscripts/linux/run_onchange_before_3_configure-network.sh
  home/.chezmoiscripts/linux/run_onchange_before_5_change-shell.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_configure-for-wsl.sh
Due: none

chore: :hammer: skip flatpak installation when running on WSL
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
Due: none

fix(gnupg): :bug: set pinentry program for WSL
  home/private_dot_gnupg/private_gpg-agent.conf.tmpl
Due: none

feat(nvim): :sparkles: bump claude sonnet from 4 to 4.5
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

chore: :hammer: add tmux plugins to chezmoi ignore list
  src/.chezmoiignore
Due: none

feat(zsh-abbr): :sparkles: add abbreviation for terraform-docs
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

chore: :hammer: fix chezmoi scripts for WSL
  home/.chezmoiscripts/linux/run_after_1_configure-etc-files.sh
  home/.chezmoiscripts/linux/run_onchange_after_3_configure-security.sh
  home/.chezmoiscripts/linux/run_onchange_after_7_configure-gui.sh
  home/.chezmoiscripts/linux/run_onchange_before_3_configure-network.sh
  home/.chezmoiscripts/linux/run_onchange_before_5_change-shell.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_configure-for-wsl.sh
Due: none

feat(opencode): :sparkles: bump claude sonnet from 4 to 4.5
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: add cosign and slsa-verifier for verification
  home/.chezmoidata/packages.yaml
  home/dot_config/mise/config.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(nvim): :sparkles: change gitlinker.nvim from opts to config function setup
  home/dot_config/nvim/lua/user/plugins/version.lua
Due: none

feat(opencode): :sparkles: set default model
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: add tools for infra
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

fix(stylelint): :sparkles: use global config path
  home/dot_stylelintrc.yaml
Due: yamlfmt, yamllint

refactor(nvim): :recycle: use default config of stylelint
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: revert from conform.nvim to none-ls.nvim
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: remove conform.nvim from lockfile
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(nvim): remove rego from format source
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(tmuxp): :sparkles: Add Claude Sonnet 4 litellm config to work around czg issue
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: use native LSP feature of stylua
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none
