Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

chore: :hammer: update search engine of firefox
  src/.mozilla/firefox/v7fd4tvu.default-release/search.json.mozlz4
Due: none

chore: :hammer: use zero omega instead of switchy omega
  .editorconfig
  .pre-commit-config.yaml
  README.md
  misc/firefox/switchy_omega.bak
  misc/firefox/zero_omega.bak
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

chore: :hammer: add tridactyl AMO fix preference
  src/.mozilla/firefox/v7fd4tvu.default-release/user.js
Due: none

chore: :hammer: rename branch from src to standard
  .github/workflows/main.yml
  README.md
  justfile
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

chore: :hammer: bump pre-commit-hooks from 4.4.0 to 5.0.0
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

chore: :hammer: add dotfiles as submodule
  .gitmodules
Due: none

feat(go): :sparkles: remove unused config
  src/dot_config/go/env
Due: none

chore: :hammer: remove submodule
  .gitmodules
Due: none

feat(gtkrc-2.0): :sparkles: remove unused config
  misc/pkglist/appearance.txt
  src/dot_gtkrc-2.0
Due: none

chore: :hammer: remove adwaita-qt5-git from packages list
  misc/pkglist/appearance.txt
Due: none

feat(gtk-4.0): :sparkles: add config
  src/dot_config/gtk-4.0/settings.ini
Due: none

refactor(swaync): :recycle: remove unnecessary value
  src/dot_config/hypr/hyprland.conf
  src/dot_config/swaync/config.json
  src/dot_config/swaync/configSchema.json
  src/dot_config/swaync/style.css
Due: prettier-json, hyprland

docs(zsh): :memo: add modelines to help GitHub recognize zsh files
  src/dot_zshenv
  src/dot_zshrc
Due: none

refactor(mozilla): :recycle: remove unused config
  src/dot_mozilla/firefox/v7fd4tvu.default-release/chrome/userChrome.css
Due: none

feat(zsh-abbr): :sparkles: add chezmoi re-add
  src/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(yazi): :sparkles: bump plugins
  src/dot_config/yazi/package.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: bump plugins
  src/dot_config/nvim/lazy-lock.json
Due: prettier-json

docs: :memo: fix chezmoi commands
  .github/workflows/main.yml
  README.md
  justfile
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

refactor(zsh): :recycle: remove unused functions
  src/dot_zshrc.d/functions/debug
  src/dot_zshrc.d/functions/error
  src/dot_zshrc.d/functions/info
  src/dot_zshrc.d/functions/warn
Due: none

feat(btop): :sparkles: add config
  README.md
  misc/pkglist/utilities.txt
  misc/screenshots/btm.png
  misc/screenshots/btop.png
  src/dot_config/btop/btop.conf
  src/dot_config/hypr/hyprland.conf
  src/dot_config/tmux/tmux.conf
  src/dot_config/waybar/config
  src/dot_zshrc.d/functions/btop-widget
  src/dot_zshrc.d/functions/zvm_after_init
Due: prettier-markdown, markdownlint-cli2, hyprland

chore: :hammer: add version file of chezmoi
  .chezmoiversion
Due: none

feat(tmux): :sparkles: add chezmoi re-add to sync config
  src/dot_config/tmux/tmux.conf
Due: none

refactor(bottom): :recycle: remove unused config
  src/dot_config/bottom/bottom.toml
Due: taplo-format, taplo-lint

feat(swaync): :sparkles: style notification action buttons
  src/dot_config/swaync/style.css
Due: none

fix(nvim): :bug: disable Ctrl-W mapping in vim-visual-multi to prevent autopairs conflicts
  src/dot_config/nvim/lua/user/plugins/editing.lua
Due: none

feat(sql-formatter): :sparkles: remove tabulateAlias option
  src/dot_config/sql-formatter/config.json
Due: prettier-json

feat(nvim): :sparkles: add diagnostic source to diagnostic format
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(git): :sparkles: ignore mise.local.toml
  src/dot_config/git/ignore
Due: none

chore: :hammer: update tmux keybind for WSL
  misc/wsl/src/.config/tmux/tmux.conf.local
Due: none

feat(nvim): :sparkles: add conform.nvim for formatting
  misc/pkglist/developer-tools.txt
  src/dot_config/mise/config.toml
  src/dot_config/nvim/lazy-lock.json
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: prettier-json, taplo-format, taplo-lint

refactor(btop): :recycle: add descriptions
  src/dot_config/btop/btop.conf
Due: none

feat(atuin): :sparkles: disable sync feature
  src/dot_config/atuin/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: connect via litellm if use bedrock
  src/dot_config/mise/config.toml
  src/dot_config/nvim/lazy-lock.json
  src/dot_config/nvim/lua/user/plugins/ai.lua
  src/dot_config/tmuxp/misc.yaml
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint

chore: :hammer: use nordvpn with openvpn client
  README.md
  misc/etc/kernel/cmdline
  misc/etc/systemd/network/20-wired.network
  misc/etc/systemd/network/25-wireless.network
  misc/pkglist/network.txt
  scripts/bootstrap.bash
  src/dot_config/mimeapps.list
  src/dot_config/waybar/config
  src/dot_config/waybar/lib/executable_vpn.bash
  src/dot_mozilla/firefox/v7fd4tvu.default-release/user.js
  test/file.yaml
  test/group.yaml
  test/service.yaml
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

feat: :sparkles: remove unnecessary config
  src/dot_config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: use snacks.nvim instead of dressing.nvim for avante.nvim input provider
  src/dot_config/nvim/lua/user/plugins/ai.lua
  src/dot_config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: prevent new `[No Name]` buffer when dashboard
  src/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
