Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(fish): add abbreviation for pnpm run
  src/.config/fish/config.fish
Due: none

feat(yamlfmt): rename config file from .yamlfmt to yamlfmt.yaml
  src/.config/yamlfmt/yamlfmt.yaml
Due: yamlfmt, yamllint

feat(yamlfmt): tweak config for merge tag and line break
  src/.config/yamlfmt/.yamlfmt
Due: none

chore: add Ente Auth
  README.md
  misc/pkglist/password-management.txt
  src/.config/sway/config
Due: prettier-markdown, markdownlint-cli2

feat(mise): bump rtx to mise
  .dockerignore
  .gitignore
  misc/pkglist/developer-tools.txt
  src/.bashrc
  src/.config/fish/config.fish
  src/.config/fish/usr/conf.d/commands.fish
  src/.config/mise/config.toml
  src/.tool-versions
Due: taplo-format, taplo-lint

chore: use goss installed by mise
  .pre-commit-config.yaml
  bin/goss
Due: yamlfmt, yamllint

chore: use tresorit and ente instead of dropbox
  README.md
  justfile
  misc/pkglist/utilities.txt
Due: prettier-markdown, markdownlint-cli2

chore: add dos2unix to pkglist
  misc/pkglist/utilities.txt
Due: none

chore: tweak AHK
  misc/wsl/misc/komorebi.ahk
Due: none

feat(sway): execute tresorit when startup
  src/.config/sway/config
  src/.local/bin/tresorit-cli
Due: none

chore: add mermaid-cli to pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(lazygit): use --dark option of delta
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: use winget instead of scoop when install ncspot
  docs/install-archlinux-on-wsl2.md
  misc/wsl/src/.local/bin/ncspot
Due: prettier-markdown, markdownlint-cli2

feat(nvim): add treesitter parser for mermaid
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

chore: add wrapper script for tresorit
  src/.local/bin/tresorit
Due: none

feat(kanshi): add output for DP-3
  src/.config/kanshi/config
Due: none

feat(nvim): tweak global indent option
  src/.config/nvim/indent/go.lua
  src/.config/nvim/lua/user/autocmds.lua
  src/.config/nvim/lua/user/options.lua
Due: none

feat(nvim): set no ignore to find_files picker, telescope-file-browser.nvim, and nvim-tree.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
  src/.config/nvim/lua/user/plugins/finder.lua
Due: none

feat(nvim): enable fillstruct in gopls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): tweak indent option
  src/.config/nvim/indent/go.lua
  src/.config/nvim/lua/user/autocmds.lua
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): use actions-preview.nvim instead of nvim-code-action-menu
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier-json

feat(nvim): enable expandtab in Dockerfile
  src/.config/nvim/indent/dockerfile.lua
Due: none

feat(zsh): set CARGO_NET_GIT_FETCH_WITH_CLI to true
  src/.zshenv
Due: none

feat(nvim): tweak keymap for LSP
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): add gotests.nvim
  scripts/bootstrap.bash
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/filetype.lua
Due: prettier-json

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json

chore: use gotests in AUR
  misc/pkglist/developer-tools.txt
Due: none

feat(nvim): bump plugins for neotest
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/test.lua
Due: prettier-json

feat(nvim): enable expandtab in just
  src/.config/nvim/indent/just.lua
Due: none

chore: add gotestsum
  scripts/bootstrap.bash
Due: none

chore: remove dprint
  misc/pkglist/developer-tools.txt
Due: none

feat(fish): tweak abbreviation for docker compose
  src/.config/fish/config.fish
Due: none

feat(tmux): tweak options for tmux-fzf-url
  src/.config/tmux/tmux.conf
Due: none

docs(nvim): add comment for keymaps
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): tweak listchars
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

refactor(nvim): use default value of wildmode
  src/.config/nvim/lua/user/options.lua
Due: none

refactor(nvim): use vim.tbl_extend
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): add keymaps like helix
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(tridactyl): add keybinds like helix
  src/.config/tridactyl/tridactylrc
Due: none
