Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

chore: enable containerd-snapshotter
  misc/etc/docker/daemon.json
Due: prettier-json

chore: tweak hotkey of ahk
  misc/wsl/misc/komorebi.ahk
Due: none

feat(nvim): add smear-cursor.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

chore: use fcitx5-mozc-ut instead of fcitx5-mozc
  misc/pkglist/input-method.txt
Due: none

feat(fish): add abbreviation for mise trust
  src/.config/fish/config.fish
Due: none

chore: add qemu to pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(mise): remove unnecessary alias
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

chore: change boot splash from plymouth to UKI
  misc/etc/kernel/cmdline
  misc/etc/plymouth/plymouthd.conf
  misc/etc/systemd/system/plymouth-quit.service.d/retain-splash.conf
  misc/pkglist/base.txt
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

chore: enable boot splash
  misc/etc/kernel/cmdline
  misc/etc/plymouth/plymouthd.conf
  misc/etc/sysctl.d/20-quiet-printk.conf
  misc/etc/systemd/system/plymouth-quit.service.d/retain-splash.conf
  misc/pkglist/base.txt
  misc/pkglist/utilities.txt
  scripts/bootstrap.bash
  src/.config/pet/snippet.toml
  test/file.yaml
Due: yamlfmt, yamllint, taplo-lint

docs: add screenshot for swaync
  README.md
  misc/screenshots/swaync.png
Due: prettier-markdown, markdownlint-cli2

chore: use docker.socket instead of docker.service
  scripts/bootstrap.bash
  test/service.yaml
Due: yamlfmt, yamllint

docs: add screenshots for boot splash and login screen
  README.md
  justfile
  misc/screenshots/bootsplash.png
  misc/screenshots/lock_screen.png
  misc/screenshots/login_screen.png
Due: prettier-markdown, markdownlint-cli2

chore: disable systemd-networkd-wait-online.service
  misc/etc/systemd/system/systemd-networkd-wait-online.service.d/wait-for-only-one-interface.conf
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

chore: add DNS server for NordVPN
  misc/etc/systemd/network/20-wired.network
  misc/etc/systemd/network/25-wireless.network
  test/file.yaml
Due: yamlfmt, yamllint

chore: enable clock and hide key hints for ly
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

feat(hypr): execute fcitx on launch
  src/.config/hypr/hyprland.conf
Due: hyprland

test: fix sha512sum of sysctl conf
  test/file.yaml
Due: yamlfmt, yamllint

test: fix sha512sum of networkd conf
  test/file.yaml
Due: yamlfmt, yamllint

test: remove unnecessary test
  goss.yaml
  test/interface.yaml
Due: yamlfmt, yamllint

feat(waybar): add error handling to scripts
  src/.config/waybar/lib/im-info.bash
  src/.config/waybar/lib/pkg-audit.bash
Due: none

feat(nvim): bump lock file for plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json

chore: use hyprsunset of extra repository
  misc/pkglist/window-manager.txt
Due: none

feat(nvim): use new default mappings for leap
  src/.config/nvim/lua/user/plugins/motion.lua
Due: none

feat(hypr): set desktop interface for GTK 3
  src/.config/hypr/hyprland.conf
Due: hyprland

feat(pet): update config format for latest version
  misc/pkglist/developer-tools.txt
  src/.config/pet/config.toml
  src/.config/pet/snippet.toml
Due: taplo-lint

feat(nvim): add helix like keymap for visual line mode
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(pet): add snippet to get log of hyprland
  src/.config/pet/snippet.toml
Due: taplo-lint

revert: "feat(nvim): add helix like keymap for visual line mode"
  src/.config/nvim/lua/user/keymaps.lua
Due: none

chore: remove unnecessary firmware
  misc/pkglist/firmware.txt
  misc/pkglist/utilities.txt
Due: none

feat(tmux): add keybinds for better mouse mode
  src/.config/tmux/tmux.conf
Due: none

chore: add lefthook to pkglist
  misc/pkglist/developer-tools.txt
Due: none

chore: tweak bootstrap script to install hyprland plugin automatically
  scripts/bootstrap.bash
Due: none

chore: tweak keybind for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

feat(fish): add abbreviation for docker compose up -d
  src/.config/fish/config.fish
Due: none

fix(hypr): remove $GTK_IM_MODULE for fcitx
  src/.config/hypr/hyprland.conf
Due: hyprland

chore: update wrapper script for WSL
  misc/wsl/src/.local/bin/firefox
Due: none

feat(nvim): tweak indent
  src/.config/nvim/indent/dockerfile.lua
  src/.config/nvim/indent/fish.lua
  src/.config/nvim/indent/html.lua
  src/.config/nvim/indent/hyprlang.lua
  src/.config/nvim/indent/javascript.lua
  src/.config/nvim/indent/json.lua
  src/.config/nvim/indent/jsonc.lua
  src/.config/nvim/indent/just.lua
  src/.config/nvim/indent/terraform.lua
  src/.config/nvim/indent/typescript.lua
  src/.config/nvim/indent/typescriptreact.lua
  src/.config/nvim/lua/user/autocmds.lua
  src/.config/nvim/lua/user/options.lua
Due: none

feat(nvim): enable signature help provider of terraformls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): add filetype for helmfile.d
  src/.config/nvim/lua/user/options.lua
Due: none
