Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(mise): :sparkles: remove mcpo
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: rename directory from plugin to plugins
  home/dot_config/opencode/plugins/notification.ts
Due: none

feat(opencode): :sparkles: add rtk plugin
  home/dot_config/mise/config.toml
  home/dot_config/opencode/plugins/private_rtk.ts
Due: taplo-format, taplo-lint

fix(nvim): :bug: set false into remap in clever-f-reset
  home/dot_config/nvim/lua/user/plugins/motion.lua
Due: none

feat(agents): :sparkles: add skills for worktrunk
  home/dot_agents/skills/worktrunk/SKILL.md
  home/dot_agents/skills/worktrunk/reference/README.md
  home/dot_agents/skills/worktrunk/reference/claude-code.md
  home/dot_agents/skills/worktrunk/reference/config.md
  home/dot_agents/skills/worktrunk/reference/extending.md
  home/dot_agents/skills/worktrunk/reference/faq.md
  home/dot_agents/skills/worktrunk/reference/hook.md
  home/dot_agents/skills/worktrunk/reference/list.md
  home/dot_agents/skills/worktrunk/reference/llm-commits.md
  home/dot_agents/skills/worktrunk/reference/merge.md
  home/dot_agents/skills/worktrunk/reference/remove.md
  home/dot_agents/skills/worktrunk/reference/shell-integration.md
  home/dot_agents/skills/worktrunk/reference/step.md
  home/dot_agents/skills/worktrunk/reference/switch.md
  home/dot_agents/skills/worktrunk/reference/tips-patterns.md
  home/dot_agents/skills/worktrunk/reference/troubleshooting.md
  home/dot_agents/skills/worktrunk/reference/worktrunk.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add mcp server for microsandbox
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

chore: :wrench: remove custom session log file from config.ini
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  test/files.bats
Due: none

feat(hypr): :sparkles: disable splash rendering
  home/dot_config/hypr/hyprpaper.conf
Due: none

docs(hypr): :memo: add description for lock keybind
  home/dot_config/hypr/hyprland.conf
Due: hyprland

chore: :wrench: add fluent of plasma6 theme
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

refactor(hypr): :recycle: tweak window rule
  home/dot_config/hypr/hyprland.conf
Due: hyprland

feat(satty): :sparkles: add config
  home/.chezmoidata/packages.yaml
  home/dot_config/nvim/lua/user/options.lua
  home/dot_config/satty/config.toml
  home/dot_config/swappy/config
  home/dot_config/uwsm/env
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(mise): :sparkles: bump czg from 1.12.0 to 1.13.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump opencode from 1.14.25 to 1.14.40
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

chore: :hammer: add suffixes for systemd user services
  home/.chezmoidata/services.yaml
Due: yamlfmt, yamllint

feat(mise): :sparkles: bump obsidian-headless from 0.0.4 to 0.0.8
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(stylelint): :sparkles: use stylelint with mise
  home/.chezmoidata/packages.yaml
  home/dot_config/mise/config.toml
  home/dot_stylelintrc.mjs
  home/dot_stylelintrc.yaml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(systemd): :sparkles: add obsidian-headless as a user service
  home/.chezmoidata/services.yaml
  home/dot_config/hypr/hyprland.conf
  home/dot_config/systemd/user/obsidian-sync.service
Due: yamlfmt, yamllint, hyprland

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(mozilla): :sparkles: update Firefox search configuration
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/search.json.mozlz4
Due: none

feat(tmuxp): :sparkles: bump litellm from 1.83.7 to 1.83.14
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: add context-mode
  home/dot_config/mise/config.toml
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(mozilla): :sparkles: disable speech synthesis of Firefox
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/user.js
Due: none

feat(mise): :sparkles: bump opencode from 1.14.40 to 1.14.46
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(espanso): :sparkles: add snippets for confirmation request
  home/dot_config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

feat(gnupg): :sparkles: update pinentry path for WSL
  home/private_dot_gnupg/private_gpg-agent.conf.tmpl
Due: none

feat(opencode): :sparkles: add kubernetes MCP server
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

feat(mise): :sparkles: add tokscale
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add Grafana MCP server
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add AWS MCP server
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

feat(zsh): :sparkles: preserve $KUBECONFIG across nested sessions
  home/dot_zshenv
Due: none

feat(opencode): :sparkles: add formatter for markdown
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add agent-browser
  home/dot_agents/skills/agent-browser/SKILL.md
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(agents): :sparkles: add skills for Grafana
  home/dot_agents/skills/loki/SKILL.md
  home/dot_agents/skills/mimir/SKILL.md
  home/dot_agents/skills/prometheus/SKILL.md
  home/dot_agents/skills/promql/SKILL.md
  home/dot_agents/skills/tempo/SKILL.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(zsh-abbr): :sparkles: add abbreviation for stern
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(opencode): :sparkles: add skill for ni
  home/dot_config/opencode/skill/ni/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(tmuxp): :sparkles: pin LiteLLM Postgres image to Alpine 3.23
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint

feat(cz): :sparkles: add custom types to show gitmoji
  home/dot_czrc
Due: none

feat(nvim): :sparkles: use sqlfluff as formatter
  home/dot_config/mise/config.toml
  home/dot_config/nvim/lua/user/plugins/lang.lua
  home/dot_sql-formatter.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: use Context7 MCP server at OAuth endpoint
  home/dot_config/opencode/opencode.jsonc
Due: none
