Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(opencode): :sparkles: disable all mcp servers by default
  src/dot_config/opencode/opencode.json
Due: prettier-json

feat(mcphub): :sparkles: disable all mcp servers by default
  src/dot_config/mcphub/servers.json
Due: prettier-json

feat(mise): :sparkles: bump opencode from 0.3.111 to 0.4.2
  src/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: add keymap for line indentation
  src/dot_config/nvim/lua/user/keymaps.lua
Due: none

feat(lazygit): :sparkles: add custom keybindings for push files and patch options menu
  src/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: remove container name
  src/dot_config/opencode/opencode.json
Due: prettier-json

feat(nvim): :sparkles: replace hints config with selection hint_display setting
  src/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(nvim): :sparkles: add lazy loading events to conform.nvim
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: remove render-markdown.nvim
  src/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(nvim): :sparkles: change buffer move keymaps from >b/<b to ]<Tab>/[<Tab>
  src/dot_config/nvim/lua/user/plugins/interface.lua
Due: none

feat(tridactyl): :sparkles: add tab movement keybinds
  src/dot_config/tridactyl/tridactylrc
Due: none

feat(nvim): :sparkles: bump plugins
  src/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(mise): :sparkles: bump opencode-ai from 0.4.2 to 0.5.5
  src/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: remove plugins
  src/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(nvim): :sparkles: bump nvim-treesitter
  src/dot_config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): :sparkles: remove indent keymaps for normal mode
  src/dot_config/nvim/lua/user/keymaps.lua
Due: none

docs: :memo: update application list
  README.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: update description for chezmoi
  docs/install-archlinux-without-virtulization.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: add links to xcape and Space Cadet shift
  README.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: add space cadet shift mappings to keyd configuration table
  README.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: set executable permissions for external binary files
  src/.chezmoiexternal.toml
Due: taplo-format, taplo-lint

chore: :hammer: tweak hotkeys for WSL
  misc/wsl/src/.glzr/glazewm/hotkeys.ahk
Due: none

docs: :memo: add description for Chaotic-AUR repository
  README.md
Due: prettier-markdown, markdownlint-cli2

feat(hypr): :sparkles: change grimblast save to grimblast copysave
  src/dot_config/hypr/hyprland.conf
Due: hyprland

feat(mise): :sparkles: bump opencode-ai from 0.5.5 to 0.5.24
  src/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

chore: :hammer: use .chezmoidata in bootstrap script
  scripts/bootstrap.bash
Due: none

chore: :hammer: exclude scripts from chezmoi diff
  src/.chezmoi.toml.tmpl
Due: none

chore: :hammer: add aws-session-manager-plugin to chezmoidata
  src/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(zsh): :sparkles: add ssh alias to force xterm-256color
  src/dot_zshrc.d/conf.d/alias.zsh
Due: none

chore: :hammer: add wrapper script for draw.io.exe
  misc/wsl/src/.local/bin/drawio.exe
Due: none

feat(nvim): :sparkles: configure prettier with 4-space tabs for markdown files
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

chore: :hammer: use rofi v2 instead of rofi-wayland in chezmoidata
  src/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(tridactyl): :sparkles: enable superignore in grafana domains
  src/dot_config/tridactyl/tridactylrc
Due: none

feat(markdownlint): :sparkles: add config
  src/dot_markdownlint.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: bump plugin lockfile
  src/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(tmuxp): :sparkles: change SearXNG port from 7000 to 8100
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(tmuxp): :sparkles: add searxng
  src/dot_config/mise/config.toml
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
