Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$

feat(nvim): :sparkles: use yazi.nvim instead of telescope-file-browser
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/explorer.lua
  src/.config/nvim/lua/user/plugins/finder.lua
Due: prettier

feat(nvim): :sparkles: add scope.nvim for tab management
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

refactor: :recycle: remove symbols-outline from lualine.nvim extensions
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

refactor(nvim): :recycle: add user plugin module
  src/.config/nvim/init.lua
  src/.config/nvim/lua/user/plugin.lua
Due: none

refactor(nvim): :recycle: add error handling of lazy.nvim
  src/.config/nvim/lua/user/plugin.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(zsh): :sparkles: load tmuxp workspaces at startup
  src/.config/systemd/user/tmux.service
  src/.config/tmuxp/main.yaml
  src/.zshrc
Due: yamlfmt, yamllint

feat(nvim): :sparkles: use grug-far.nvim instead of nvim-spectre
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/editing.lua
Due: prettier

refactor(nvim): :recycle: remove telescope-file-browser.nvim from lock file
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): :sparkles: disable absolute path in nvim-tree.lua notifications
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(nvim): :sparkles: use short labels of nvim-tree.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(nvim): :sparkles: use telescope.nvim as file selector in avante.nvim
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

feat(nvim): :sparkles: change border style from rounded to single in avante.nvim
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

chore: :hammer: remove fabric from pkglist
  misc/pkglist/developer-tools.txt
  src/.zshrc.d/alias.zsh
Due: pkglist

feat(nvim): :sparkles: add keymap to open mcphub.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/utils/ui.lua
Due: none

fix(nvim): :bug: update keymap for package manager
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add keymap and custom prompt of avante.nvim
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

feat(zsh-abbr): :sparkles: add abbreviations for sops command
  src/.config/zsh-abbr/user-abbreviations
Due: none

style(zsh-abbr): :lipstick: move 'yy' abbreviation to end of file
  src/.config/zsh-abbr/user-abbreviations
Due: none

feat(nvim): :sparkles: change result separator from '' to '━' in grug-far.nvim
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

feat(nvim): :sparkles: bump plugins
  src/.config/mise/config.toml
  src/.config/nvim/lazy-lock.json
Due: prettier, taplo-format, taplo-lint

feat(nvim): :sparkles: disable verbose output in img-clip.nvim
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

feat(nvim): :sparkles: remove range-highlight.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

chore: :hammer: add wl-paste wrapper script for WSL
  misc/wsl/src/.local/bin/wl-paste
Due: none

refactor(nvim): :recycle: use opts of lazy.nvim
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/completion.lua
  src/.config/nvim/lua/user/plugins/debugging.lua
  src/.config/nvim/lua/user/plugins/editing.lua
  src/.config/nvim/lua/user/plugins/finder.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/lua/user/plugins/marks.lua
  src/.config/nvim/lua/user/plugins/project.lua
  src/.config/nvim/lua/user/plugins/syntax.lua
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(ghostty): :sparkles: add keybind to insert tab character
  src/.config/ghostty/config
Due: none

fix(tmux): :bug: add `mise env` to avoid dependency error
  src/.config/tmux/tmux.conf
Due: none

feat(tmux): :sparkles: enable OSC 8
  src/.config/tmux/tmux.conf
Due: none

feat(p10k): :sparkles: add OSC 133 support
  src/.p10k.zsh
Due: none

feat(tmux): :sparkles: add keybindings for OSC 133
  src/.config/tmux/tmux.conf
Due: none

docs(tmux): :memo: add comment for OSC 8
  src/.config/tmux/tmux.conf
Due: none

feat(mimeapps): :sparkles: update default applications
  misc/pkglist/utilities.txt
  src/.config/mimeapps.list
  src/.local/share/applications/yazi.desktop
Due: pkglist

feat(zsh): :sparkles: add shims to PATH before mise activate for GUI applications
  src/.config/tmux/tmux.conf
  src/.zshenv
Due: none

refactor(zsh): :recycle: update path variables
  src/.zshenv
Due: none

feat(zsh): :sparkles: add OSC 8 support to ls and eza commands
  src/.zshrc.d/alias.zsh
Due: none

style(zsh): :lipstick: change double quotes to single quotes in alias definitions for consistency
  src/.zshrc.d/alias.zsh
Due: none

feat(applications): :sparkles: add desktop entry for Tresorit
  src/.local/share/applications/tresorit.desktop
Due: none

feat(nvim): :sparkles: add nvim-scrollbar
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

feat(nvim): :sparkles: set black background and custom close icons in nvim-bufferline.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(mise): :sparkles: add gitmoji-cli
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: change which-key.nvim preset from "modern" to "helix
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none
