Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(cz): :sparkles: switch AI model to GPT-5.3 Codex
  home/dot_czrc
Due: none

feat(tmuxp): :sparkles: mount volume of litellm chatgpt config
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(wt): :sparkles: add config
  home/dot_config/mise/config.toml
  home/dot_config/worktrunk/config.toml
  home/dot_config/zsh-abbr/private_user-abbreviations
  home/dot_zshrc.d/conf.d/command.zsh
Due: taplo-format, taplo-lint

chore: :hammer: update cpupower config path to cpupower-service.conf
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
Due: none

refactor(opencode): :recycle: remove unused models
  home/dot_config/opencode/opencode.jsonc
Due: none

refactor(tmuxp): :recycle: simplify LiteLLM config and drop Bedrock env dependency
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: add permission alerts and ignore subagent idle notifications
  home/dot_config/opencode/plugin/notification.ts
  tsconfig.json
Due: prettier-json

feat(nvim): :sparkles: use GPT for avante.nvim
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

chore: :hammer: disable auto enable of bluetooth
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
Due: none

feat(nvim): :sparkles: bump nvim from 0.11 to 0.12
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/keymaps.lua
  home/dot_config/nvim/lua/user/options.lua
  home/dot_config/nvim/lua/user/plugins/ai.lua
  home/dot_config/nvim/lua/user/plugins/completion.lua
  home/dot_config/nvim/lua/user/plugins/editing.lua
  home/dot_config/nvim/lua/user/plugins/interface.lua
  home/dot_config/nvim/lua/user/plugins/lang.lua
  home/dot_config/tmux/tmux.conf
Due: prettier-json

feat(mise): :sparkles: use npm.package_manager instead of npm.bun
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: set 7 days into install_before option
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mimeapps): :sparkles: rename signal desktop
  home/dot_config/private_mimeapps.list
Due: none

feat(tmuxp): :sparkles: bump ai model from gpt-5.3-codex to gpt-5.4
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/tmuxp/misc.yaml
  home/dot_czrc
Due: yamlfmt, yamllint

feat(btop): :sparkles: bump btop from 1.4.5 to 1.4.6
  home/dot_config/btop/btop.conf
Due: none

feat(mise): :sparkles: bump opencode from 1.2.6 to 1.4.3
  .editorconfig
  .pre-commit-config.yaml
  .prettierignore
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint

style(ghostty): :lipstick: add file extension
  home/dot_config/ghostty/config.ghostty
Due: none

feat(nvim): :sparkles: migrate configuration of nvim-surround from v3 to v4
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: none

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat: :sparkles: remove spotify
  README.md
  docs/screenshots/ncspot.png
  home/.chezmoidata/packages.yaml
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
  home/dot_config/hypr/hyprland.conf
  home/dot_config/ncspot/config.toml
  home/dot_config/private_mimeapps.list
  home/dot_zshrc.d/functions/ncspot-widget
  home/dot_zshrc.d/functions/zvm_after_init
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland

feat(mise): :sparkles: bump opencode from 1.4.3 to 1.14.25
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(cz): :sparkles: bump ai model from gpt 5.4 to gpt 5.5
  home/dot_config/tmuxp/ai.yaml
  home/dot_czrc
Due: yamlfmt, yamllint

feat(opencode): :sparkles: bump model from gpt 5.4 to gpt 5.5
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(tmuxp): :sparkles: pin docker image tag of litellm
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint

feat(tmuxp): :sparkles: add workspace for ai
  home/dot_config/tmuxp/ai.yaml
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

chore: :hammer: fix indent of chezmoi scripts
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

feat(sheldon): :sparkles: bump zsh-vi-mode from v0.11.0 to v0.12.0
  home/dot_config/sheldon/plugins.toml
  home/dot_zshrc
  home/dot_zshrc.d/functions/zvm_after_init
Due: taplo-format, taplo-lint

feat(sheldon): :sparkles: bump powerlevel10k
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: remove echo command from allowed commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(hypr): :sparkles: add rofi-calc
  home/.chezmoidata/packages.yaml
  home/dot_config/hypr/hyprland.conf
Due: yamlfmt, yamllint, hyprland

feat(sheldon): :sparkles: bump zsh-abbr from v6.1.0 to v6.5.2
  home/dot_config/sheldon/plugins.toml
  home/dot_zshrc.d/functions/source
Due: taplo-format, taplo-lint

feat(sheldon): :sparkles: bump zsh-completions to v0.36.0
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(sheldon): :sparkles: bump zsh-auto-notify to v0.11.1
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(sheldon): :sparkles: bump fast-syntax-highlighting
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(sheldon): :sparkles: bump zsh-autocomplete
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

fix(nvim): :bug: remove winborder for noice.nvim
  home/dot_config/nvim/lua/user/options.lua
Due: none

fix(zsh): :bug: rename tmuxp workspace
  home/dot_zshrc
Due: none

feat(nvim): :sparkles: add clever-f.vim
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/motion.lua
Due: prettier-json

feat(sheldon): :sparkles: pin ohmyzsh
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(agents): :sparkles: add skills for terraform
  .editorconfig
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  .prettierignore
  home/dot_agents/skills/find-skills/SKILL.md
  home/dot_agents/skills/refactor-module/SKILL.md
  home/dot_agents/skills/terraform-search-import/SKILL.md
  home/dot_agents/skills/terraform-search-import/references/MANUAL-IMPORT.md
  home/dot_agents/skills/terraform-search-import/scripts/list_resources.sh
  home/dot_agents/skills/terraform-style-guide/SECURITY.md
  home/dot_agents/skills/terraform-style-guide/SKILL.md
  home/dot_agents/skills/terraform-test/SKILL.md
  home/dot_agents/skills/terraform-test/references/CI_CD.md
  home/dot_agents/skills/terraform-test/references/EXAMPLES.md
  home/dot_agents/skills/terraform-test/references/MOCK_PROVIDERS.md
  home/dot_config/mise/config.toml
  home/dot_local/private_state/skills/dot_skill-lock.json
  typos.toml
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2
