Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

prettier:
  name: format json and markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

sway:
  name: check config of sway with sway --validate option
  language: system
  entry: sway --validate
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

clang-format:
  name: format c files with clang-format
  language: system
  entry: just src/.config/qmk/fmt
  pass_filenames: false

pkglist:
  name: format pkglist
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t sort -uo {} {}"

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

fishtape:
  name: test fish functions
  language: system
  entry: fishtape
  args:
  - src/.config/fish/tests/functions/*
  pass_filenames: false

feat: remove unnecessary wrapper script for nnn
  src/.local/bin/imvr
  src/.local/src/dotfiles/imvr.bash
Due: none

feat: remove unnecessary wrapper script for stegsolve
  src/.local/bin/stegsolve
  src/.local/src/dotfiles/stegsolve.bash
Due: none

fix: use exec command in wrapper scripts
  src/.local/src/dotfiles/nuke.bash
  src/.local/src/dotfiles/zoom.bash
Due: none

ci: add pkg-config command
  .github/workflows/main.yml
Due: yamlfmt, yamllint

feat(yay): disable combined upgrade
  src/.config/yay/config.json
Due: prettier

feat(yay): enable batch install
  src/.config/yay/config.json
Due: prettier

chore: remove pack-cli from pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

docs: tweak install guide for USB drive
  docs/install-archlinux-without-virtulization.md
Due: prettier, markdownlint-cli2

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

chore: add elia
  misc/pkglist/developer-tools.txt
  scripts/bootstrap.bash
  src/.config/fish/usr/conf.d/alias.fish
  src/.local/bin/elia-wrapper
  src/.local/src/dotfiles/elia-wrapper.bash
Due: pkglist

feat(nvim): tweak listchars
  src/.config/nvim/lua/user/options.lua
Due: none

feat(nvim): add vim-better-whitespace
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

feat(nvim): add undotree
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

feat(nvim): bump neoscroll
  src/.config/nvim/lazy-lock.json
Due: prettier

refactor(nvim): use vim.api.nvim_input for LSP keymap
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): tweak shortmess to clean messages
  src/.config/nvim/lua/user/options.lua
Due: none

feat(nvim): add ChatGPT.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/keymaps.lua
  src/.config/nvim/misc/chatgpt-actions.json
Due: prettier

feat(nvim): use silent command when toggle table mode
  src/.config/nvim/lua/user/plugins/filetype.lua
Due: none

feat(nvim): remove termguicolors to use default value of nvim 0.10.0
  src/.config/nvim/lua/user/options.lua
Due: none

refactor: use init and keys instead of config
  src/.config/nvim/lua/user/plugins/completion.lua
  src/.config/nvim/lua/user/plugins/editing.lua
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(nvim): tweak indent
  src/.config/nvim/after/ftplugin/markdown.lua
  src/.config/nvim/indent/direnv.lua
  src/.config/nvim/indent/fish.lua
  src/.config/nvim/indent/lua.lua
  src/.config/nvim/indent/markdown.lua
  src/.config/nvim/indent/sh.lua
  src/.config/nvim/indent/typescript.lua
  src/.config/nvim/indent/zsh.lua
Due: none

feat(nvim): use unicode char and short indicator in undotree
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): tweak icon of neotest
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(nvim): remove copilot.lua and ChatGPT.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/completion.lua
Due: prettier

feat(nvim): remove copilot-cmp
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): use window id to focus diagnostics window
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): tweak interface of neotest
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(nvim): downgrade neodev.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier

feat(nvim): change keymap from % to m for matchup
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): change color highlighter from nvim-colorizer.lua to nvim-highlight-colors
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

feat(nvim): bump trouble.nvim from v2 to v3
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier

feat(nvim): tweak indent for some filetypes
  src/.config/nvim/indent/json.lua
  src/.config/nvim/indent/jsonc.lua
  src/.config/nvim/indent/typescriptreact.lua
Due: none

feat(nvim): output coverage file of golang to current directory
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(nvim): add keymap description for LSP
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): add neotest to sidebar offset
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

chore: add freeze and vhs to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(nvim): rename module name to load live-command
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

feat(nvim): exclude dbout from bettervim-better-whitespace
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat: add wrapper script for dbui
  src/.config/fish/usr/functions/fish_user_key_bindings.fish
  src/.config/tmux/tmux.conf
  src/.local/bin/dbui
  src/.local/src/dotfiles/dbui.bash
Due: none

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$
