Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(zsh): change header icon for completion
  src/.zshenv
Due: none

feat(tmux): use $HOME instead of $XDG_DATA_HOME
  src/.config/tmux/theme.tmux
Due: none

chore: remove direnv
  .dockerignore
  .editorconfig
  .envrc
  .gitignore
  .pre-commit-config.yaml
  bin/goss
  justfile
  misc/pkglist/developer-tools.txt
  mise.toml
  src/.config/mise/config.toml
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/tmux/tmux.conf
  src/.zshrc
  src/.zshrc.d/command.zsh
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint

revert: "chore: add wrapper script for WSL"
  misc/wsl/src/.config/wezterm/wezterm.lua
  misc/wsl/src/.local/bin/tmuxs
Due: none

chore: add wrapper script for WSL
  misc/wsl/src/.config/wezterm/wezterm.lua
  misc/wsl/src/.local/bin/tmuxs
Due: none

chore: use sql-formatter of aur
  misc/pkglist/developer-tools.txt
  scripts/bootstrap.bash
Due: none

feat(zsh): disable highlight for paste
  src/.zshenv
Due: none

feat(tmux): add tmux-powerline
  .editorconfig
  src/.config/tmux-powerline/config.sh
  src/.config/tmux-powerline/themes/tokyonight.sh
  src/.config/tmux/theme.tmux
  src/.config/tmux/tmux.conf
Due: none

feat(zsh): use tmux without exec command
  src/.zshrc
Due: none

feat(tmux): add tmux plugin directory to gitignore
  .gitignore
Due: none

ci: add mise
  .github/workflows/main.yml
Due: yamlfmt, yamllint

chore: fix indent type
  misc/mock/containerd-rootless-setuptool.sh
Due: none

feat(hypr): add uwsm to run hyprland on systemd
  misc/pkglist/window-manager.txt
  src/.config/hypr/hyprland.conf
  src/.config/uwsm/env
  src/.config/uwsm/env-hyprland
  src/.config/wlogout/layout
Due: hyprland

feat(fastfetch): change logo type from sixel to kitty
  misc/pkglist/developer-tools.txt
  src/.config/fastfetch/config.jsonc
Due: none

feat(pet): update snippets for posix sh
  src/.config/pet/snippet.toml
Due: taplo-lint

feat(pet): add snippet for most used command
  src/.config/pet/snippet.toml
Due: taplo-lint

chore: ignore snippet.toml from `taplo format`
  .taplo.toml
Due: taplo-format, taplo-lint

feat(zsh): use `mise hook-env` for instant prompt
  src/.zshrc
  src/.zshrc.d/command.zsh
Due: none

chore: add direnv for devbox
  misc/pkglist/developer-tools.txt
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/tmux/tmux.conf
  src/.zshrc
  src/.zshrc.d/command.zsh
Due: prettier-json

chore: remove unused script
  src/.local/bin/bgm
  src/.local/src/dotfiles/bgm.bash
Due: none

feat(zsh): use $TTY instead of tty command to make faster
  src/.zshenv
Due: none

feat(zsh-abbr): add abbreviation for kubectx
  src/.config/zsh-abbr/user-abbreviations
Due: none

chore: remove unnecessary scripts for WSL
  docs/install-archlinux-on-wsl2.md
  misc/wsl/misc/.wslconfig
  misc/wsl/src/.config/mpv/mpv.conf
  misc/wsl/src/.config/nvim/lua/user/local.lua
  misc/wsl/src/.config/systemd/user/wsl-wayland-symlink.service
  misc/wsl/src/.config/tmux/tmux.conf.local
  misc/wsl/src/.local/bin/clip.exe
  misc/wsl/src/.local/bin/mpv
  misc/wsl/src/.local/bin/win32yank.exe
  misc/wsl/src/.local/bin/wl-copy
  misc/wsl/src/.local/bin/xsel
  misc/wsl/src/.zshenv.local
Due: prettier-markdown, markdownlint-cli2

chore: remove unused script
  src/.config/tmux/tmux.conf
  src/.local/bin/tmuxr
  src/.local/src/dotfiles/tmuxr.bash
Due: none

feat(zsh): add double quote for $TTY
  src/.zshenv
Due: none

refactor(zsh): remove unnecessary config for tmux
  src/.zshrc
Due: none

feat(sheldon): add description comment
  src/.config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

chore: add uv to pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(mise): add posting
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

chore: add fabric-ai to pkglist
  misc/pkglist/developer-tools.txt
  src/.zshrc.d/alias.zsh
Due: none

feat(mise): add harlequin
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): add elia-chat
  scripts/bootstrap.bash
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

chore: add wrapper script for WSL
  misc/wsl/src/.local/bin/explorer.exe
Due: none

chore(mise): add go packages
  scripts/bootstrap.bash
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): use vim.diagnostic.config instead of vim.fn.sign_define
  src/.config/nvim/lua/user/options.lua
Due: none

feat(nvim): change keymap from yn to yy
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(ghostty): disable Discretionary Ligatures
  src/.config/ghostty/config
Due: none

feat(hypr): remove icon from hyprbar
  src/.config/hypr/hyprland.conf
Due: hyprland

feat(yazi): add config
  .dockerignore
  .github/workflows/main.yml
  .gitignore
  .ignore
  .markdownlint.json
  README.md
  lua-yazi.toml
  misc/pkglist/developer-tools.txt
  misc/pkglist/window-manager.txt
  misc/screenshots/nnn.png
  misc/screenshots/yazi.png
  selene.toml
  src/.config/hypr/hyprland.conf
  src/.config/lazygit/config.yml
  src/.config/nnn/bookmarks/dirbuster
  src/.config/nnn/bookmarks/dotfiles
  src/.config/nnn/bookmarks/webshells
  src/.config/nnn/bookmarks/wordlists
  src/.config/nnn/plugins
  src/.config/tmux/tmux.conf
  src/.config/yazi/init.lua
  src/.config/yazi/keymap.toml
  src/.config/yazi/package.toml
  src/.config/yazi/theme.toml
  src/.config/yazi/yazi.toml
  src/.config/zsh-abbr/user-abbreviations
  src/.local/bin/nnn-diff
  src/.local/bin/nnn-home
  src/.local/bin/nuke
  src/.local/src/dotfiles/nnn-diff.bash
  src/.local/src/dotfiles/nnn-home.bash
  src/.local/src/dotfiles/nuke.bash
  src/.zfunctions/n
  src/.zfunctions/y
  src/.zfunctions/y-widget
  src/.zfunctions/zvm_after_init
  src/.zshenv
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json
