Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(nvim): use VimEnter for lazy loading in hydra.nvim and which-key.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(nvim): add keymap for telescope-file-browser.nvim
  src/.config/nvim/lua/user/plugins/finder.lua
Due: none

feat(nvim): add keymap to dismiss notifications
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): add vim-slime
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

feat(nvim): add keymap for vim-slime to enable lazy loading
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(fish): add abbreviations for helm template and helmfile template
  src/.config/fish/config.fish
Due: none

feat(nvim): add keymap and tweak UI for debugger
  src/.config/nvim/lua/user/plugins/debugging.lua
Due: none

chore: add ts-node to pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json

chore: add simplenote to pkglist
  misc/pkglist/developer-tools.txt
Due: none

chore: add standard notes to pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(yamlfmt): set max_line_length into 80
  src/.config/yamlfmt/yamlfmt.yaml
Due: yamlfmt, yamllint

feat(nvim): enable nvim-notify in vim-dadbod-ui
  src/.config/nvim/lua/user/plugins/database.lua
Due: none

feat(nvim): tweak lazy-loading in vim-dadbod-ui
  src/.config/nvim/lua/user/plugins/database.lua
Due: none

chore: enable dns tunneling for WSL
  misc/wsl/misc/.wslconfig
Due: none

revert: "feat(yamlfmt): set max_line_length into 80"
  src/.config/yamlfmt/yamlfmt.yaml
Due: yamlfmt, yamllint

feat(nvim): disable fold in vim-dadbod-ui
  src/.config/nvim/lua/user/plugins/database.lua
Due: none

feat(nvim): add keymap to jump test
  src/.config/nvim/lua/user/plugins/syntax.lua
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(nvim): add keymap to dismiss notification
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): disable temporary files when edit secrets with gopass
  src/.config/nvim/lua/user/autocmds.lua
Due: none

feat(nvim): use minty instead of ccc.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

feat(nvim): use neotest-golang instead of neotest-go
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/test.lua
Due: prettier-json

feat(nvim): enable quickfix in neotest
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(mise): add gotestsum to global tool
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

ci: use chaotic-aur instead of aur
  .github/workflows/main.yml
  src/.config/qmk/justfile
Due: yamlfmt, yamllint

chore: hide list all tabs button for firefox
  justfile
  misc/firefox/chrome/userChrome.css
  misc/firefox/user.js
Due: none

chore: add yaegi to pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(nvim): use <cmd> instead of :<C-u>
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/plugins/version.lua
Due: none

chore: add amazon-ecr-credential-helper to pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(nvim): add dial.nvim augend for SQL
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

chore: use mirrored mode instead of DNS tunneling for WSL
  misc/wsl/misc/.wslconfig
Due: none

feat(espanso): add trigger for time
  src/.config/espanso/match/base.yml
Due: yamlfmt, yamllint

feat(espanso): add trigger for japanese
  src/.config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

chore: use Run instead of RunWait in ahk
  misc/wsl/misc/komorebi.ahk
Due: none

feat(fish): add abbreviation for helmfile sync
  src/.config/fish/config.fish
Due: none

feat(fish): add abbreviation for just init
  src/.config/fish/config.fish
Due: none

feat(nvim): use LeonB/vim-textobj-url instead of mattn/vim-textobj-url
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(fish): add abbreviations for mise use --pin and mise latest
  src/.config/fish/config.fish
Due: none

feat(nvim): add keymap to edit query in vim-dadbod-ui
  src/.config/nvim/lua/user/plugins/database.lua
Due: none
