Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

Path conditions:
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/*.(h|c)$
  pkglist: any of: misc/pkglist/*
  visudo: any of: misc/etc/sudoer.d/*
  fishtape: any of: .config/fish/{usr,tests}/functions/*.fish$

feat(tmux): tweak keybind for copy mode
  src/.config/tmux/tmux.conf
Due: none

chore: remove unused packages
  goss-vars.yaml
  misc/pkglist/package-manegement.txt
  misc/pkglist/utilities.txt
Due: pkglist

feat(fish): tweak abbreviation for cp
  src/.config/fish/config.fish
Due: none

chore: add gh-dash
  scripts/bootstrap.bash
  src/.config/fish/config.fish
  src/.config/fish/usr/functions/fish_user_key_bindings.fish
  src/.config/tmux/tmux.conf
Due: none

feat(fish): add abbreviation for mkdir
  src/.config/fish/config.fish
Due: none

feat(sway): tweak keybind
  src/.config/sway/config
Due: sway

feat(fish): add puffer-fish and sponge
  src/.config/fish/fish_plugins
Due: none

feat(lazygit): tweak custom commands
  goss-vars.yaml
  misc/pkglist/developer-tools.txt
  src/.config/lazygit/config.yml
Due: pkglist

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: none

feat(fish): add abbreviations for fish
  src/.config/fish/config.fish
Due: none

feat(nvim): add some linter and formatter
  goss-vars.yaml
  misc/pkglist/developer-tools.txt
  src/.config/nvim/lua/user/plugins/lang.lua
Due: pkglist

feat(nvim): restrict filetypes for cspell
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(rtx): disable legacy version file
  src/.config/rtx/config.toml
Due: taplo-format, taplo-lint

chore: renmae python-pre-commit to pre-commit
  goss-vars.yaml
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(sway): add keybind for iwctl and bluetuith
  src/.config/sway/config
Due: sway

feat(yamlfmt): add config
  .yamllint.yaml
  goss-vars.yaml
  src/.config/yamlfmt/.yamlfmt
Due: none

style: format with yamlfmt
  .commitlintrc.yaml
  .pre-commit-config.yaml
  goss-vars.yaml
  goss.yaml
  goss_privileged.yaml
  misc/etc/interception/dual-function-keys/xcape.yaml
  misc/etc/interception/udevmon.yaml
  misc/security-lab/charts/dvga/Chart.yaml
  misc/security-lab/charts/dvga/values.yaml
  misc/security-lab/charts/machine/Chart.yaml
  misc/security-lab/charts/machine/values.yaml
  misc/security-lab/charts/webgoat/Chart.yaml
  misc/security-lab/charts/webgoat/values.yaml
  misc/security-lab/kind.yaml
  misc/security-lab/skaffold.yaml
  src/.config/lazydocker/config.yml
  src/.config/lazygit/config.yml
  src/.config/tmuxp/dotfiles.yaml
  src/.config/tmuxp/misc.yaml
  src/.kube/kubie.yaml
  src/.stylelintrc.yaml
  test/file.yaml
  test/group.yaml
  test/interface.yaml
  test/mount.yaml
  test/port.yaml
  test/privileged/file.yaml
  test/scripts/output-vars.bash
  test/service.yaml
Due: none

feat(lazygit): remove squash merge from custom commands
  src/.config/lazygit/config.yml
Due: none

feat(lazygit): use description instead of laodingText when subprocess is true
  src/.config/lazygit/config.yml
Due: none

feat(lazygit): tweak description and loadingText in custom commands
  src/.config/lazygit/config.yml
Due: none

feat(lazygit): add `git cz --no-verify` to custom command
  src/.config/lazygit/config.yml
Due: none

chore: fix pre-commit config
  .pre-commit-config.yaml
Due: none

feat(nvim): remove codespell and cspell
  goss-vars.yaml
  misc/pkglist/developer-tools.txt
  src/.config/nvim/lua/user/plugins/lang.lua
Due: pkglist

test: remove goss-vars.yaml
  .gitignore
  goss-vars.yaml
Due: none

chore: add polkit agent to pkglist
  misc/pkglist/utilities.txt
  src/.config/sway/config
Due: sway, pkglist

docs: add detailed description for systemd-cryptenroll
  scripts/bootstrap.bash
Due: none

chore: configure PAM U2F module
  README.md
  misc/pkglist/security-key.txt
  scripts/bootstrap.bash
Due: pkglist

feat(tmux): remove unused keybinds
  src/.config/tmux/tmux.conf
Due: none

feat(tmux): remove tmux-1password
  src/.config/tmux/tmux.conf
Due: none

style: format with prettier
  docs/install-archlinux-on-wsl2.md
Due: none

chore: remove package for WSL
  docs/install-archlinux-on-wsl2.md
Due: none

feat(nvim): change diagnostic severity from error to info in write-good
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): remove unnecessary filetype detect
  src/.config/nvim/ftdetect/helm.lua
Due: none

chore: add wrapper script for WSL
  misc/wsl/src/.local/bin/xdg-open
Due: none

feat(fish): add abbreviations for terraform and terragrunt
  src/.config/fish/config.fish
Due: none

feat(nvim): add urlview.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/browser.lua
Due: none

feat(nvim): enable jump keymaps for urlview.nvim
  src/.config/nvim/lua/user/plugins/browser.lua
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(nvim): update for lazy load
  src/.config/nvim/lua/user/plugins/database.lua
  src/.config/nvim/lua/user/plugins/editing.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/keymaps.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/lua/user/plugins/project.lua
  src/.config/nvim/lua/user/plugins/version.lua
Due: none

feat: remove wrapper script for burpsuite
  scripts/bootstrap.bash
  src/.local/bin/burpsuite
  src/.local/src/dotfiles/burpsuite.bash
  src/.zshenv
Due: none

chore: migrate proxy addon from FoxyProxy to SwitchyOmega
  .editorconfig
  .pre-commit-config.yaml
  .prettierignore
  README.md
  misc/firefox/foxy_proxy.json
  misc/firefox/switchy_omega.bak
Due: none
