Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

chore: :hammer: bump ly to 1.3.0
  home/.chezmoidata/services.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: bump lockfile
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

chore: :hammer: switch bun package from chaotic-aur to extra repo
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(yazi): :sparkles: update plugins and theme for v25.12.29
  home/dot_config/yazi/package.toml
  home/dot_config/yazi/theme.toml
Due: taplo-format, taplo-lint

style(lazygit): :lipstick: normalize quotes to double quotes with prettier
  home/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(hypr): :sparkles: update syntax for v0.53.0 and add permissions
  home/.chezmoidata/services.yaml
  home/dot_config/hypr/hyprland.conf
  home/dot_config/hypr/hyprpaper.conf
Due: yamlfmt, yamllint, hyprland

feat(lazygit): :sparkles: convert git.paging to git.pagers array format
  home/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(zsh): :sparkles: change bluetui widget keybinding from ^ob to ^o^w
  home/dot_zshrc.d/functions/zvm_after_init
Due: none

feat(opencode): :sparkles: add safety prompts for dangerous find command options
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(zsh): :sparkles: add zsh widget to launch impala with Ctrl-O W binding
  home/dot_zshrc.d/functions/impala-widget
  home/dot_zshrc.d/functions/zvm_after_init
Due: none

feat(mise): :sparkles: bump opencode from 1.0.134 to 1.0.223
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(btop): :sparkles: enable CPU power consumption display in watts
  home/dot_config/btop/btop.conf
Due: none

feat(zsh): :sparkles: add ignore list for zsh-auto-notify interactive tools
  home/dot_zshrc
Due: none

feat(yazi): :sparkles: use <C-l> instead of Y and X for unyank
  home/dot_config/yazi/keymap.toml
Due: taplo-format, taplo-lint

refactor(nvim): :recycle: update warning and disable auto_suggestions_provider
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(yazi): :sparkles: add Ctrl+S keybinding for ripgrep content search
  home/dot_config/yazi/keymap.toml
Due: taplo-format, taplo-lint

docs: :memo: add OpenCode as coding agent to README
  README.md
Due: prettier-markdown, markdownlint-cli2

feat: :sparkles: add wrapper script for git czg
  home/dot_local/bin/executable_cz-editor
  home/dot_zshenv
Due: none

feat(nvim): :sparkles: change icon from copilot to robot in lspkind symbol map
  home/dot_config/nvim/lua/user/plugins/completion.lua
Due: none

feat: :sparkles: add git-czg wrapper with API key injection from gopass
  home/dot_config/private_dot_czrc
  home/dot_local/bin/executable_git
Due: none

feat(espanso): :sparkles: update symbol triggers to use 's' prefix for consistency
  home/dot_config/espanso/match/symbol.yml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: remove unused subagent
  home/dot_config/opencode/agent/aws.md
  home/dot_config/opencode/agent/context7.md
  home/dot_config/opencode/agent/playwright.md
  home/dot_config/opencode/agent/terraform.md
Due: prettier-markdown, markdownlint-cli2

feat(cz): :sparkles: disable uppercase subjects
  home/dot_czrc
Due: none

chore: :hammer: remove theharvester, add playwright to package list
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: add skill-creator and terraform-module skills
  home/dot_config/opencode/skill/skill-creator/SKILL.md
  home/dot_config/opencode/skill/terraform-module/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(zsh-abbr): :sparkles: add git czg abbreviations
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

chore: :hammer: add gifsicle package for GIF processing
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: update model name
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: change model name of avante.nvim
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(mise): :sparkles: add Bun runtime and ni package manager
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: map Ctrl-k to command mode, remove LSP signature binding
  home/dot_config/nvim/lua/user/keymaps.lua
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

chore: :hammer: add osv-scanner to package list
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(zsh-abbr): :sparkles: replace pnpm command with ni command
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(tmux): :sparkles: add keybind to paste via gopass and fzf
  home/dot_config/tmux/tmux.conf
Due: none

feat(mise): :sparkles: bump opencode-ai from 1.0.223 to 1.1.11
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: switch leap.nvim source from GitHub to Codeberg
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/motion.lua
Due: prettier-json

feat(opencode): :sparkles: add yamlfmt for YAML files
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: use builtin Terraform formatter and LSP configuration
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add plugin with idle session notifications
  home/dot_config/opencode/package.json
  home/dot_config/opencode/plugin/notification.ts
  tsconfig.json
Due: prettier-json

feat(opencode): :sparkles: add bash command permissions
  home/dot_config/opencode/opencode.jsonc
Due: none

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
