Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

chore: :hammer: remove unused Dockerfile
  .dockerignore
  Dockerfile
  README.md
  justfile
  test/scripts/dgoss.bash
Due: prettier-markdown, markdownlint-cli2

feat(lazygit): :sparkles: add branch prefix for release and misc
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: :hammer: use espanso-wayland instead of espanso-wayland-git
  misc/pkglist/utilities.txt
Due: none

chore: :hammer: remove unused config
  .github/workflows/main.yml
  justfile
Due: yamlfmt, yamllint

feat(mise): :sparkles: add claude code to tools
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(qmk): :sparkles: remove config
  .github/workflows/main.yml
  .gitmodules
  .ignore
  .pre-commit-config.yaml
  README.md
  misc/pkglist/developer-tools.txt
  src/.config/qmk/justfile
  src/.config/qmk/keyboards/zsa/moonlander/keymap/config.h
  src/.config/qmk/keyboards/zsa/moonlander/keymap/keymap.c
  src/.config/qmk/keyboards/zsa/moonlander/keymap/rules.mk
  src/.config/qmk/keyboards/zsa/voyager/keymap/config.h
  src/.config/qmk/keyboards/zsa/voyager/keymap/keymap.c
  src/.config/qmk/keyboards/zsa/voyager/keymap/rules.mk
  src/.config/qmk/qmk.ini
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

test: :white_check_mark: remove test for root user
  .github/workflows/main.yml
  .pre-commit-config.yaml
  goss_privileged.yaml
  test/privileged/file.yaml
Due: yamlfmt, yamllint

chore: :hammer: remove config for cybersecurity training lab
  README.md
  misc/screenshots/pentest_lab_1.png
  misc/screenshots/pentest_lab_2.png
  misc/security-lab/.tool-versions
  misc/security-lab/charts/dvga/Chart.yaml
  misc/security-lab/charts/dvga/templates/NOTES.txt
  misc/security-lab/charts/dvga/templates/deployment.yaml
  misc/security-lab/charts/dvga/templates/service.yaml
  misc/security-lab/charts/dvga/values.yaml
  misc/security-lab/charts/machine/Chart.yaml
  misc/security-lab/charts/machine/templates/NOTES.txt
  misc/security-lab/charts/machine/templates/deployment.yaml
  misc/security-lab/charts/machine/templates/service.yaml
  misc/security-lab/charts/machine/values.yaml
  misc/security-lab/charts/webgoat/Chart.yaml
  misc/security-lab/charts/webgoat/templates/NOTES.txt
  misc/security-lab/charts/webgoat/templates/deployment.yaml
  misc/security-lab/charts/webgoat/templates/service.yaml
  misc/security-lab/charts/webgoat/templates/tests/test-connection.yaml
  misc/security-lab/charts/webgoat/values.yaml
  misc/security-lab/justfile
  misc/security-lab/kind.yaml
  misc/security-lab/scripts/check.bash
  misc/security-lab/skaffold.yaml
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

chore: :hammer: add bats to pkglist
  misc/pkglist/developer-tools.txt
Due: none

chore: :hammer: add bazecor to pkglist
  misc/pkglist/developer-tools.txt
Due: none

chore: :hammer: use xan instead of xsv
  misc/pkglist/developer-tools.txt
Due: none

chore: :hammer: update Tresorit desktop entry to version 3.5.1266.4580
  src/.local/share/applications/tresorit.desktop
Due: none

feat(nvim): :sparkles: use neoscroll.nvim instead of snacks.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

feat(nvim): :sparkles: add filter to skip hunk messages in noice.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

chore: :hammer: update hotkey and floating rules for glazewm
  misc/wsl/src/.glzr/glazewm/config.yaml
  misc/wsl/src/.glzr/glazewm/hotkeys.ahk
Due: yamlfmt, yamllint

feat(espanso): :sparkles: add trigger for "shared"
  src/.config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

chore: :hammer: add safety check to prevent accidental WSL uninstallation
  misc/wsl/src/.local/bin/wsl.exe
Due: none

feat(nvim): :sparkles: bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json

feat(mise): :sparkles: bump claude-code from 1.0.19 to 1.0.41
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

chore: :hammer: add wireguard-tools to pkglist
  misc/pkglist/network.txt
Due: none

feat(zsh): :sparkles: add lg to change directory on exit
  src/.zshrc.d/functions/lazygit-widget
  src/.zshrc.d/functions/lg
  src/.zshrc.d/functions/lg-widget
  src/.zshrc.d/functions/zvm_after_init
Due: none

chore: :hammer: use git-extras of chaotic-aur repository
  misc/pkglist/developer-tools.txt
Due: none

feat(nvim): :sparkles: enable diagnostic severity sorting
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

chore: :hammer: update Firefox search engine configuration
  src/.mozilla/firefox/v7fd4tvu.default-release/search.json.mozlz4
Due: none

chore: :hammer: add LibRedirect addon configuration for Firefox setup
  .editorconfig
  .pre-commit-config.yaml
  README.md
  misc/firefox/libredirect.json
Due: prettier-json, yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

chore: :hammer: remove unused config from bootstrap script
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

feat(zsh): :sparkles: enable transient prompt
  src/.p10k.zsh
Due: none

chore: :hammer: add security tools to pkglist
  .pre-commit-config.yaml
  misc/pkglist/security.txt
  src/.config/pet/snippet.toml
  src/.mozilla/firefox/installs.ini
  src/.mozilla/firefox/profiles.ini
  src/.zshrc.d/conf.d/alias.zsh
Due: yamlfmt, yamllint, taplo-lint

feat(nvim): :sparkles: add biome lsp via mason
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(mise): :sparkles: bump @anthropic-ai/claude-code from 1.0.41 to 1.0.51
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(tmuxp): :sparkles: add mcpo for open webui
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(waybar): :sparkles: tweak transparent
  src/.config/waybar/style.css
Due: none

feat(waybar): :sparkles: enable calendar tooltip of clock module
  .gitignore
  misc/pkglist/developer-tools.txt
  src/.config/calcure/config.ini
  src/.config/waybar/config
  src/.config/waybar/style.css
Due: none

feat(waybar): :sparkles: use icon of hyprland/workspace module
  src/.config/waybar/config
  src/.config/waybar/style.css
Due: none

feat(mise): :sparkles: add gibo
  misc/pkglist/developer-tools.txt
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: add packages
  misc/pkglist/developer-tools.txt
  misc/pkglist/utilities.txt
  misc/pkglist/window-manager.txt
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: add pet
  misc/pkglist/developer-tools.txt
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

docs: :memo: update screenshots
  misc/screenshots/no_window.png
  misc/screenshots/overview.png
Due: none

feat(swaync): :sparkles: disable background color for notification groups
  src/.config/swaync/style.css
Due: none

chore: :hammer: add site-specific canvas blocker exceptions for compatibility
  .editorconfig
  .pre-commit-config.yaml
  .prettierignore
  misc/firefox/canvas-blocker.json
Due: prettier-json, yamlfmt, yamllint

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
