Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$

feat(nvim): set yaml into filetype when buffer read yamllint config
  src/.config/nvim/ftdetect/yaml.lua
Due: none

feat(nvim): add keymap to view notification history
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(nvim): use vim.notify when deleted buffer
  src/.config/nvim/init.lua
  src/.config/nvim/lua/user/autocmds.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

chore: set 2GHz into max_freq for cpupower
  scripts/bootstrap.bash
Due: none

feat(nvim): set EnableWhitespace and DisableWhitespace into lazy loading
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): use vim.notify in utils module
  src/.config/nvim/lua/user/utils/yank.lua
Due: none

feat(nvim): add keymap for inner WORD and a WORD
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): enable dynamic width of nvim-tree.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(nvim): add custom keymaps of nvim-tree.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(nvim): disable winblend of telescope
  src/.config/nvim/lua/user/plugins/finder.lua
Due: none

feat(nvim): add keymap to move to bottom in telescope.nvim
  src/.config/nvim/lua/user/plugins/finder.lua
Due: none

feat(nvim): add keymap for telescope-file-browser.nvim
  src/.config/nvim/lua/user/plugins/finder.lua
Due: none

feat(nvim): use VimEnter for lazy loading in hydra.nvim and which-key.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(qmk): add voyager
  src/.config/qmk/disable_thread.patch
  src/.config/qmk/justfile
  src/.config/qmk/keyboards/zsa/moonlander/keymap/config.h
  src/.config/qmk/keyboards/zsa/moonlander/keymap/keymap.c
  src/.config/qmk/keyboards/zsa/moonlander/keymap/rules.mk
  src/.config/qmk/keyboards/zsa/voyager/keymap/config.h
  src/.config/qmk/keyboards/zsa/voyager/keymap/keymap.c
  src/.config/qmk/keyboards/zsa/voyager/keymap/rules.mk
  src/.config/qmk/qmk.ini
Due: just

feat(nvim): add keymap to dismiss notifications
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(fish): add abbreviations for helm template and helmfile template
  src/.config/fish/config.fish
Due: none

feat(nvim): add vim-slime
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

feat(nvim): add keymap for vim-slime to enable lazy loading
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

chore: add ts-node to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: add simplenote to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: add standard notes to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): add keymap and tweak UI for debugger
  src/.config/nvim/lua/user/plugins/debugging.lua
Due: none

chore: enable dns tunneling for WSL
  misc/wsl/misc/.wslconfig
Due: none

feat(yamlfmt): set max_line_length into 80
  src/.config/yamlfmt/yamlfmt.yaml
Due: yamlfmt, yamllint

feat(nvim): enable nvim-notify in vim-dadbod-ui
  src/.config/nvim/lua/user/plugins/database.lua
Due: none

feat(nvim): tweak lazy-loading in vim-dadbod-ui
  src/.config/nvim/lua/user/plugins/database.lua
Due: none

feat(nvim): disable fold in vim-dadbod-ui
  src/.config/nvim/lua/user/plugins/database.lua
Due: none

feat(nvim): disable temporary files when edit secrets with gopass
  src/.config/nvim/lua/user/autocmds.lua
Due: none

Revert "feat(yamlfmt): set max_line_length into 80"
  src/.config/yamlfmt/yamlfmt.yaml
Due: yamlfmt, yamllint

feat(nvim): add keymap to dismiss notification
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): add keymap to jump test
  src/.config/nvim/lua/user/plugins/syntax.lua
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(nvim): use neotest-golang instead of neotest-go
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/test.lua
Due: prettier

feat(nvim): enable quickfix in neotest
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(nvim): use minty instead of ccc.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

chore: hide list all tabs button for firefox
  justfile
  misc/firefox/chrome/userChrome.css
  misc/firefox/user.js
Due: just

ci: use chaotic-aur instead of aur
  .github/workflows/main.yml
  src/.config/qmk/justfile
Due: yamlfmt, yamllint, just

feat(mise): add gotestsum to global tool
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): add dial.nvim augend for SQL
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none
