Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(mise): :sparkles: bump opencode from 0.11.1 to 0.15.3
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: bump lockfile
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(nvim): :sparkles: remove unnesecarry plugins
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
  home/dot_config/nvim/lua/user/plugins/filetype.lua
  home/dot_config/nvim/lua/user/plugins/interface.lua
  home/dot_config/nvim/lua/user/plugins/version.lua
Due: prettier-json

feat(glzr): :sparkles: remove shift modifier from quit keybind
  home/dot_glzr/glazewm/hotkeys.ahk
Due: none

feat(hypr): :sparkles: remove shift modifier from quit keybind
  home/dot_config/hypr/hyprland.conf
Due: hyprland

chore: :hammer: disable automatic resolv.conf generation in WSL
  etc/wsl.conf
Due: none

refactor(nvim): :recycle: replace eager loading with lazy key mappings for leap.nvim
  home/dot_config/nvim/lua/user/plugins/motion.lua
Due: none

feat(opencode): :sparkles: add terraform-ls
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: add terraform-ls
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(tmux): :sparkles: set pane numbering to start from 1
  home/dot_config/tmux/tmux.conf
Due: none

feat(mise): :sparkles: Add ls-lint
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

chore: :hammer: add locale configuration for WSL to setup script
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

chore: :hammer: enable pacman progress bar for WSL in bootstrap script
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

feat(mise): :sparkles: bump opencode from 0.15.3 to 0.15.31
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add terraform fmt to formatter
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(wezterm): :sparkles: add SSH setup for WSL
  docs/install-archlinux-on-wsl2.md
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_enable-services-for-wsl.sh
  home/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
  home/dot_config/wezterm/wezterm.lua
Due: prettier-markdown, markdownlint-cli2

revert: "feat(wsl): :sparkles: disable instance idle timeout"
  home/dot_wslconfig
Due: none

revert: "feat(wezterm): :sparkles: add SSH setup for WSL"
  docs/install-archlinux-on-wsl2.md
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_enable-services-for-wsl.sh
  home/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
  home/dot_config/wezterm/wezterm.lua
Due: prettier-markdown, markdownlint-cli2

docs: :memo: add WezTerm ConPTY workaround for WSL2 limitations
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

feat(tmux): :sparkles: add passthrough and environment settings for yazi
  home/dot_config/tmux/tmux.conf
Due: none

feat(wsl): :sparkles: disable instance idle timeout
  home/dot_wslconfig
Due: none

chore: :hammer: unset charset for search.json.mozlz4 in editorconfig
  .editorconfig
Due: none

feat(nvim): :sparkles: add treesitter parser for zsh
  home/dot_config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(opencode): :sparkles: add trash command usage to rule file
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(espanso): :sparkles: add trigger for japanese
  home/dot_config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

docs(yazi): :memo: add WSL opener configuration for work
  home/dot_config/yazi/yazi.toml
Due: taplo-format, taplo-lint

feat(tmuxp): :sparkles: add top_p to additional drop params of litellm
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

chore: :hammer: fix regex pattern for ly session log file replacement
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
Due: none

feat(mise): :sparkles: bump opencode from 0.15.31 to 1.0.134
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add command to analyze and suggest fixes for errors
  home/dot_config/opencode/command/fix.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: add notify-send wrapper for WSL using BurntToast
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
  home/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
Due: none

feat(opencode): :sparkles: allow safe read-only bash commands without prompting
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(cz): :sparkles: configure Claude Sonnet 4.5 as AI model for cz-git
  home/dot_czrc
Due: none

feat(nvim): :sparkles: use systemd_lsp instead of systemd_ls
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(tmux): :sparkles: move bluetui binding from 'b' to 'C-w'
  home/dot_config/tmux/tmux.conf
Due: none

chore: :hammer: fix notify-send wrapper for WSL
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

feat(zsh): :sparkles: use lazygit instead of lg
  home/dot_zshrc.d/functions/lazygit-widget
  home/dot_zshrc.d/functions/lg
  home/dot_zshrc.d/functions/lg-widget
  home/dot_zshrc.d/functions/zvm_after_init
Due: none

feat(tmux): :sparkles: add 'w' key binding to open impala
  home/dot_config/tmux/tmux.conf
Due: none

chore: :hammer: remove plasma6-themes-fluent-git
  README.md
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
