Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(herdr): :sparkles: add config
  cog.toml
  home/dot_config/herdr/config.toml
  home/dot_config/mise/config.toml
  home/dot_config/opencode/plugins/herdr-agent-state.js
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(hunk): :sparkles: add config
  cog.toml
  home/dot_agents/skills/hunk-review/SKILL.md
  home/dot_config/hunk/config.toml
  home/dot_config/mise/config.toml
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(tmux): :sparkles: add keybind for switching client to AI session
  home/dot_config/tmux/tmux.conf
Due: none

feat(herdr): :sparkles: use prefix+ctrl+w to open workspace picker
  home/dot_config/herdr/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: clarify mode switching guidance for agents
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

refactor(tmuxp): :recycle: rename tmux windows
  home/dot_config/tmux/tmux.conf
  home/dot_config/tmuxp/ai.yaml
  home/dot_config/tmuxp/docs.yaml
  home/dot_config/tmuxp/tasks.yaml
  home/dot_zshrc
Due: yamlfmt, yamllint

feat(nvim): :sparkles: hide winbar in trouble buffers
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(git): :sparkles: use diffnav for diff paging
  home/.chezmoidata/packages.yaml
  home/dot_config/git/config
Due: yamlfmt, yamllint

feat(gh-dash): :sparkles: add config
  cog.toml
  home/.chezmoidata/packages.yaml
  home/dot_config/gh-dash/config.yml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

revert: :rewind: "feat(zsh): :sparkles: use lazygit instead of lg"
  home/dot_zshrc.d/functions/lazygit-widget
  home/dot_zshrc.d/functions/lg
  home/dot_zshrc.d/functions/lg-widget
  home/dot_zshrc.d/functions/zvm_after_init
Due: none

feat(zsh): :sparkles: change directory in lg function when repo and worktree
  home/dot_zshrc.d/functions/lg
Due: none

feat(lazygit): :sparkles: set default path for worktrees
  home/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(lazygit): :sparkles: add custom command to edit with chezmoi
  home/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(lazygit): :sparkles: remove misc branch type
  home/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(lazygit): :sparkles: skip prompt for initializing repository
  home/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(mise): :sparkles: bump opencode from 1.18.1 to 1.18.3
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(zsh): :sparkles: remove GPG TTY initialization
  home/dot_zshenv
Due: none

feat(agents): :sparkles: add skill for herdr
  home/dot_agents/skills/herdr/SKILL.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(zsh): :sparkles: remove environment variables for old GNOME Keyring
  home/dot_zshenv
Due: none

feat(zsh): :sparkles: enable background subagents of opencode
  home/dot_zshenv
Due: none

feat(mise): :sparkles: bump skills from 1.5.1 to 1.5.17
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(hypr): :sparkles: add config for hyprsunset
  home/.chezmoidata/services.yaml
  home/dot_config/hypr/hyprland.lua
  home/dot_config/hypr/hyprsunset.conf
Due: yamlfmt, yamllint

feat(hypr): :sparkles: use systemd service for waybar
  home/.chezmoidata/services.yaml
  home/dot_config/hypr/hyprland.lua
Due: yamlfmt, yamllint

feat(hypr): :sparkles: use systemd service swaync
  home/dot_config/hypr/hyprland.lua
Due: none

feat(hypr): :sparkles: use systemd service gnome keyring
  home/dot_config/hypr/hyprland.lua
Due: none

feat(hypr): :sparkles: use xdg autostart for tresorit
  home/dot_config/hypr/hyprland.lua
Due: none

feat(hypr): :sparkles: use systemd path
  home/.chezmoidata/services.yaml
  home/dot_config/hypr/hyprland.lua
  home/dot_config/systemd/user/reload-kanshi.path
  home/dot_config/systemd/user/reload-kanshi.service
  home/dot_config/systemd/user/reload-swaync.path
  home/dot_config/systemd/user/reload-swaync.service
  home/dot_config/systemd/user/reload-waybar.path
  home/dot_config/systemd/user/reload-waybar.service
Due: yamlfmt, yamllint

feat(opencode): :sparkles: remove terraform-module skill
  home/dot_config/opencode/skills/terraform-module/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: remove semgrep mcp
  home/dot_config/opencode/agents/semgrep.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: remove trivy mcp
  home/.chezmoidata/packages.yaml
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
  home/dot_config/opencode/agents/trivy.md
  home/dot_config/opencode/opencode.jsonc
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: update model for primary agents and subagents
  home/dot_config/opencode/agents/aws-api-expert.md
  home/dot_config/opencode/agents/aws-docs-expert.md
  home/dot_config/opencode/agents/ci-watcher.md
  home/dot_config/opencode/agents/code-reviewer.md
  home/dot_config/opencode/agents/context7.md
  home/dot_config/opencode/agents/debugger.md
  home/dot_config/opencode/agents/deepwiki.md
  home/dot_config/opencode/agents/docs-writer.md
  home/dot_config/opencode/agents/github.md
  home/dot_config/opencode/agents/grafana-expert.md
  home/dot_config/opencode/agents/grep.app.md
  home/dot_config/opencode/agents/kubernetes-expert.md
  home/dot_config/opencode/agents/markitdown.md
  home/dot_config/opencode/agents/mdn.md
  home/dot_config/opencode/agents/security-auditor.md
  home/dot_config/opencode/agents/terraform-expert.md
  home/dot_config/opencode/agents/test-runner.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: remove mdn mcp server
  home/dot_config/opencode/agents/mdn.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

docs(opencode): :memo: add model descriptions
  home/dot_config/opencode/agents/aws-api-expert.md
  home/dot_config/opencode/agents/aws-docs-expert.md
  home/dot_config/opencode/agents/ci-watcher.md
  home/dot_config/opencode/agents/code-reviewer.md
  home/dot_config/opencode/agents/context7.md
  home/dot_config/opencode/agents/debugger.md
  home/dot_config/opencode/agents/deepwiki.md
  home/dot_config/opencode/agents/docs-writer.md
  home/dot_config/opencode/agents/github.md
  home/dot_config/opencode/agents/grafana-expert.md
  home/dot_config/opencode/agents/grep.app.md
  home/dot_config/opencode/agents/kubernetes-expert.md
  home/dot_config/opencode/agents/markitdown.md
  home/dot_config/opencode/agents/security-auditor.md
  home/dot_config/opencode/agents/terraform-expert.md
  home/dot_config/opencode/agents/test-runner.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(cz): :sparkles: change AI model from GPT 5.6 Luna to GPT 5.6 Terra
  home/dot_config/tmuxp/ai.yaml
  home/dot_czrc
Due: yamlfmt, yamllint

feat(opencode): :sparkles: remove ci-watcher agent
  home/dot_config/opencode/agents/ci-watcher.md
Due: prettier-markdown, markdownlint-cli2

feat(gnupg): :sparkles: disable CCID
  home/private_dot_gnupg/scdaemon.conf
Due: none

feat(opencode): :sparkles: add skill for markitdown
  home/dot_config/mise/config.toml
  home/dot_config/opencode/agents/markitdown.md
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/opencode/skills/markitdown/SKILL.md
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(hunk): :sparkles: enable menu bar
  home/dot_config/hunk/config.toml
Due: taplo-format, taplo-lint

feat(hunk): :sparkles: enable agent notes
  home/dot_config/hunk/config.toml
Due: taplo-format, taplo-lint

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
