Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(opencode): :sparkles: clarify Japanese language requirement for all reasoning
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: clarify Japanese language requirement for all reasoning
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(zsh): :sparkles: remove rlwrap from trans abbr, add as alias instead
  home/dot_config/zsh-abbr/private_user-abbreviations
  home/dot_zshrc
  home/dot_zshrc.d/conf.d/alias.zsh
Due: none

feat(opencode): :sparkles: simplify remote host detection in review command
  home/dot_config/opencode/command/review.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(firefox): :sparkles: disable profile selector on startup
  home/dot_config/mozilla/firefox/profiles.ini
Due: none

feat(mise): :sparkles: bump opencode from 1.1.48 to 1.1.53
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: update OpenAI Codex model from 5.2 to 5.3
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow kubectl describe and kubectl rollout history
  home/dot_config/opencode/opencode.jsonc
Due: none

chore: :hammer: add opencode to package list
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: allow git blame
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: use float window in diagnostic preview
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(tmuxp): :sparkles: add GPT-5.3 Codex to LiteLLM model list
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(cz): :sparkles: switch AI model to GPT-5.3 Codex
  home/dot_czrc
Due: none

feat(tmuxp): :sparkles: mount volume of litellm chatgpt config
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(wt): :sparkles: add config
  home/dot_config/mise/config.toml
  home/dot_config/worktrunk/config.toml
  home/dot_config/zsh-abbr/private_user-abbreviations
  home/dot_zshrc.d/conf.d/command.zsh
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump opencode from 1.1.53 to 1.2.6
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: add permission alerts and ignore subagent idle notifications
  home/dot_config/opencode/plugin/notification.ts
  tsconfig.json
Due: prettier-json

refactor(tmuxp): :recycle: simplify LiteLLM config and drop Bedrock env dependency
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

refactor(opencode): :recycle: remove unused models
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: use GPT for avante.nvim
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

chore: :hammer: update cpupower config path to cpupower-service.conf
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
Due: none

chore: :hammer: disable auto enable of bluetooth
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
Due: none

feat(mise): :sparkles: use npm.package_manager instead of npm.bun
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: set 7 days into install_before option
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: bump nvim from 0.11 to 0.12
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/keymaps.lua
  home/dot_config/nvim/lua/user/options.lua
  home/dot_config/nvim/lua/user/plugins/ai.lua
  home/dot_config/nvim/lua/user/plugins/completion.lua
  home/dot_config/nvim/lua/user/plugins/editing.lua
  home/dot_config/nvim/lua/user/plugins/interface.lua
  home/dot_config/nvim/lua/user/plugins/lang.lua
  home/dot_config/tmux/tmux.conf
Due: prettier-json

style(ghostty): :lipstick: add file extension
  home/dot_config/ghostty/config.ghostty
Due: none

feat(mise): :sparkles: bump opencode from 1.2.6 to 1.4.3
  .editorconfig
  .pre-commit-config.yaml
  .prettierignore
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint

feat(tmuxp): :sparkles: bump ai model from gpt-5.3-codex to gpt-5.4
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/tmuxp/misc.yaml
  home/dot_czrc
Due: yamlfmt, yamllint

feat(mimeapps): :sparkles: rename signal desktop
  home/dot_config/private_mimeapps.list
Due: none

feat(btop): :sparkles: bump btop from 1.4.5 to 1.4.6
  home/dot_config/btop/btop.conf
Due: none

feat(nvim): :sparkles: migrate configuration of nvim-surround from v3 to v4
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: none

feat: :sparkles: remove spotify
  README.md
  docs/screenshots/ncspot.png
  home/.chezmoidata/packages.yaml
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
  home/dot_config/hypr/hyprland.conf
  home/dot_config/ncspot/config.toml
  home/dot_config/private_mimeapps.list
  home/dot_zshrc.d/functions/ncspot-widget
  home/dot_zshrc.d/functions/zvm_after_init
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland

feat(mise): :sparkles: bump opencode from 1.4.3 to 1.14.25
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(tmuxp): :sparkles: add workspace for ai
  home/dot_config/tmuxp/ai.yaml
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(tmuxp): :sparkles: pin docker image tag of litellm
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint

feat(cz): :sparkles: bump ai model from gpt 5.4 to gpt 5.5
  home/dot_config/tmuxp/ai.yaml
  home/dot_czrc
Due: yamlfmt, yamllint

feat(opencode): :sparkles: bump model from gpt 5.4 to gpt 5.5
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: remove echo command from allowed commands
  home/dot_config/opencode/opencode.jsonc
Due: none

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
