Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(agents): :sparkles: add skills for AWS
  .yamlfmt.yaml
  .yamllint.yaml
  home/dot_agents/skills/aws-iam/SKILL.md
  home/dot_agents/skills/aws-observability/SKILL.md
  home/dot_agents/skills/aws-observability/assets/alarm-template.ts
  home/dot_agents/skills/aws-observability/assets/otel-config.yaml
  home/dot_agents/skills/aws-observability/references/alarms.md
  home/dot_agents/skills/aws-observability/references/cloudtrail.md
  home/dot_agents/skills/aws-observability/references/dashboards.md
  home/dot_agents/skills/aws-observability/references/log-insights.md
  home/dot_agents/skills/aws-observability/references/metrics.md
  home/dot_agents/skills/aws-observability/references/synthetics.md
  home/dot_agents/skills/aws-observability/references/tracing.md
  home/dot_agents/skills/aws-observability/references/troubleshooting.md
  home/dot_agents/skills/troubleshooting-application-failures/SKILL.md
  home/dot_agents/skills/troubleshooting-application-failures/references/application-failure-troubleshooting.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

refactor(opencode): :recycle: move TUI settings into dedicated config
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/opencode/tui.jsonc
Due: none

feat(mise): :sparkles: bump opencode from 1.15.3 to 1.15.5
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(mise): :sparkles: bump rtk from 0.37.2 to 0.40.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(rtk): :sparkles: add config
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/rtk/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: add zizmor language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add official docker language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: remove nginx treesitter parser
  home/dot_config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): :sparkles: add html language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add ty language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add ruff language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

chore: :hammer: add python packages
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: add rego language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add vim language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(opencode): :sparkles: add keybinds for session
  home/dot_config/opencode/tui.jsonc
Due: none

feat(mise): :sparkles: add terraform-mcp-server
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add subagents for MCP servers
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: remove microsandbox
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

style: :art: format with prettier
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: disable jsonls formatting in favor of prettier
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

style(opencode): :art: move example mcp servers to bottom
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add docs-writer subagent
  home/dot_config/opencode/agents/docs-writer.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add docs-writer subagent
  home/dot_config/opencode/agents/security-auditor.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: update system prompt for subagents and MCP servers
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add tmp directory to external directory
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add exa mcp server
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

Revert "feat(opencode): :sparkles: add exa mcp server"
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: enable experimental LSP tool
  home/dot_zshenv
Due: none

feat(opencode): :sparkles: enable experimental web search
  home/dot_zshenv
Due: none

feat(opencode): :sparkles: add small model
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: change default agent from build to plan
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: disable autoupdate
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: enable LSP
  home/dot_config/opencode/opencode.jsonc
Due: none

Revert "feat(opencode): :sparkles: add ccc for semantic code search"
  home/dot_agents/skills/ccc/SKILL.md
  home/dot_agents/skills/ccc/references/management.md
  home/dot_agents/skills/ccc/references/settings.md
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add semble
  home/dot_config/mise/config.toml
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: allow gh pr view and gh pr diff
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: bump opencode from 1.15.5 to 1.15.10
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: add description and prompt for subagents
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add GitHub MCP server and subagent
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

style(opencode): :art: group MCP tools
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint
