Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(nono): :sparkles: use local-socket credential in gpg
  home/dot_config/nono/profiles/gpg.jsonc
Due: none

feat(nono): :sparkles: remove write access from python binary
  home/dot_config/mise/config.toml
  home/dot_config/nono/profiles/opencode.jsonc
  home/dot_config/nono/profiles/python.jsonc
Due: taplo-format, taplo-lint

refactor(nono): :recycle: decouple profiles
  home/dot_config/nono/profiles/aws-mcp-server.jsonc
  home/dot_config/nono/profiles/aws.jsonc
  home/dot_config/nono/profiles/gcx.jsonc
  home/dot_config/nono/profiles/gh.jsonc
  home/dot_config/nono/profiles/github-mcp-server.jsonc
  home/dot_config/nono/profiles/gopass.jsonc
  home/dot_config/nono/profiles/gpg.jsonc
  home/dot_config/nono/profiles/grafana-mcp-server.jsonc
  home/dot_config/nono/profiles/granted.jsonc
  home/dot_config/nono/profiles/kubectl.jsonc
  home/dot_config/nono/profiles/kubernetes-mcp-server.jsonc
  home/dot_config/nono/profiles/opencode.jsonc
  home/dot_config/nono/profiles/pass.jsonc
  home/dot_config/nono/profiles/terraform-mcp-server.jsonc
Due: none

refactor(nono): :recycle: remove systemd-resolved profile
  home/dot_config/nono/profiles/opencode.jsonc
  home/dot_config/nono/profiles/systemd-resolved.jsonc
Due: none

feat(opencode): :sparkles: disable notifications in nono sandbox on WSL
  home/dot_config/opencode/plugins/notification.ts
Due: none

feat(nono): :sparkles: allow otlp-header-helper
  home/dot_config/nono/profiles/gopass.jsonc
  home/dot_config/opencode/scripts/executable_otlp-headers-helper.sh
Due: none

feat(nono): :sparkles: extends gopass profile
  home/dot_config/nono/profiles/opencode.jsonc
Due: none

refactor(nono): :recycle: separate AWS credential access
  home/dot_config/nono/profiles/aws-credential-process.jsonc
  home/dot_config/nono/profiles/aws.jsonc
  home/dot_config/nono/profiles/kubectl.jsonc
  home/dot_config/nono/profiles/kubernetes-mcp-server.jsonc
  home/dot_config/nono/profiles/opencode.jsonc
Due: none

fix(nono): :bug: allow wrapper script in gh profile
  home/dot_config/nono/profiles/gh.jsonc
Due: none

feat(nono): :sparkles: extend gpg in opencode
  home/dot_config/nono/profiles/opencode.jsonc
Due: none

feat(chezmoi): :sparkles: add new hyprpm package and use hy3 fork
  .commitlintrc.yaml
  home/.chezmoidata/packages.yaml
  home/.chezmoiscripts/linux/run_onchange_after_7_configure-gui.sh
Due: yamlfmt, yamllint

fix: :bug: enable extendedglob in mise hook
  home/dot_zshrc
Due: none

feat(opencode): :sparkles: allow chezmoi ignored
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow tsc
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow mise ls-remote and msie search
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: initialize mise hooks with eval instead of zsh emulation
  home/dot_zshrc
  home/dot_zshrc.d/conf.d/command.zsh
Due: none

feat(mise): :sparkles: add kubectl to depends
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(applications): :sparkles: bump tresorit desktop entry to 3.5.1300.4870
  home/dot_local/share/applications/tresorit.desktop
Due: none

feat(zsh-abbr): :sparkles: tweak abbr for nono and opencode
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(nvim): :sparkles: set $HERDR_AGENT
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(zsh): :sparkles: set $HERDR_AGENT
  home/dot_zshrc.d/functions/opencode-widget
Due: none

feat: :sparkles: add DNS timeout and retry settings for WSL
  system/etc/wsl.conf
Due: none

feat(nono): :sparkles: restrict mcp-grafana invocations to read-only mode
  home/dot_config/nono/profiles/grafana-mcp-server.jsonc
Due: none

feat(opencode): :sparkles: migrate opencode from v1 to v2
  .prettierrc.json
  .renovaterc.jsonc
  home/.chezmoiignore
  home/dot_config/mise/config.toml
  home/dot_config/mise/locks/npm-opencode-cli/2.0.20~009061c2/private_aube-lock.yaml
  home/dot_config/mise/locks/npm-opencode-cli/2.0.20~009061c2/private_package.json
  home/dot_config/mise/mise.lock
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/cli.json
  home/dot_config/opencode/node_modules
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/opencode/package-lock.json
  home/dot_config/opencode/package.json
  home/dot_config/opencode/plugins/notification.ts
  home/dot_config/opencode/plugins/rewrite-commands.ts
  home/dot_config/opencode/plugins/rtk.ts
  home/dot_config/opencode/tsconfig.json
  home/dot_zshenv
  tsconfig.json
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat: :sparkles: tweak notify-send wrapper for WSL
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
  home/dot_config/nono/profiles/opencode.jsonc
  home/dot_config/opencode/plugins/notification.ts
Due: none

feat(opencode): :sparkles: bump GPT-6.0 sol to GPT-6.1 sol
  home/dot_config/opencode/opencode.jsonc
Due: none

fix(opencode): :bug: ignore node_modules
  .gitignore
  home/dot_config/mise/config.toml
  home/dot_config/opencode/node_modules
Due: taplo-format, taplo-lint

feat(chezmoi): :sparkles: allow WPS IPC process in rkhunter
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  system/etc/rkhunter.d/allow-wps.conf
Due: none

fix(opencode): :bug: fix notify on successful session execution
  home/dot_config/opencode/plugins/notification.ts
Due: none

feat(cz): :sparkles: bump model from gpt-6-sol to gpt-6.1-sol
  home/dot_config/tmuxp/ai.yaml
  home/dot_czrc
Due: yamlfmt, yamllint

feat(terminal-browser): :sparkles: add config
  .commitlintrc.yaml
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
  home/dot_config/terminal-browser/settings.json
  home/dot_config/terminal-browser/shortcuts.json
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint

fix(opencode): :bug: use `*` instead of `**` in external directory
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: remove task management from system prompt
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: allow yq and set command
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: update skill for command execution
  home/dot_config/opencode/skills/opencode-command-execution/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: allow git restore, fetch, rebase, and switch
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: grant read-only access to chezmoi config
  home/dot_config/nono/profiles/chezmoi.jsonc
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: grant read-only access to dotfiles and workspaces
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

chore: :hammer: use flatpak instead of aur for proton mail
  home/.chezmoidata/packages.yaml
  home/dot_config/hypr/hyprland.lua
Due: yamlfmt, yamllint

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
