Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(nvim): use case_sensitive sorter of nvim-tree
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(nvim): add keymaps for jumplist
  src/.config/nvim/lua/user/keymaps.lua
Due: none

chore: remove ente cli from pkglist
  misc/pkglist/utilities.txt
Due: none

chore: remove lab from pkglist
  misc/pkglist/developer-tools.txt
Due: none

chore: remove aicommits from pkglist
  misc/pkglist/developer-tools.txt
  src/.local/bin/aic
  src/.local/bin/aicommits
  src/.local/src/dotfiles/aicommits.bash
Due: none

feat(nvim): use buf_ls instead of bufls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): use wrapped-default render for nvim-notify
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(git): disable .sops.yaml for sopsdiffer
  src/.config/git/config
Due: none

feat(nvim): tweak indent for golang
  src/.config/nvim/indent/go.lua
Due: none

chore: use proton-mail-bin instead of proton-mail
  misc/pkglist/email.txt
Due: none

feat(starship): enable git tag
  src/.config/starship.toml
Due: taplo-format, taplo-lint

feat(nvim): add keymap for neotest
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(git): disable detachedHead advice
  src/.config/git/config
Due: none

chore: prevent overwrite for blackarch mirrorlist
  scripts/bootstrap.bash
Due: none

feat(fish): remove unused code of s command
  src/.config/fish/usr/conf.d/commands.fish
Due: none

chore: remove s command from RTKT_FILE_WHITELIST
  scripts/bootstrap.bash
Due: none

feat(zsh): set PATH for nix
  src/.zshenv
Due: none

feat(nvim): remove semgrep
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(hypr): set icon for hyprbar
  src/.config/hypr/hyprland.conf
Due: hyprland

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json

chore: fix space cadet shift of keyd
  misc/etc/keyd/default.conf
  test/file.yaml
Due: yamlfmt, yamllint

chore(keyd): add keybind for backward kill line
  misc/etc/keyd/default.conf
  test/file.yaml
Due: yamlfmt, yamllint

chore: update keybind for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

docs: fix descriptions
  misc/etc/keyd/default.conf
  src/.config/hypr/hyprland.conf
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/plugins/editing.lua
  src/.config/tmux/tmux.conf
  src/.config/tridactyl/tridactylrc
Due: hyprland

chore: add description comments for WSL
  misc/wsl/misc/etc/wsl.conf
Due: none

chore: change mise from chaotic-aur to extra repository
  misc/pkglist/developer-tools.txt
Due: none

feat(nvim): add ftdetect for tftest
  src/.config/nvim/ftdetect/tftest.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(mise): rename legacy_version_file to idiomatic_version_file
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(zsh): set $AWS_CLI_AUTO_PROMPT into on-partial
  src/.zshenv
Due: none

chore: remove keybind for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

chore: fix keybind for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

feat(zsh): set $KUBECONFIG for kubectx
  src/.zshenv
Due: none

feat(nvim): use leap.nvim in nvim-tree.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(ghostty): add config
  README.md
  misc/pkglist/developer-tools.txt
  src/.config/ghostty/config
  src/.config/hypr/hyprland.conf
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/syntax.lua
  src/.config/waybar/config
  src/.config/wezterm/wezterm.lua
Due: prettier-json, prettier-markdown, markdownlint-cli2, hyprland

chore: add timg to pkglist
  misc/pkglist/utilities.txt
  src/.zshenv
Due: none

feat(tmux): remove $TMUX_PLUGIN_MANAGER_PATH
  src/.config/tmux/tmux.conf
  src/.config/tmux/tpm.tmux
  src/.zshenv
Due: none

chore: add usage command to pkglist
  misc/pkglist/developer-tools.txt
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(bash): remove config
  src/.bashrc
Due: none

feat(zsh): run tmux always
  misc/wsl/src/.config/wezterm/wezterm.lua
  src/.config/ghostty/config
  src/.local/bin/tmuxs
  src/.local/src/dotfiles/tmuxs.bash
  src/.zshrc
Due: none

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
