Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(opencode): :sparkles: allow actionlint and zizmor
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow pre-commit commands
  home/dot_config/opencode/opencode.jsonc
Due: none

chore: :hammer: add lychee to packages
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: allow pacman and yay commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow mise where commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow lychee commands
  home/dot_config/opencode/opencode.jsonc
Due: none

docs: :memo: update broken links
  README.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: update external links
  README.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: add lychee
  .github/workflows/main.yml
  .pre-commit-config.yaml
  lychee.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

docs: :memo: add description for lychee
  README.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: update link for chezmoi scripts
  README.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: update link for multi-account containers
  README.md
Due: prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: use aube instead of bun
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: add renovate
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: replace skopeo with crane
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

chore: :hammer: enable renovate
  .renovaterc.json
  .renovaterc.jsonc
  cog.toml
  home/.chezmoiexternal.toml
  home/dot_config/sheldon/plugins.toml
Due: prettier-json, taplo-format, taplo-lint

feat(mise): :sparkles: bump gotestsum from 1.12.2 to 1.13.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: use credential command of github
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump herdr from 0.7.3 to 0.8.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump aws-vault from 7.2.0 to 7.13.3
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: enable lockfile
  home/dot_config/mise/config.toml
  home/dot_config/mise/private_mise.lock
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add lockfile
  home/dot_config/opencode/package-lock.json
Due: prettier-json

feat(mise): :sparkles: lock cmd-wrapped
  home/dot_config/mise/config.toml
  home/dot_config/mise/private_mise.lock
Due: taplo-format, taplo-lint

chore: :hammer: fix apm config path
  home/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh.tmpl
Due: none

feat(yazi): :sparkles: bump plugins
  home/dot_config/yazi/package.toml
Due: taplo-format, taplo-lint

feat(apm): :sparkles: fix target
  home/dot_apm/config.json
Due: prettier-json

feat(apm): :sparkles: set target to agent-skills
  home/dot_apm/private_apm.lock.yaml
  home/dot_apm/private_apm.yml
Due: yamlfmt, yamllint

feat(mise): :sparkles: rename lockfile
  home/dot_config/mise/mise.lock
Due: none

chore: :hammer: add security:minimumReleaseAgePypi of renovate
  .renovaterc.jsonc
Due: none

chore: :hammer: add security:openssf-scorecard of renovate
  .renovaterc.jsonc
Due: none

chore: :hammer: set 3 days to minimum release age for opencode
  .renovaterc.jsonc
Due: none

chore: :hammer: split renovate lockfile maintenance
  .renovaterc.jsonc
Due: none

chore: :hammer: tweak renovate lock file maintenance groups
  .renovaterc.jsonc
Due: none

chore: :hammer: set gitmoji in renovate
  .renovaterc.jsonc
Due: none

feat(nvim): :sparkles: pin refactoring.nvim
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(opencode): :sparkles: refine system prompt for communication
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add skills for review
  home/dot_config/opencode/skills/gh-pending-review/SKILL.md
  home/dot_config/opencode/skills/glab-draft-note/SKILL.md
  home/dot_config/opencode/skills/handling-review-feedback/SKILL.md
  home/dot_config/opencode/skills/reviewing-changes/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(apm): :sparkles: move opencode skills to apm skills
  home/dot_apm/skills/creating-files/SKILL.md
  home/dot_apm/skills/ctx7/SKILL.md
  home/dot_apm/skills/gh-pending-review/SKILL.md
  home/dot_apm/skills/git/SKILL.md
  home/dot_apm/skills/glab-draft-note/SKILL.md
  home/dot_apm/skills/go/SKILL.md
  home/dot_apm/skills/handling-review-feedback/SKILL.md
  home/dot_apm/skills/helm/SKILL.md
  home/dot_apm/skills/helmfile/SKILL.md
  home/dot_apm/skills/kubectl/SKILL.md
  home/dot_apm/skills/make/SKILL.md
  home/dot_apm/skills/markitdown/SKILL.md
  home/dot_apm/skills/ni/SKILL.md
  home/dot_apm/skills/referencing-files/SKILL.md
  home/dot_apm/skills/reviewing-changes/SKILL.md
  home/dot_apm/skills/semble/SKILL.md
  home/dot_apm/skills/skill-creator/SKILL.md
  home/dot_apm/skills/terraform/SKILL.md
  home/dot_apm/skills/terragrunt/SKILL.md
  home/dot_apm/skills/trash/SKILL.md
  home/dot_apm/skills/writing-formal-japanese/SKILL.md
  home/dot_config/opencode/skills/creating-files/SKILL.md
  home/dot_config/opencode/skills/ctx7/SKILL.md
  home/dot_config/opencode/skills/git/SKILL.md
  home/dot_config/opencode/skills/go/SKILL.md
  home/dot_config/opencode/skills/helm/SKILL.md
  home/dot_config/opencode/skills/helmfile/SKILL.md
  home/dot_config/opencode/skills/kubectl/SKILL.md
  home/dot_config/opencode/skills/make/SKILL.md
  home/dot_config/opencode/skills/markitdown/SKILL.md
  home/dot_config/opencode/skills/ni/SKILL.md
  home/dot_config/opencode/skills/referencing-files/SKILL.md
  home/dot_config/opencode/skills/semble/SKILL.md
  home/dot_config/opencode/skills/skill-creator/SKILL.md
  home/dot_config/opencode/skills/terraform/SKILL.md
  home/dot_config/opencode/skills/terragrunt/SKILL.md
  home/dot_config/opencode/skills/trash/SKILL.md
  home/dot_config/opencode/skills/writing-formal-japanese/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(claude): :sparkles: add config
  .rumdl.toml
  CLAUDE.md
  cog.toml
  home/.chezmoidata/packages.yaml
  home/dot_apm/private_apm.yml
  home/dot_claude/keybindings.json
  home/dot_claude/settings.json
  home/dot_claude/symlink_CLAUDE.md
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
