Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

prettier:
  name: format json and markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

sway:
  name: check config of sway with sway --validate option
  language: system
  entry: sway --validate
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

clang-format:
  name: format c files with clang-format
  language: system
  entry: just src/.config/qmk/fmt
  pass_filenames: false

pkglist:
  name: format pkglist
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t sort -uo {} {}"

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

fishtape:
  name: test fish functions
  language: system
  entry: fishtape
  args:
  - src/.config/fish/tests/functions/*
  pass_filenames: false

refactor: :recycle: remove unused dotfiles
  src/.aicommits
  src/.config/s/config
Due: none

feat(home-manager): :sparkles: remove config
  .gitmodules
  justfile
  scripts/bootstrap.bash
  src/.config/home-manager/flake.lock
  src/.config/home-manager/flake.nix
  src/.config/home-manager/home.nix
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.local/bin/cliphist-rofi-img
  src/.local/bin/extrakto-open
  src/.local/bin/grimblast
  src/.local/bin/scratchpad
  src/.local/bin/tresorit
  src/.local/bin/tresorit-cli
  src/.local/src/dotfiles/extrakto-open.bash
  src/.local/src/dotfiles/justfile
  src/.local/src/dotfiles/tresorit-cli.bash
  src/.local/src/dotfiles/tresorit.bash
Due: just

chore: :hammer: add .stowrc
  .stowrc
  justfile
Due: just

feat(fontconfig): :sparkles: use global fontconfig
  scripts/bootstrap.bash
  src/.config/fontconfig/conf.d/10-nerd-font-symbols.conf
Due: none

feat(sheldon): :sparkles: use previous version of zsh-autocomplete to avoid freeze
  src/.config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(lazygit): :sparkles: add custom command to create branch with prefix
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: :hammer: use TPM2 instead of FIDO2 for disk encryption
  README.md
  misc/mock/systemd-cryptenroll
  misc/pkglist/base.txt
  misc/pkglist/security-key.txt
  scripts/bootstrap.bash
  test/file.yaml
Due: prettier, yamlfmt, yamllint, markdownlint-cli2, pkglist

chore: :hammer: update kernel option
  misc/etc/kernel/cmdline
Due: none

chore: :hammer: disable root redirector of keybase
  misc/etc/keybase/config.json
  scripts/bootstrap.bash
Due: prettier

feat(k9s): :sparkles: add default view to show pods on startup
  src/.config/k9s/config.yaml
Due: yamlfmt, yamllint

refactor(zsh): :recycle: move functions and configs to subdirectories
  .editorconfig
  src/.config/nvim/lua/user/options.lua
  src/.zshenv
  src/.zshrc
  src/.zshrc.d/compile.zsh
  src/.zshrc.d/conf.d/alias.zsh
  src/.zshrc.d/conf.d/command.zsh
  src/.zshrc.d/conf.d/compile.zsh
  src/.zshrc.d/conf.d/completion.zsh
  src/.zshrc.d/conf.d/option.zsh
  src/.zshrc.d/functions/add-less-pipe-widget
  src/.zshrc.d/functions/add-sudo-widget
  src/.zshrc.d/functions/atuin-search-viins-wrapper
  src/.zshrc.d/functions/bluetuith-widget
  src/.zshrc.d/functions/btm-widget
  src/.zshrc.d/functions/dbui-widget
  src/.zshrc.d/functions/debug
  src/.zshrc.d/functions/error
  src/.zshrc.d/functions/gh-dash-widget
  src/.zshrc.d/functions/home-dir-widget
  src/.zshrc.d/functions/info
  src/.zshrc.d/functions/k9s-widget
  src/.zshrc.d/functions/kubens
  src/.zshrc.d/functions/lazydocker-widget
  src/.zshrc.d/functions/lazygit-widget
  src/.zshrc.d/functions/n-widget
  src/.zshrc.d/functions/ncspot-widget
  src/.zshrc.d/functions/note-widget
  src/.zshrc.d/functions/nvim-widget
  src/.zshrc.d/functions/prev-dir-widget
  src/.zshrc.d/functions/reload-widget
  src/.zshrc.d/functions/repo-root-dir-widget
  src/.zshrc.d/functions/source
  src/.zshrc.d/functions/tasks-widget
  src/.zshrc.d/functions/warn
  src/.zshrc.d/functions/y
  src/.zshrc.d/functions/y-widget
  src/.zshrc.d/functions/zi-widget
  src/.zshrc.d/functions/zvm_after_init
Due: none

chore: :hammer: use espanso-wayland instead of espanso-wayland-git
  misc/pkglist/utilities.txt
Due: pkglist

chore: :hammer: remove unused Dockerfile
  .dockerignore
  Dockerfile
  README.md
  justfile
  test/scripts/dgoss.bash
Due: prettier, markdownlint-cli2, just

chore: :hammer: use selene-lib.toml for standard library
  lua-nvim.toml
  selene-lib.toml
  selene.toml
Due: taplo-format, taplo-lint

chore: :hammer: remove unused config
  .github/workflows/main.yml
  justfile
Due: yamlfmt, yamllint, just

feat(lazygit): :sparkles: add branch prefix for release and misc
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

test: :white_check_mark: remove test for root user
  .github/workflows/main.yml
  .pre-commit-config.yaml
  goss_privileged.yaml
  test/privileged/file.yaml
Due: yamlfmt, yamllint

chore: :hammer: remove config for cybersecurity training lab
  README.md
  misc/screenshots/pentest_lab_1.png
  misc/screenshots/pentest_lab_2.png
  misc/security-lab/.tool-versions
  misc/security-lab/charts/dvga/Chart.yaml
  misc/security-lab/charts/dvga/templates/NOTES.txt
  misc/security-lab/charts/dvga/templates/deployment.yaml
  misc/security-lab/charts/dvga/templates/service.yaml
  misc/security-lab/charts/dvga/values.yaml
  misc/security-lab/charts/machine/Chart.yaml
  misc/security-lab/charts/machine/templates/NOTES.txt
  misc/security-lab/charts/machine/templates/deployment.yaml
  misc/security-lab/charts/machine/templates/service.yaml
  misc/security-lab/charts/machine/values.yaml
  misc/security-lab/charts/webgoat/Chart.yaml
  misc/security-lab/charts/webgoat/templates/NOTES.txt
  misc/security-lab/charts/webgoat/templates/deployment.yaml
  misc/security-lab/charts/webgoat/templates/service.yaml
  misc/security-lab/charts/webgoat/templates/tests/test-connection.yaml
  misc/security-lab/charts/webgoat/values.yaml
  misc/security-lab/justfile
  misc/security-lab/kind.yaml
  misc/security-lab/scripts/check.bash
  misc/security-lab/skaffold.yaml
Due: prettier, yamlfmt, yamllint, markdownlint-cli2, just

feat(mise): :sparkles: add claude code to tools
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(qmk): :sparkles: remove config
  .github/workflows/main.yml
  .gitmodules
  .ignore
  .pre-commit-config.yaml
  README.md
  misc/pkglist/developer-tools.txt
  src/.config/qmk/justfile
  src/.config/qmk/keyboards/zsa/moonlander/keymap/config.h
  src/.config/qmk/keyboards/zsa/moonlander/keymap/keymap.c
  src/.config/qmk/keyboards/zsa/moonlander/keymap/rules.mk
  src/.config/qmk/keyboards/zsa/voyager/keymap/config.h
  src/.config/qmk/keyboards/zsa/voyager/keymap/keymap.c
  src/.config/qmk/keyboards/zsa/voyager/keymap/rules.mk
  src/.config/qmk/qmk.ini
Due: prettier, yamlfmt, yamllint, markdownlint-cli2, just, pkglist

chore: :hammer: add bazecor to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: :hammer: use xan instead of xsv
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: :hammer: add bats to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: :hammer: update Tresorit desktop entry to version 3.5.1266.4580
  src/.local/share/applications/tresorit.desktop
Due: none

feat(nvim): :sparkles: use neoscroll.nvim instead of snacks.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

feat(espanso): :sparkles: add trigger for "shared"
  src/.config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: add filter to skip hunk messages in noice.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

chore: :hammer: add safety check to prevent accidental WSL uninstallation
  misc/wsl/src/.local/bin/wsl.exe
Due: none

chore: :hammer: update hotkey and floating rules for glazewm
  misc/wsl/src/.glzr/glazewm/config.yaml
  misc/wsl/src/.glzr/glazewm/hotkeys.ahk
Due: yamlfmt, yamllint

feat(zsh): :sparkles: add lg to change directory on exit
  src/.zshrc.d/functions/lazygit-widget
  src/.zshrc.d/functions/lg
  src/.zshrc.d/functions/lg-widget
  src/.zshrc.d/functions/zvm_after_init
Due: none

feat(mise): :sparkles: bump claude-code from 1.0.19 to 1.0.41
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

chore: :hammer: add wireguard-tools to pkglist
  misc/pkglist/network.txt
Due: pkglist

feat(nvim): :sparkles: bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): :sparkles: enable diagnostic severity sorting
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

chore: :hammer: use git-extras of chaotic-aur repository
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: :hammer: add LibRedirect addon configuration for Firefox setup
  .editorconfig
  .pre-commit-config.yaml
  README.md
  misc/firefox/libredirect.json
Due: prettier, yamlfmt, yamllint, markdownlint-cli2

chore: :hammer: update Firefox search engine configuration
  src/.mozilla/firefox/v7fd4tvu.default-release/search.json.mozlz4
Due: none

chore: :hammer: remove unused config from bootstrap script
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

chore: :hammer: add security tools to pkglist
  .pre-commit-config.yaml
  misc/pkglist/security.txt
  src/.config/pet/snippet.toml
  src/.mozilla/firefox/installs.ini
  src/.mozilla/firefox/profiles.ini
  src/.zshrc.d/conf.d/alias.zsh
Due: yamlfmt, yamllint, taplo-lint, pkglist

feat(mise): :sparkles: bump @anthropic-ai/claude-code from 1.0.41 to 1.0.51
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$
