Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(opencode): :sparkles: allow linters and formatters
  home/dot_config/opencode/opencode.jsonc
Due: none

style(opencode): :art: rename plugin to kebab case
  home/dot_config/opencode/plugins/rewrite-commands.ts
Due: none

feat(mise): :sparkles: add postinstall of rtk and herdr
  home/dot_config/mise/config.toml
  home/dot_config/opencode/plugins/herdr-agent-state.js
  home/dot_config/opencode/plugins/private_rtk.ts
  home/dot_config/opencode/tui.jsonc
Due: taplo-format, taplo-lint

chore: :hammer: add ls-lint
  .ls-lint.yml
  README.md
  lefthook.yml
  mise.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(containers): :sparkles: add quadlet
  .commitlintrc.yaml
  home/.chezmoidata/packages.yaml
  home/.chezmoidata/services.yaml
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-rootless-containers.sh.tmpl
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_enable-services-for-wsl.sh
  home/dot_config/containers/systemd/litellm-postgres.container
  home/dot_config/containers/systemd/litellm-postgres.volume
  home/dot_config/mise/config.toml
  home/dot_config/mise/files/etc/docker/daemon.json
  home/dot_config/systemd/user/docker.service.d/socket-activation.conf
  home/dot_config/tmuxp/ai.yaml
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint

chore: :hammer: add leading slash to gitignore
  .gitignore
Due: none

chore: :hammer: disable bluetooth auto-enable
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
Due: none

chore: :hammer: add mise tasks for validation, docs, and screenshots
  CONTRIBUTING.md
  mise.toml
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(zsh-abbr): :sparkles: add mise run
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

chore: :hammer: detect WSL environments using the `/mnt/wsl` mount directory
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_2_enable-services.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_3_configure-security.sh
  home/.chezmoiscripts/linux/run_onchange_after_7_configure-gui.sh
  home/.chezmoiscripts/linux/run_onchange_before_3_configure-network.sh
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_before_5_change-shell.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_enable-services-for-wsl.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
  home/dot_config/nvim/lua/user/options.lua
  home/dot_config/nvim/lua/user/utils/im.lua
  home/dot_config/tmux/tmux.conf
Due: none

chore: :hammer: update cpupower settings to match uppercase configuration keys
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
Due: none

feat(opencode): :sparkles: allow chezmoi execute-template
  home/dot_config/opencode/opencode.jsonc
Due: none

chore: :hammer: use /etc/rkhunter.d
  etc/rkhunter.d/allow-etckeeper.conf
  etc/rkhunter.d/allow-glibc.conf
  etc/rkhunter.d/allow-grep.conf
  etc/rkhunter.d/allow-krb5.conf
  etc/rkhunter.d/allow-postgresql.conf
  etc/rkhunter.d/allow-ssh.conf
  etc/rkhunter.d/allow-systemd.conf
  etc/rkhunter.d/allow-yazi.conf
  etc/rkhunter.d/allow-zoom.conf
  etc/rkhunter.d/disable-port-test.conf
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
Due: none

feat(mise): :sparkles: migrate lockfile from v1 to v2
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: update config for latest API changes
  home/dot_config/nvim/lua/user/autocmds.lua
  home/dot_config/nvim/lua/user/plugin.lua
  home/dot_config/nvim/lua/user/plugins/database.lua
  home/dot_config/nvim/lua/user/plugins/explorer.lua
  home/dot_config/nvim/lua/user/plugins/lang.lua
  home/dot_config/nvim/lua/user/plugins/test.lua
  home/dot_config/nvim/lua/user/plugins/version.lua
Due: none

chore: :hammer: allow Podman rootless lock files in rkhunter scans
  etc/rkhunter.d/allow-podman.conf
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
Due: none

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

fix(nvim): :bug: fix typo
  home/dot_config/nvim/lua/user/plugins/syntax.lua
Due: none

chore: :hammer: run shellcheck for chezmoi script
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-rootless-containers.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_4_add-user-to-groups.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
  lefthook.yml
Due: yamlfmt, yamllint

feat(docker): :sparkles: use rootless context by default
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-rootless-containers.sh.tmpl
  home/dot_docker/config.json
Due: prettier-json

chore: :hammer: use install command in shell scripts
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
  scripts/bootstrap.bash
Due: none

feat(opencode): :sparkles: allow read-only command permissions
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: disable claude code integration
  home/dot_zshenv
Due: none

feat(yasb): :sparkles: disable update checks
  home/dot_config/yasb/config.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: set $AWS_CONFIG_FILE to aws mcp server
  home/dot_config/opencode/opencode.jsonc
Due: none

fix(opencode): :bug: allow opencode debug commands and simplify export permissions
  home/dot_config/opencode/opencode.jsonc
Due: none

fix(nvim): :bug: pin smear-cursor.nvim to avoid guicursor bug
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

chore: :hammer: unify shell indentation rules
  .editorconfig
  typos.toml
Due: taplo-format, taplo-lint

chore: :hammer: add gitleaks for commit-msg hook
  lefthook.yml
  mise.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

chore: :hammer: enforce kebab-case for dotted filenames with ls-lint
  .ls-lint.yml
Due: yamlfmt, yamllint

chore: :hammer: configure renovate branches under feature prefix
  .renovaterc.jsonc
Due: none

feat(apm): :sparkles: update terraform agent skills
  home/dot_apm/private_apm.lock.yaml
  home/dot_apm/private_apm.yml
Due: yamlfmt, yamllint

chore: :hammer: run mise fmt in pre-commit hook
  lefthook.yml
Due: yamlfmt, yamllint

chore: :hammer: group format hooks by file type
  lefthook.yml
Due: yamlfmt, yamllint

feat(mise): :sparkles: bump editorconfig-checker from v3 to v4
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
  home/dot_config/nvim/lua/user/plugins/lang.lua
  lefthook.yml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

docs: :memo: add gitleaks to CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: use prettier for jsonc file in git hooks
  lefthook.yml
Due: yamlfmt, yamllint

chore: :hammer: validate renovate configuration in pre-commit hooks
  lefthook.yml
  mise.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint
