Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(opencode): :sparkles: add allowed commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(worktrunk): :sparkles: change worktree path from .git/worktrees to .worktrees
  home/dot_config/git/ignore
  home/dot_config/worktrunk/config.toml
  home/dot_config/zsh-abbr/private_user-abbreviations
  home/dot_zshrc.d/conf.d/alias.zsh
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: pin terraform MCP container version
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: update system prompt
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: allow agent-browser skills get core
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: replace allowed commands with rtk
  home/dot_config/opencode/opencode.jsonc
Due: none

docs(opencode): :memo: add description for mcp auth command
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(yazi): :sparkles: change key from name to url
  home/dot_config/yazi/yazi.toml
Due: taplo-format, taplo-lint

chore: :hammer: hide version of ly in login screen
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  test/files.bats
Due: none

feat(quickshell): :sparkles: add calendar
  README.md
  home/.chezmoidata/packages.yaml
  home/dot_config/hypr/hyprland.conf
  home/dot_config/quickshell/calendar/shell.qml
  home/dot_config/waybar/config
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2, hyprland

feat(opencode): :sparkles: add ccc for semantic code search
  home/dot_agents/skills/ccc/SKILL.md
  home/dot_agents/skills/ccc/references/management.md
  home/dot_agents/skills/ccc/references/settings.md
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: bump opencode from 1.14.46 to 1.14.48
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(user-dirs): :sparkles: privatize file and add projects path
  home/dot_config/private_user-dirs.dirs
Due: none

feat(yazi): :sparkles: bump plugins
  home/dot_config/yazi/package.toml
Due: taplo-format, taplo-lint

revert: "feat(opencode): :sparkles: add context-mode"
  home/dot_config/mise/config.toml
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: bump opencode from 1.14.48 to 1.15.3
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: add stylua to formatter
  home/dot_config/opencode/opencode.jsonc
Due: none

chore: :wrench: set 0x007DCFFF into border_fg of ly
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  test/files.bats
Due: none

feat(opencode): :sparkles: add --trailing-comma option to prettier when jsonc
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add --tab-width option to prettier when markdown
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add grep.app mcp server
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add deepwiki mcp server
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(hypr): :sparkles: change hyparland config from hyprlang to lua
  .editorconfig
  home/dot_config/hypr/.stylua.toml
  home/dot_config/hypr/hyprland.conf
  home/dot_config/hypr/hyprland.lua
  home/dot_config/hypr/selene-lib-hypr.toml
  selene-lib-hypr.toml
  selene.toml
Due: taplo-format, taplo-lint, hyprland

feat(nvim): :sparkles: add Hyprland type to lua library path
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(opencode): :sparkles: add mcp usage to system prompt
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(agents): :sparkles: add skills for AWS
  .yamlfmt.yaml
  .yamllint.yaml
  home/dot_agents/skills/aws-iam/SKILL.md
  home/dot_agents/skills/aws-observability/SKILL.md
  home/dot_agents/skills/aws-observability/assets/alarm-template.ts
  home/dot_agents/skills/aws-observability/assets/otel-config.yaml
  home/dot_agents/skills/aws-observability/references/alarms.md
  home/dot_agents/skills/aws-observability/references/cloudtrail.md
  home/dot_agents/skills/aws-observability/references/dashboards.md
  home/dot_agents/skills/aws-observability/references/log-insights.md
  home/dot_agents/skills/aws-observability/references/metrics.md
  home/dot_agents/skills/aws-observability/references/synthetics.md
  home/dot_agents/skills/aws-observability/references/tracing.md
  home/dot_agents/skills/aws-observability/references/troubleshooting.md
  home/dot_agents/skills/troubleshooting-application-failures/SKILL.md
  home/dot_agents/skills/troubleshooting-application-failures/references/application-failure-troubleshooting.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

refactor(hypr): :recycle: use table in hl.permission
  home/dot_config/hypr/hyprland.lua
Due: none

refactor(opencode): :recycle: move TUI settings into dedicated config
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/opencode/tui.jsonc
Due: none

feat(mise): :sparkles: bump opencode from 1.15.3 to 1.15.5
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(nvim): :sparkles: add official docker language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(mise): :sparkles: bump rtk from 0.37.2 to 0.40.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(rtk): :sparkles: add config
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/rtk/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: add zizmor language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add ty language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add html language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

chore: :hammer: add python packages
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: remove nginx treesitter parser
  home/dot_config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): :sparkles: add ruff language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add rego language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add vim language server
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
