Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, hyprland, taplo-format, just, taplo-lint, visudo

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  visudo: any of: misc/etc/sudoer.d/.*

feat(nvim): :sparkles: replace hints config with selection hint_display setting
  src/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(nvim): :sparkles: add lazy loading events to conform.nvim
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: bump nvim-treesitter
  src/dot_config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): :sparkles: bump plugins
  src/dot_config/nvim/lazy-lock.json
Due: prettier

feat(nvim): :sparkles: remove plugins
  src/dot_config/nvim/lazy-lock.json
Due: prettier

feat(mise): :sparkles: bump opencode-ai from 0.4.2 to 0.5.5
  src/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: remove indent keymaps for normal mode
  src/dot_config/nvim/lua/user/keymaps.lua
Due: none

docs: :memo: update description for chezmoi
  docs/install-archlinux-without-virtulization.md
Due: prettier, markdownlint-cli2

docs: :memo: update application list
  README.md
Due: prettier, markdownlint-cli2

docs: :memo: add links to xcape and Space Cadet shift
  README.md
Due: prettier, markdownlint-cli2

docs: :memo: add space cadet shift mappings to keyd configuration table
  README.md
Due: prettier, markdownlint-cli2

docs: :memo: add description for Chaotic-AUR repository
  README.md
Due: prettier, markdownlint-cli2

chore: :hammer: tweak hotkeys for WSL
  misc/wsl/src/.glzr/glazewm/hotkeys.ahk
Due: none

chore: :hammer: set executable permissions for external binary files
  src/.chezmoiexternal.toml
Due: taplo-format, taplo-lint

chore: :hammer: exclude scripts from chezmoi diff
  src/.chezmoi.toml.tmpl
Due: none

feat(mise): :sparkles: bump opencode-ai from 0.5.5 to 0.5.24
  src/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(hypr): :sparkles: change grimblast save to grimblast copysave
  src/dot_config/hypr/hyprland.conf
Due: hyprland

chore: :hammer: use .chezmoidata in bootstrap script
  scripts/bootstrap.bash
Due: none

feat(zsh): :sparkles: add ssh alias to force xterm-256color
  src/dot_zshrc.d/conf.d/alias.zsh
Due: none

chore: :hammer: add wrapper script for draw.io.exe
  misc/wsl/src/.local/bin/drawio.exe
Due: none

chore: :hammer: add aws-session-manager-plugin to chezmoidata
  src/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(markdownlint): :sparkles: add config
  src/dot_markdownlint.yaml
Due: yamlfmt, yamllint

feat(tridactyl): :sparkles: enable superignore in grafana domains
  src/dot_config/tridactyl/tridactylrc
Due: none

feat(nvim): :sparkles: configure prettier with 4-space tabs for markdown files
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

chore: :hammer: use rofi v2 instead of rofi-wayland in chezmoidata
  src/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: bump plugin lockfile
  src/dot_config/nvim/lazy-lock.json
Due: prettier

docs: :memo: update description of launcher
  README.md
Due: prettier, markdownlint-cli2

feat(zsh): :sparkles: add glob prefixes of zsh-abbr
  src/dot_zshrc
Due: none

feat(tmuxp): :sparkles: add searxng
  src/dot_config/mise/config.toml
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(tmuxp): :sparkles: change SearXNG port from 7000 to 8100
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

chore: :hammer: reorganize packages by category and remove unused tools
  src/.chezmoidata/packages.yaml
  src/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: :hammer: move delve package to debugger section with comment
  src/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: reduce yank highlight timeout from 200ms to 50ms
  src/dot_config/nvim/lua/user/autocmds.lua
Due: none

refactor(zsh): :recycle: remove environment variable of Nix
  src/dot_zshenv
Due: none
