Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, hyprland, taplo-format, just, taplo-lint, visudo

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  visudo: any of: misc/etc/sudoer.d/.*

refactor(mozilla): :recycle: remove unused config
  src/dot_mozilla/firefox/v7fd4tvu.default-release/chrome/userChrome.css
Due: none

feat(gtkrc-2.0): :sparkles: remove unused config
  misc/pkglist/appearance.txt
  src/dot_gtkrc-2.0
Due: none

refactor(zsh): :recycle: remove unused functions
  src/dot_zshrc.d/functions/debug
  src/dot_zshrc.d/functions/error
  src/dot_zshrc.d/functions/info
  src/dot_zshrc.d/functions/warn
Due: none

chore: :hammer: bump pre-commit-hooks from 4.4.0 to 5.0.0
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

chore: :hammer: add dotfiles as submodule
  .gitmodules
Due: none

docs(zsh): :memo: add modelines to help GitHub recognize zsh files
  src/dot_zshenv
  src/dot_zshrc
Due: none

chore: :hammer: remove adwaita-qt5-git from packages list
  misc/pkglist/appearance.txt
Due: none

feat(nvim): :sparkles: bump plugins
  src/dot_config/nvim/lazy-lock.json
Due: prettier

refactor(swaync): :recycle: remove unnecessary value
  src/dot_config/hypr/hyprland.conf
  src/dot_config/swaync/config.json
  src/dot_config/swaync/configSchema.json
  src/dot_config/swaync/style.css
Due: prettier, hyprland

docs: :memo: fix chezmoi commands
  .github/workflows/main.yml
  README.md
  justfile
Due: prettier, yamlfmt, yamllint, markdownlint-cli2, just

chore: :hammer: remove submodule
  .gitmodules
Due: none

feat(tmux): :sparkles: add chezmoi re-add to sync config
  src/dot_config/tmux/tmux.conf
Due: none

feat(btop): :sparkles: add config
  README.md
  misc/pkglist/utilities.txt
  misc/screenshots/btm.png
  misc/screenshots/btop.png
  src/dot_config/btop/btop.conf
  src/dot_config/hypr/hyprland.conf
  src/dot_config/tmux/tmux.conf
  src/dot_config/waybar/config
  src/dot_zshrc.d/functions/btop-widget
  src/dot_zshrc.d/functions/zvm_after_init
Due: prettier, markdownlint-cli2, hyprland

refactor(bottom): :recycle: remove unused config
  src/dot_config/bottom/bottom.toml
Due: taplo-format, taplo-lint

feat(swaync): :sparkles: style notification action buttons
  src/dot_config/swaync/style.css
Due: none

feat(nvim): :sparkles: add diagnostic source to diagnostic format
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

fix(nvim): :bug: disable Ctrl-W mapping in vim-visual-multi to prevent autopairs conflicts
  src/dot_config/nvim/lua/user/plugins/editing.lua
Due: none

feat(sql-formatter): :sparkles: remove tabulateAlias option
  src/dot_config/sql-formatter/config.json
Due: prettier

refactor(btop): :recycle: add descriptions
  src/dot_config/btop/btop.conf
Due: none

feat(nvim): :sparkles: add conform.nvim for formatting
  misc/pkglist/developer-tools.txt
  src/dot_config/mise/config.toml
  src/dot_config/nvim/lazy-lock.json
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: prettier, taplo-format, taplo-lint

feat(git): :sparkles: ignore mise.local.toml
  src/dot_config/git/ignore
Due: none

chore: :hammer: update tmux keybind for WSL
  misc/wsl/src/.config/tmux/tmux.conf.local
Due: none

feat(atuin): :sparkles: disable sync feature
  src/dot_config/atuin/config.toml
Due: taplo-format, taplo-lint

feat: :sparkles: remove unnecessary config
  src/dot_config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: connect via litellm if use bedrock
  src/dot_config/mise/config.toml
  src/dot_config/nvim/lazy-lock.json
  src/dot_config/nvim/lua/user/plugins/ai.lua
  src/dot_config/tmuxp/misc.yaml
Due: prettier, yamlfmt, yamllint, taplo-format, taplo-lint

chore: :hammer: use nordvpn with openvpn client
  README.md
  misc/etc/kernel/cmdline
  misc/etc/systemd/network/20-wired.network
  misc/etc/systemd/network/25-wireless.network
  misc/pkglist/network.txt
  scripts/bootstrap.bash
  src/dot_config/mimeapps.list
  src/dot_config/waybar/config
  src/dot_config/waybar/lib/executable_vpn.bash
  src/dot_mozilla/firefox/v7fd4tvu.default-release/user.js
  test/file.yaml
  test/group.yaml
  test/service.yaml
Due: prettier, yamlfmt, yamllint, markdownlint-cli2

chore: :hammer: add systemd service to reconnect OpenVPN after system suspend
  misc/etc/systemd/system/openvpn-reconnect.service
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: prevent new `[No Name]` buffer when dashboard
  src/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

refactor(nvim): :recycle: remove visual mode hack for avante.nvim
  src/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(nvim): :sparkles: use snacks.nvim instead of dressing.nvim for avante.nvim input provider
  src/dot_config/nvim/lua/user/plugins/ai.lua
  src/dot_config/nvim/lua/user/plugins/interface.lua
Due: none

refactor(nvim): :recycle: remove dressing.nvim
  src/dot_config/nvim/lazy-lock.json
Due: prettier

feat(opencode): :sparkles: add config
  src/dot_config/mise/config.toml
  src/dot_config/opencode/AGENTS.md
  src/dot_config/opencode/opencode.json
  src/dot_config/tmux/tmux.conf
  src/dot_config/zsh-abbr/private_user-abbreviations
  src/dot_zshrc.d/functions/opencode-widget
  src/dot_zshrc.d/functions/zvm_after_init
Due: prettier, markdownlint-cli2, taplo-format, taplo-lint

feat(opencode): :sparkles: rename playwright to playwright-server and add --headless flag
  src/dot_config/opencode/opencode.json
Due: prettier

feat(nvim): :sparkles: bump mcp servers
  src/dot_config/mcphub/servers.json
  src/dot_config/nvim/lua/user/plugins/ai.lua
  src/dot_config/opencode/opencode.json
Due: prettier

feat(nvim): :sparkles: remove copilot-lualine
  src/dot_config/nvim/lua/user/plugins/interface.lua
Due: none

feat(hypr): :sparkles: enable focus_on_activate
  src/dot_config/hypr/hyprland.conf
Due: hyprland
