Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

docs: :memo: update description of launcher
  README.md
Due: prettier-markdown, markdownlint-cli2

feat(zsh): :sparkles: add glob prefixes of zsh-abbr
  src/dot_zshrc
Due: none

feat(nvim): :sparkles: reduce yank highlight timeout from 200ms to 50ms
  src/dot_config/nvim/lua/user/autocmds.lua
Due: none

chore: :hammer: reorganize packages by category and remove unused tools
  src/.chezmoidata/packages.yaml
  src/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

refactor(zsh): :recycle: remove environment variable of Nix
  src/dot_zshenv
Due: none

chore: :hammer: move delve package to debugger section with comment
  src/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(markdownlint-cli2): :sparkles: convert markdownlint config from v1 to v2 format
  src/dot_markdownlint-cli2.jsonc
  src/dot_markdownlint.yaml
Due: yamlfmt, yamllint

feat(zsh): :sparkles: add keybinds of word navigation
  src/dot_zshrc.d/functions/zvm_after_init
Due: none

refactor: :recycle: configure prettier to remove trailing commas from JSONC files
  .markdownlint-cli2.jsonc
  src/dot_config/fastfetch/config.jsonc
  src/dot_config/nvim/lua/user/plugins/lang.lua
  src/dot_markdownlint-cli2.jsonc
Due: none

docs: :memo: change indentation to 4 spaces
  .editorconfig
  .markdownlint-cli2.jsonc
  .markdownlint.json
  README.md
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add subagents for MCP
  src/.chezmoidata/packages.yaml
  src/dot_config/mise/config.toml
  src/dot_config/opencode/agent/aws.md
  src/dot_config/opencode/agent/context7.md
  src/dot_config/opencode/agent/playwright.md
  src/dot_config/opencode/agent/terraform.md
  src/dot_config/opencode/command/test.md
  src/dot_config/opencode/opencode.jsonc
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: rename opencode.json to opencode.jsonc
  src/dot_config/opencode/opencode.jsonc
Due: none

docs: :memo: add description to markdownlint configuration rules
  .markdownlint-cli2.jsonc
  src/dot_markdownlint-cli2.jsonc
Due: none

feat(zsh-abbr): :sparkles: replace chezmoi source-path with repository path
  src/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(nvim): :sparkles: change markdown tabstop from 2 to 4 spaces
  src/dot_config/nvim/indent/markdown.lua
Due: none

chore: :hammer: fix markdown indent config to avoid linting warnings
  .editorconfig
Due: none

refactor(nvim): :recycle: remove indentation settings for justfile
  src/dot_config/nvim/indent/just.lua
Due: none

feat(zsh-abbr): :sparkles: add mise run command
  src/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(nvim): :sparkles: add ethersync-nvim
  src/.chezmoidata/packages.yaml
  src/dot_config/git/ignore
  src/dot_config/nvim/lua/user/plugins/editing.lua
Due: yamlfmt, yamllint

revert: "feat(nvim): :sparkles: add ethersync-nvim"
  src/.chezmoidata/packages.yaml
  src/dot_config/git/ignore
  src/dot_config/nvim/lua/user/plugins/editing.lua
Due: yamlfmt, yamllint

chore: :hammer: split prettier hook into separate markdown and json formatters
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

docs: :memo: rename screenshots from snake case to kebab case
  README.md
  misc/screenshots/lazygit-cz.png
  misc/screenshots/lock-screen.png
  misc/screenshots/login-screen.png
  misc/screenshots/no-window.png
  misc/screenshots/nvim-dadbod-ui.png
  misc/screenshots/nvim-hydra.png
  misc/screenshots/nvim-telescope.png
  misc/screenshots/nvim-tree.png
  misc/screenshots/nvim-which-key.png
  misc/screenshots/nvim-wilder.png
  misc/screenshots/waybar-security-check.png
Due: prettier-markdown, markdownlint-cli2

docs: :memo: rename rofi-wayland to rofi
  README.md
  misc/screenshots/rofi.png
Due: prettier-markdown, markdownlint-cli2

docs: :memo: reorganize table of pre-commit hooks
  README.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: update requirements and simplify setup instructions
  README.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: reorganize taplo-lint hook
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

chore: :hammer: reorganize pre-commit hooks
  .pre-commit-config.yaml
  README.md
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

chore: :hammer: add typos to pre-commit hooks
  .pre-commit-config.yaml
  README.md
  typos.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

ci: :ferris_wheel: add typos
  .github/workflows/main.yml
  .pre-commit-config.yaml
  typos.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

docs: :memo: add emoji icons to all README section headers
  README.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: bump plugin lockfile
  src/dot_config/nvim/lazy-lock.json
Due: prettier-json

chore: :hammer: add screenshot exclusion to typos configuration
  typos.toml
Due: taplo-format, taplo-lint

chore: :hammer: disable ports test in rkhunter to prevent false positives
  src/.chezmoiscripts/linux/run_after_1_configure-etc-files.sh.tmpl
Due: none

docs: :memo: move screenshots from misc/ to docs/ directory
  README.md
  docs/screenshots/README.md
  docs/screenshots/bootsplash.png
  docs/screenshots/btop.png
  docs/screenshots/lazydocker.png
  docs/screenshots/lazygit-cz.png
  docs/screenshots/lazygit.png
  docs/screenshots/lock-screen.png
  docs/screenshots/login-screen.png
  docs/screenshots/msf.png
  docs/screenshots/ncspot.png
  docs/screenshots/no-window.png
  docs/screenshots/nvim-dadbod-ui.png
  docs/screenshots/nvim-hydra.png
  docs/screenshots/nvim-telescope.png
  docs/screenshots/nvim-tree.png
  docs/screenshots/nvim-which-key.png
  docs/screenshots/nvim-wilder.png
  docs/screenshots/nvim.png
  docs/screenshots/overview.png
  docs/screenshots/pet.png
  docs/screenshots/rofi.png
  docs/screenshots/swaync.png
  docs/screenshots/waybar-security-check.png
  docs/screenshots/waybar.png
  docs/screenshots/wlogout.png
  docs/screenshots/yazi.png
Due: prettier-markdown, markdownlint-cli2

feat: :sparkles: use gesture command instead of gestures block to support for v0.51.0
  src/dot_config/hypr/hyprland.conf
Due: hyprland

chore: :hammer: change espanso from AUR to chaotic-aur
  src/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

chore: :hammer: update AutoHotkey package id in Windows package list
  src/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

chore: :hammer: add logging and prevent duplicate installs in Windows setup
  src/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
Due: none

feat: :sparkles: support for WSL
  .editorconfig
  README.md
  docs/install-archlinux-on-wsl2.md
  misc/wsl/etc/systemd/system/systemd-timesyncd.service.d/override.conf
  misc/wsl/etc/tmpfiles.d/wslg.conf
  misc/wsl/etc/wsl.conf
  misc/wsl/remap.skl
  misc/wsl/src/.config/neovide/config.toml
  misc/wsl/src/.config/nvim/lua/user/local.lua
  misc/wsl/src/.config/tmux/tmux.conf.local
  misc/wsl/src/.gnupg/gpg-agent.conf
  misc/wsl/src/.local/bin/cmd.exe
  misc/wsl/src/.local/bin/drawio.exe
  misc/wsl/src/.local/bin/firefox
  misc/wsl/src/.local/bin/ncspot
  misc/wsl/src/.local/bin/nmap
  misc/wsl/src/.local/bin/powershell.exe
  misc/wsl/src/.local/bin/scoop.exe
  misc/wsl/src/.local/bin/sudo.exe
  misc/wsl/src/.local/bin/wezterm.exe
  misc/wsl/src/.local/bin/winget.exe
  misc/wsl/src/.local/bin/wl-paste
  misc/wsl/src/.local/bin/wsl.exe
  misc/wsl/src/.local/bin/xdg-open
  src/.chezmoidata/packages.yaml
  src/.chezmoiignore
  src/.chezmoiscripts/linux/wsl/run_onchange_after_101_configure-for-wsl.sh
  src/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
  src/dot_config/systemd/user/wsl-wayland-symlink.service
  src/dot_config/tmux/tmux.conf
  src/dot_config/wezterm/wezterm.lua
  src/dot_glzr/glazewm/config.yaml
  src/dot_glzr/glazewm/hotkeys.ahk
  src/dot_local/bin/executable_explorer.exe
  src/dot_wslconfig
  src/private_dot_gnupg/private_gpg-agent.conf
  src/private_dot_gnupg/private_gpg-agent.conf.tmpl
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

docs: :memo: update package list link to point to chezmoi data file
  README.md
Due: prettier-markdown, markdownlint-cli2

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
