Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

prettier:
  name: format json and markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

sway:
  name: check config of sway with sway --validate option
  language: system
  entry: sway --validate
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

clang-format:
  name: format c files with clang-format
  language: system
  entry: just src/.config/qmk/fmt
  pass_filenames: false

pkglist:
  name: format pkglist
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t sort -uo {} {}"

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

fishtape:
  name: test fish functions
  language: system
  entry: fishtape
  args:
  - src/.config/fish/tests/functions/*
  pass_filenames: false

feat(tmuxp): :sparkles: update litellm model from claude-3-7-sonnet to claude-opus-4
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

refactor(zsh): :recycle: remove $FZF_CTRL_R_OPTS
  src/.zshenv
Due: none

chore: :hammer: use kubectx instead of kubie in security lab
  misc/security-lab/justfile
Due: just

feat(zsh): :sparkles: add wrapper functions for kubens
  src/.zfunctions/kubens
Due: none

feat(k9s): :sparkles: add config
  src/.config/k9s/aliases.yaml
  src/.config/k9s/config.yaml
  src/.config/k9s/hotkeys.yaml
  src/.config/k9s/plugins.yaml
Due: yamlfmt, yamllint

feat(k9s): :sparkles: add hotkeys for namespace and context
  src/.config/k9s/hotkeys.yaml
Due: yamlfmt, yamllint

chore: :hammer: use glazewm instead of komorebi
  docs/install-archlinux-on-wsl2.md
  misc/wsl/misc/komorebi.json
  misc/wsl/src/.glzr/glazewm/config.yaml
  misc/wsl/src/.glzr/glazewm/hotkeys.ahk
  misc/wsl/src/.local/bin/komorebic.exe
Due: prettier, yamlfmt, yamllint, markdownlint-cli2

feat(tmuxp): :sparkles: add Open WebUI setup
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(gnupg): :sparkles: use pinentry-gtk instead of pinentry-curses
  .gitignore
  scripts/bootstrap.bash
  src/.gnupg/gpg-agent.conf
Due: none

chore: :hammer: tweak glazewm
  misc/wsl/src/.glzr/glazewm/config.yaml
  misc/wsl/src/.glzr/glazewm/hotkeys.ahk
Due: yamlfmt, yamllint

chore: :hammer: use kubectx instead of kubie
  .dockerignore
  .gitignore
  README.md
  misc/pkglist/developer-tools.txt
Due: prettier, markdownlint-cli2, pkglist

feat(zsh): :sparkles: remove $DO_NOT_TRACK
  README.md
  src/.zshenv
Due: prettier, markdownlint-cli2

feat(uwsm): :sparkles: add $QT_STYLE_OVERRIDE
  src/.config/uwsm/env
  src/.zshenv
Due: none

feat(nvim): :sparkles: disable spell checking in harper-ls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(lazygit): :sparkles: enable GPG override
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: :hammer: add config for gpg in WSL
  docs/install-archlinux-on-wsl2.md
  misc/wsl/src/.gnupg/gpg-agent.conf
Due: prettier, markdownlint-cli2

feat(nvim): :sparkles: remove keymap for nvzone/menu
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

fix: :bug: change nerdFontsVersion value from number to string
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): :sparkles: disable treesitter highlighting in markdown file
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): :sparkles: use dynamic mappings of avante.nvim
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

feat(nvim): :sparkles: add keymaps to move cursor to windows
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): :sparkles: update bedrock model to claude sonnet 4 and set max_tokens to 16384
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

feat(tmuxp): :sparkles: update litellm model to claude sonnet 4
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(mise): :sparkles: bump litellm from 1.66.3 to 1.71.1
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

refactor: :recycle: add container names and rename terraform server
  src/.config/mcphub/servers.json
Due: prettier

chore: :hammer: remove deprecated Do Not Track header preference from Firefox config
  misc/firefox/user.js
Due: none

feat(lazygit): :sparkles: use array format of new allBranchesLogCmds
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(lazygit): :sparkles: use output field instead of subprocess and showOutput field
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: :hammer: disable Firefox translations in favor of TWP addon
  misc/firefox/user.js
Due: none

feat(atuin): :sparkles: use fulltext search mode
  src/.config/atuin/config.toml
Due: taplo-format, taplo-lint

docs(atuin): :memo: update comments to explain fulltext search mode choice
  src/.config/atuin/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: move some packages from pkglist
  .pre-commit-config.yaml
  bin/goss
  misc/pkglist/developer-tools.txt
  misc/pkglist/programming-languages.txt
  mise.toml
  src/.config/mise/config.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint, pkglist

feat(home-manager): :sparkles: use 25.05 release branch of stable channel
  .gitignore
  src/.config/home-manager/flake.lock
  src/.config/home-manager/flake.nix
Due: none

feat(nix): :sparkles: use all available CPU cores
  src/.config/nix/nix.conf
Due: none

feat(nvim): :sparkles: bump plugins
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
Due: prettier

feat(yazi): :sparkles: rename section from manager to mgr
  src/.config/yazi/keymap.toml
Due: taplo-format, taplo-lint

feat(yazi): :sparkles: add piper and bump plugins
  src/.config/yazi/package.toml
  src/.config/yazi/yazi.toml
Due: taplo-format, taplo-lint

feat(firefox): :sparkles: add config
  .editorconfig
  .gitignore
  README.md
  justfile
  misc/firefox/search.json.mozlz4
  misc/pkglist/utilities.txt
  scripts/bootstrap.bash
  src/.config/psd/psd.conf
  src/.mozilla/firefox/installs.ini
  src/.mozilla/firefox/profiles.ini
  src/.mozilla/firefox/v7fd4tvu.default-release/chrome/userChrome.css
  src/.mozilla/firefox/v7fd4tvu.default-release/search.json.mozlz4
  src/.mozilla/firefox/v7fd4tvu.default-release/user.js
Due: prettier, markdownlint-cli2, just, pkglist

chore: :hammer: remove crudini from pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$
