Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

prettier:
  name: format json and markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

sway:
  name: check config of sway with sway --validate option
  language: system
  entry: sway --validate
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

clang-format:
  name: format c files with clang-format
  language: system
  entry: just src/.config/qmk/fmt
  pass_filenames: false

pkglist:
  name: format pkglist
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t sort -uo {} {}"

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

fishtape:
  name: test fish functions
  language: system
  entry: fishtape
  args:
  - src/.config/fish/tests/functions/*
  pass_filenames: false

feat(nvim): :sparkles: add icons and enable visual mode in which-key.nvim
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(nvim): :sparkles: enable triggers of which-key.nvim
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(nvim): :sparkles: enable registers in which-key.nvim
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(nvim): :sparkles: add git-conflict.nvim and update diff highlights for better readability
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/version.lua
Due: prettier

feat(nvim): :sparkles: add routes to skip messages in noice.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

docs(zsh): :memo: add comment explaining hyperlink feature in alias
  src/.zshrc.d/alias.zsh
Due: none

feat(git): :sparkles: enable hyperlinks in delta
  src/.config/git/config
Due: none

chore: :hammer: remove pacman hooks
  misc/etc/pacman.d/hooks/rkhunter-status.hook
  misc/pkglist/package-manegement.txt
  scripts/bootstrap.bash
  src/.zfunctions/informant-widget
  src/.zfunctions/zvm_after_init
  test/file.yaml
Due: yamlfmt, yamllint, pkglist

feat(nvim): :sparkles: add noice.nvim routes to suppress messages
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(pet): :sparkles: add tag to snippet
  src/.config/pet/snippet.toml
Due: taplo-lint

feat(pet): :sparkles: add snippet for listing unrequired dependencies with pacman
  src/.config/pet/snippet.toml
Due: taplo-lint

refactor: :recycle: use $WAYLAND_DISPLAY instead of $DISPLAY
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/utils/im.lua
  src/.zshenv
Due: none

feat(tmux): :sparkles: enable clipboard integration via OSC 52
  src/.config/tmux/tmux.conf
Due: none

feat(nvim): :sparkles: enable OSC 52
  src/.config/nvim/lua/user/options.lua
Due: none

docs: :memo: add description for OSC 8, 52, and 133
  README.md
Due: prettier, markdownlint-cli2

feat(zsh): :sparkles: add fd and ripgrep aliases for hyperlink support
  src/.zshrc.d/alias.zsh
Due: none

fix(applications): :bug: update yazi.desktop to use %F parameter instead of %u for file arguments
  src/.local/share/applications/yazi.desktop
Due: none

docs: :memo: add rg and fd to description for OSC 8
  README.md
Due: prettier, markdownlint-cli2

fix(nvim): :bug: enable clipboard support with OSC 52 fallback when not using Wayland
  src/.config/nvim/lua/user/options.lua
Due: none

refactor(zsh): :recycle: remove local plugins from sheldon and move into zshrc.d directory
  src/.config/sheldon/plugins.toml
  src/.zshrc
  src/.zshrc.d/alias.zsh
  src/.zshrc.d/command.zsh
  src/.zshrc.d/compile.zsh
  src/.zshrc.d/completion.zsh
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: enable foldcolumn
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add filter to indent of snacks.nvim to exclude dbout filetype
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: add mason-lock.nvim and lockfile
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/mason-lock.json
Due: prettier

feat(zsh): :sparkles: add clipboard integration for zsh-vi-mode
  src/.zfunctions/copy-buffer-widget
  src/.zfunctions/zvm_after_init
Due: none

feat(zsh): :sparkles: enable extended_history option
  src/.zshrc.d/option.zsh
Due: none

chore: :hammer: add nuclei to pkglist
  misc/pkglist/security.txt
Due: pkglist

feat(nvim): :sparkles: add bedrock provider to avante.nvim
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/pet/snippet.toml
Due: taplo-lint

style(nvim): :lipstick: remove empty line
  src/.config/nvim/lua/user/plugins/filetype.lua
Due: none

feat(pet): :sparkles: add snippet for generating random passwords
  misc/pkglist/utilities.txt
  src/.config/pet/snippet.toml
Due: taplo-lint, pkglist

feat(tmuxp): :sparkles: rename secret name of gopass
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(tmuxp): :sparkles: add session for AWS Bedrock and Open WebUI integration
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

chore: :hammer: uncomment MAKEFLAGS in makepkg.conf to enable parallel compilation
  scripts/bootstrap.bash
Due: none

chore: :hammer: sort package lists alphabetically in developer-tools and window-manager
  misc/pkglist/developer-tools.txt
  misc/pkglist/window-manager.txt
Due: pkglist

feat(nvim): :sparkles: use bundled binary of mcphub.nvim
  src/.config/mise/config.toml
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
Due: prettier, taplo-format, taplo-lint

chore: :hammer: use drop-ins for journald, logind, and timesyncd
  misc/etc/systemd/journald.conf.d/system_max_use.conf
  misc/etc/systemd/logind.conf.d/handle_lid_switch.conf
  misc/etc/systemd/logind.conf.d/handle_power_key.conf
  misc/etc/systemd/timesyncd.conf.d/ntp.conf
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

feat(pacman): :sparkles: add makepkg.conf
  scripts/bootstrap.bash
  src/.config/pacman/makepkg.conf
Due: none

chore: :hammer: remove interception tools
  README.md
  test/file.yaml
Due: prettier, yamlfmt, yamllint, markdownlint-cli2

chore: :hammer: use drop-ins of makepkg.conf
  misc/etc/makepkg.conf.d/makepkg.conf
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

chore: :hammer: create additional systemd configuration directories during installation
  scripts/bootstrap.bash
Due: none

feat(nvim): :sparkles: update MCP server configuration
  src/.config/mcphub/servers.json
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$
