Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(opencode): :sparkles: allow pacman -Qi
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow git commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow gh commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nono): :sparkles: add profiles
  .gitignore
  cog.toml
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
  home/dot_config/nono/profiles/aws-mcp-server-n4vysh-common.jsonc
  home/dot_config/nono/profiles/aws-mcp-server-n4vysh-prod.jsonc
  home/dot_config/nono/profiles/aws-mcp-server-n4vysh-stg.jsonc
  home/dot_config/nono/profiles/dbus.jsonc
  home/dot_config/nono/profiles/git.jsonc
  home/dot_config/nono/profiles/github-mcp-server.jsonc
  home/dot_config/nono/profiles/gpg.jsonc
  home/dot_config/nono/profiles/grafana-mcp-server-n4vysh.jsonc
  home/dot_config/nono/profiles/kubernetes-mcp-server-kind-sandbox.jsonc
  home/dot_config/nono/profiles/opencode.jsonc
  home/dot_config/nono/profiles/systemd-resolved.jsonc
  home/dot_config/nono/profiles/terraform-mcp-server.jsonc
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

feat(mise): :sparkles: add zensical
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(mise): :sparkles: add development tools
  .github/workflows/main.yml
  .github/workflows/pr.yml
  README.md
  home/.chezmoidata/packages.yaml
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
  home/dot_zshenv
  mise.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

chore: :hammer: remove sqlfluff from mise.toml
  mise.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: use ec instead of editorconfig-checker
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

ci: :green_heart: add pr-agent
  .github/workflows/review.yml
  .github/workflows/test-commit-msg.yml
Due: yamlfmt, yamllint

chore: :hammer: add GitHub issue and pull request templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

chore: :hammer: format feature request search guidance as a note
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: yamlfmt, yamllint

chore: :hammer: disable MD041 linting in pull request template
  .github/pull_request_template.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: use lefthook instead of pre-commit
  .editorconfig
  .github/workflows/main.yml
  .pre-commit-config.yaml
  .renovaterc.jsonc
  AGENTS.md
  README.md
  home/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh.tmpl
  home/dot_config/espanso/config/default.yml
  home/dot_config/git/templates/hooks/executable_pre-commit
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
  home/dot_config/nvim/lua/user/plugins/lang.lua
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/tmux-powerline/config.sh
  home/dot_config/tmux-powerline/themes/executable_tokyonight.sh
  home/dot_config/zsh-abbr/private_user-abbreviations
  home/dot_p10k.zsh
  home/dot_zshenv
  home/dot_zshrc
  home/dot_zshrc.d/conf.d/command.zsh
  home/dot_zshrc.d/functions/kubens
  home/dot_zshrc.d/functions/lg
  home/dot_zshrc.d/functions/zvm_after_init
  lefthook.yml
  mise.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

fix(zsh): :bug: quote lazygit directory file path during removal
  home/dot_zshrc.d/functions/lg
Due: none

ci: :green_heart: assign PR authors automatically on opening
  .github/workflows/assign-pr-author.yml
Due: yamlfmt, yamllint

feat(mise): :sparkles: allow better-sqlite3 builds for obsidian-headless
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump obsidian-headless from 0.0.8 to 0.0.14
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

fix(zsh): :bug: add workaround for herdr $TERM override
  home/dot_zshrc
Due: none

feat(mise): :sparkles: bump herdr from 0.8.0 to 0.8.2
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(claude): :sparkles: disable attribution
  home/dot_claude/settings.json
Due: prettier-json

feat(claude): :sparkles: add claude-powerline
  home/dot_claude/settings.json
  home/dot_config/claude-powerline/config.json
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: prettier-json, taplo-format, taplo-lint

style(mise): :art: sort tools
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

chore: :hammer: use commitlint instead of cocogitto
  .commitlintrc.yaml
  .github/workflows/main.yml
  .github/workflows/test-commit-msg.yml
  README.md
  cog.toml
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
  lefthook.yml
  mise.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

refactor(mise): :recycle: use tools of registry
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

chore: :hammer: inline commitlint conventional rules for mise npm compatibility
  .commitlintrc.yaml
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
  mise.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(apm): :sparkles: add ctx7 skill
  home/dot_apm/skills/ctx7/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(nono): :sparkles: extend mcp server profile
  home/dot_config/granted/config
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
  home/dot_config/nono/profiles/aws-mcp-server-n4vysh-common.jsonc
  home/dot_config/nono/profiles/aws-mcp-server-n4vysh-prod.jsonc
  home/dot_config/nono/profiles/aws-mcp-server-n4vysh-stg.jsonc
  home/dot_config/nono/profiles/aws-mcp-server.jsonc
  home/dot_config/nono/profiles/github-mcp-server.jsonc
  home/dot_config/nono/profiles/gopass.jsonc
  home/dot_config/nono/profiles/gpg.jsonc
  home/dot_config/nono/profiles/grafana-mcp-server-n4vysh.jsonc
  home/dot_config/nono/profiles/grafana-mcp-server.jsonc
  home/dot_config/nono/profiles/kubernetes-mcp-server-kind-sandbox.jsonc
  home/dot_config/nono/profiles/kubernetes-mcp-server.jsonc
  home/dot_config/nono/profiles/opencode.jsonc
  home/dot_config/nvim/lua/user/plugins/ai.lua
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/tmux/tmux.conf
  home/dot_config/zsh-abbr/private_user-abbreviations
  home/dot_zshrc.d/functions/opencode-widget
Due: taplo-format, taplo-lint

feat(nono): :sparkles: add aws, gcx, and kubectl profile
  home/dot_config/nono/profiles/aws.jsonc
  home/dot_config/nono/profiles/gcx.jsonc
  home/dot_config/nono/profiles/gopass.jsonc
  home/dot_config/nono/profiles/kubectl.jsonc
  home/dot_config/nono/profiles/opencode.jsonc
Due: none

chore: :hammer: allow yazi shared memory files in rkhunter
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
Due: none

feat(opencode): :sparkles: use GPT 6 instead of GPT 5.6
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: add AI agents
  home/.chezmoidata/packages.yaml
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(mise): :sparkles: add repomix
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: improve models settings for GPT
  home/dot_config/opencode/opencode.jsonc
Due: none

chore: :hammer: rename files to kebab case
  .editorconfig
  README.md
  docs/install-archlinux-without-virtualization.md
  etc/systemd/journald.conf.d/system-max-use.conf
  etc/systemd/logind.conf.d/handle-lid-switch.conf
  etc/systemd/logind.conf.d/handle-power-key.conf
  etc/systemd/resolved.conf.d/dns-servers.conf
  etc/systemd/system.conf.d/default-timeout-stop-sec.conf
  etc/systemd/system/display-manager.service.d/color.conf
  misc/firefox/zero-omega.bak
  misc/firefox/zero_omega.bak
  scripts/bootstrap.bash
  test/files.bats
  typos.toml
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
