Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

prettier:
  name: format json and markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

sway:
  name: check config of sway with sway --validate option
  language: system
  entry: sway --validate
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

clang-format:
  name: format c files with clang-format
  language: system
  entry: just src/.config/qmk/fmt
  pass_filenames: false

pkglist:
  name: format pkglist
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t sort -uo {} {}"

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

fishtape:
  name: test fish functions
  language: system
  entry: fishtape
  args:
  - src/.config/fish/tests/functions/*
  pass_filenames: false

feat(mise): add elia-chat
  scripts/bootstrap.bash
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): add posting
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): add harlequin
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

chore: add fabric-ai to pkglist
  misc/pkglist/developer-tools.txt
  src/.zshrc.d/alias.zsh
Due: pkglist

chore(mise): add go packages
  scripts/bootstrap.bash
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

chore: add wrapper script for WSL
  misc/wsl/src/.local/bin/explorer.exe
Due: none

feat(nvim): change keymap from yn to yy
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(nvim): use vim.diagnostic.config instead of vim.fn.sign_define
  src/.config/nvim/lua/user/options.lua
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(ghostty): disable Discretionary Ligatures
  src/.config/ghostty/config
Due: none

feat(hypr): remove icon from hyprbar
  src/.config/hypr/hyprland.conf
Due: none

feat(yazi): add config
  .dockerignore
  .github/workflows/main.yml
  .gitignore
  .ignore
  .markdownlint.json
  README.md
  lua-yazi.toml
  misc/pkglist/developer-tools.txt
  misc/pkglist/window-manager.txt
  misc/screenshots/nnn.png
  misc/screenshots/yazi.png
  selene.toml
  src/.config/hypr/hyprland.conf
  src/.config/lazygit/config.yml
  src/.config/nnn/bookmarks/dirbuster
  src/.config/nnn/bookmarks/dotfiles
  src/.config/nnn/bookmarks/webshells
  src/.config/nnn/bookmarks/wordlists
  src/.config/nnn/plugins
  src/.config/tmux/tmux.conf
  src/.config/yazi/init.lua
  src/.config/yazi/keymap.toml
  src/.config/yazi/package.toml
  src/.config/yazi/theme.toml
  src/.config/yazi/yazi.toml
  src/.config/zsh-abbr/user-abbreviations
  src/.local/bin/nnn-diff
  src/.local/bin/nnn-home
  src/.local/bin/nuke
  src/.local/src/dotfiles/nnn-diff.bash
  src/.local/src/dotfiles/nnn-home.bash
  src/.local/src/dotfiles/nuke.bash
  src/.zfunctions/n
  src/.zfunctions/y
  src/.zfunctions/y-widget
  src/.zfunctions/zvm_after_init
  src/.zshenv
Due: prettier, yamlfmt, yamllint, markdownlint-cli2, taplo-format, taplo-lint, pkglist

feat(nvim): use snacks.nvim instead of neoscroll.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

feat(nvim): add noice.nvim
  src/.config/nvim/init.lua
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/completion.lua
  src/.config/nvim/lua/user/plugins/finder.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier

feat(nvim): use snacks.nvim instead of alpha-nvim
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): remove unused plugin from lock file
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): use dropbar.nvim instead of nvim-navic
  README.md
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier, markdownlint-cli2

feat(nvim): add lualine component for noice
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): add nvim-treesitter-context
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: prettier

feat(nvim): set border style into single
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): set default search engine into duckduckgo
  src/.config/nvim/lua/user/plugins/browser.lua
Due: none

feat(nvim): use nvimtools/hydra.nvim instead of anuvyklack/hydra.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

feat(nvim): tweak hydra hint messages
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): add startup section to dashboard
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): use snacks.nvim instead of indent-blankline.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

feat(nvim): tweak keymap for avante.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/project.lua
Due: prettier

feat(nvim): add mcphub.nvim
  misc/pkglist/developer-tools.txt
  src/.config/mcphub/servers.json
  src/.config/mise/config.toml
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
Due: prettier, taplo-format, taplo-lint, pkglist

feat(lazygit): change border from rounded to single
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: update search.json.mozlz4 for developer site
  misc/firefox/search.json.mozlz4
Due: none

feat: :sparkles: add cz-git and litellm proxy
  .github/workflows/main.yml
  .pre-commit-config.yaml
  misc/pkglist/developer-tools.txt
  mise.toml
  src/.config/lazygit/config.yml
  src/.config/mise/config.toml
  src/.config/nvim/lua/user/options.lua
  src/.config/tmux/tmux.conf
  src/.config/tmuxp/misc.yaml
  src/.config/tmuxp/music.yaml
  src/.czrc
Due: yamlfmt, yamllint, taplo-format, taplo-lint, pkglist

feat(lazygit): :sparkles: add custom spinner animation frames to lazygit configuration
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(yazi): :sparkles: change keybind from `Z` to `,z` for zoxide plugin
  src/.config/yazi/keymap.toml
Due: taplo-format, taplo-lint

feat(yazi): :sparkles: change flavor from tokyonight to catppuccin frappe
  src/.config/yazi/package.toml
  src/.config/yazi/theme.toml
Due: taplo-format, taplo-lint

feat: :sparkles: remove elia-chat tool and its wrapper script
  src/.config/mise/config.toml
  src/.local/bin/elia-wrapper
  src/.local/src/dotfiles/elia-wrapper.bash
  src/.zshrc.d/alias.zsh
Due: taplo-format, taplo-lint

feat(yazi): :sparkles: bump plugins
  src/.config/yazi/package.toml
Due: taplo-format, taplo-lint

refactor(nvim): :recycle: add startup.lua
  src/.config/nvim/init.lua
  src/.config/nvim/lua/user/startup.lua
Due: none

feat(nvim): :sparkles: add lazygit.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/version.lua
Due: prettier

feat(nvim): :sparkles: change which-key scpec from "ai/alternate" to "ai"
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(nvim): :sparkles: set high priority and disable lazy loading for snacks.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: add copilot and linecount component of lualine.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$
