Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

fix(hypr): :bug: enable hypridle service and update DPMS dispatches
  home/.chezmoidata/services.yaml
  home/dot_config/hypr/hypridle.conf
  home/dot_config/hypr/hyprland.lua
Due: yamlfmt, yamllint

fix(hypr): :bug: change window rule syntax from string to table
  home/dot_config/hypr/hyprland.lua
Due: none

feat(hypr): :sparkles: allow screen capture for wf-recorder and wl-mirror
  home/dot_config/hypr/hyprland.lua
Due: none

feat(espanso): :sparkles: use terminal-friendly paste shortcut
  home/dot_config/espanso/config/default.yml
Due: yamlfmt, yamllint

feat(agents): :sparkles: add skill for context7-mcp
  home/dot_agents/skills/context7-mcp/SKILL.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(agents): :sparkles: add skills for k6 and pyroscope
  home/dot_agents/skills/k6/SKILL.md
  home/dot_agents/skills/pyroscope/SKILL.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(tmuxp): :sparkles: run LiteLLM containers interactively
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: add MCP servers
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(tridactyl): :sparkles: update URL for Grafana Cloud
  home/dot_config/tridactyl/tridactylrc
Due: none

feat(opencode): :sparkles: add superpowers plugin
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(agents): :sparkles: add skill for grill-me
  home/dot_agents/skills/grill-me/SKILL.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

style(opencode): :art: rename command and skill directories
  home/dot_config/opencode/commands/fix.md
  home/dot_config/opencode/commands/review.md
  home/dot_config/opencode/commands/test.md
  home/dot_config/opencode/skills/ni/SKILL.md
  home/dot_config/opencode/skills/skill-creator/SKILL.md
  home/dot_config/opencode/skills/terraform-module/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: bump opencode from 1.15.10 to 1.15.11
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(mise): :sparkles: bump opencode from 1.15.11 to 1.15.12
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: enable WebSocket of experimental feature
  home/dot_zshenv
Due: none

feat(mise): :sparkles: migrate ubi backend to github backend
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: allow --help option for all commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow --version option for all commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow commands without rtk when use pipe
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow git symbolic-ref
  home/dot_config/opencode/opencode.jsonc
Due: none

refactor(opencode): :recycle: remove unnecessary --version option from allow permission rules
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow read-only GitLab API access
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow stat command
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow hyprctl commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow journalctl commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow systemctl commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow command -v
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(agents): :sparkles: add skill for gh command
  home/dot_agents/skills/gh/SKILL.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: bump opencode from 1.15.12 to 1.16.2
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: allow chezmoi commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow read-only gh commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: prompt for approval when glab api graphql commands
  home/dot_config/opencode/opencode.jsonc
Due: none

fix(waybar): :bug: update warning icon
  home/dot_config/waybar/lib/executable_check-rootkit.bash
  home/dot_config/waybar/lib/executable_pkg-audit.bash
Due: none

docs: :memo: emphasize category names
  README.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: document rtk command output handling policy
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: clarify bullet formatting to avoid wrapped list items
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add subagents
  home/dot_config/opencode/agents/ci-watcher.md
  home/dot_config/opencode/agents/code-reviewer.md
  home/dot_config/opencode/agents/debugger.md
  home/dot_config/opencode/agents/test-runner.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: open directory with yazi.nvim
  home/dot_config/nvim/init.lua
  home/dot_config/nvim/lua/user/autocmds.lua
  home/dot_config/nvim/lua/user/plugin.lua
  home/dot_config/nvim/lua/user/plugins/explorer.lua
  home/dot_config/nvim/lua/user/startup.lua
Due: none

feat(opencode): :sparkles: add commands for PR and MR
  home/dot_config/opencode/commands/mr.md
  home/dot_config/opencode/commands/pr.md
Due: prettier-markdown, markdownlint-cli2

feat(zsh): :sparkles: enable command correction
  home/dot_zshrc.d/conf.d/option.zsh
Due: none
