Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

prettier:
  name: format json and markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

sway:
  name: check config of sway with sway --validate option
  language: system
  entry: sway --validate
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

clang-format:
  name: format c files with clang-format
  language: system
  entry: just src/.config/qmk/fmt
  pass_filenames: false

pkglist:
  name: format pkglist
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t sort -uo {} {}"

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

fishtape:
  name: test fish functions
  language: system
  entry: fishtape
  args:
  - src/.config/fish/tests/functions/*
  pass_filenames: false

feat(nvim): enable `ctrl h` and `ctrl w` for nvim-autopairs
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

feat(nvim): use add method for harpoon
  src/.config/nvim/lua/user/plugins/marks.lua
Due: none

feat(nvim): change keymap for lspsaga.nvim
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(tridactyl): ignore perplexity
  src/.config/tridactyl/tridactylrc
Due: none

feat(nvim): disable neotest discovery for performance
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(nvim): enable indent marker for nvim-tree.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: prettier

feat(nvim): align icons to right
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(tridactyl): unbind <C-b> to use builtin bookmark sidebar
  src/.config/tridactyl/tridactylrc
Due: none

feat(nvim): use expandtab for terraform
  src/.config/nvim/indent/terraform.lua
Due: none

feat(nvim): disable wrap in neotest summary
  src/.config/nvim/lua/user/autocmds.lua
Due: none

feat(nvim): add snippet file for markdown
  src/.config/nvim/lua/user/plugins/completion.lua
  src/.config/nvim/snippets/markdown.lua
Due: none

feat(nvim): add keymap to switch visual line mode
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): add keymap for paste
  src/.config/nvim/lua/user/keymaps.lua
Due: none

chore(stylua): change column width from 120 to 80 in lua file
  .stylua.toml
  src/.config/stylua/stylua.toml
Due: taplo-format, taplo-lint

style(nvim): format with stylua
  src/.config/nvim/init.lua
  src/.config/nvim/lua/user/autocmds.lua
  src/.config/nvim/lua/user/plugins/browser.lua
  src/.config/nvim/lua/user/plugins/completion.lua
  src/.config/nvim/lua/user/plugins/database.lua
  src/.config/nvim/lua/user/plugins/debugging.lua
  src/.config/nvim/lua/user/plugins/editing.lua
  src/.config/nvim/lua/user/plugins/finder.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/lua/user/plugins/syntax.lua
  src/.config/nvim/lua/user/plugins/test.lua
  src/.config/nvim/lua/user/plugins/version.lua
  src/.config/nvim/lua/user/utils/im.lua
  src/.config/nvim/snippets/markdown.lua
Due: none

feat(nvim): remove bufnr option of urlview.nvim
  src/.config/nvim/lua/user/plugins/browser.lua
Due: none

chore: add espanso for WSL setup
  docs/install-archlinux-on-wsl2.md
Due: prettier, markdownlint-cli2

feat(espanso): add %Y to date format
  src/.config/espanso/match/base.yml
Due: yamlfmt, yamllint

feat(nvim): remove spaces of markdown snippets
  src/.config/nvim/snippets/markdown.lua
Due: none

feat(espanso): disable notification when startup
  src/.config/espanso/config/default.yml
Due: yamlfmt, yamllint

feat(nvim): add treesitter parsers
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): use setup function for nvim-ts-autotag
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): load nvim-ts-context-commentstring after nvim-treesitter
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): use vtsls instead of tsserver
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(tridactyl): ignore whimsical
  src/.config/tridactyl/tridactylrc
Due: none

feat(nvim): use space instead of tab for indent in javascript
  src/.config/nvim/indent/javascript.lua
Due: none

feat(nvim): use EslintFixAll instead of LSP format feature
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

chore: use ScreenToGif for WSL
  docs/install-archlinux-on-wsl2.md
  misc/wsl/misc/komorebi.ahk
Due: prettier, markdownlint-cli2

chore: tweak ahk for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

feat(sway): tweak keybind for screenshot and screenrecord
  src/.config/sway/config
Due: sway

feat(waybar): add custom module for screen record
  src/.config/waybar/config
Due: none

feat(swappy): add config
  misc/pkglist/window-manager.txt
  src/.config/nvim/ftdetect/ini.lua
  src/.config/swappy/config
  src/.config/sway/config
Due: sway, pkglist

feat(nvim): add nvim-notify
  .editorconfig
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

feat(nvim): add avante.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
Due: prettier

feat: add symbolic link for aicommits
  src/.local/bin/aic
Due: none

feat(nvim): add auto group for wrap
  src/.config/nvim/lua/user/autocmds.lua
Due: none

feat(nvim): use wrapped-compact render of nvim-notify
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

chore: add jwt-cli to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: tweak keybind for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$
