Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

refactor(opencode): :recycle: rename MCP servers
  home/dot_config/opencode/agents/aws-api-expert.n4vysh-common.md
  home/dot_config/opencode/agents/aws-api-expert.n4vysh-prod.md
  home/dot_config/opencode/agents/aws-api-expert.n4vysh-stg.md
  home/dot_config/opencode/agents/aws-docs-expert.md
  home/dot_config/opencode/agents/context7.md
  home/dot_config/opencode/agents/deepwiki.md
  home/dot_config/opencode/agents/github.md
  home/dot_config/opencode/agents/grafana-expert.n4vysh.md
  home/dot_config/opencode/agents/grep.app.md
  home/dot_config/opencode/agents/kubernetes-expert.kind-sandbox.md
  home/dot_config/opencode/agents/markitdown.md
  home/dot_config/opencode/agents/mdn.md
  home/dot_config/opencode/agents/semgrep.md
  home/dot_config/opencode/agents/terraform-expert.md
  home/dot_config/opencode/agents/trivy.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: deny rm command
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add command execution guidelines to system prompt
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: allow `helm list`
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(agents): :sparkles: add skill for grilling
  home/dot_agents/skills/grill-me/SKILL.md
  home/dot_agents/skills/grilling/SKILL.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

chore: :hammer: remove LocalCDN, ClearURLs, and CanvasBlocker
  .editorconfig
  .pre-commit-config.yaml
  .prettierignore
  README.md
  misc/firefox/canvas-blocker.json
  misc/firefox/ublock.txt
Due: prettier-json, yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add plugin for GPT-5.6 Luna
  home/dot_config/opencode/plugins/codex-identity-plugin.ts
Due: none

feat(opencode): :sparkles: use GPT 5.6 instead of GPT 5.4
  home/dot_config/opencode/agents/aws-api-expert.md
  home/dot_config/opencode/agents/aws-docs-expert.md
  home/dot_config/opencode/agents/ci-watcher.md
  home/dot_config/opencode/agents/code-reviewer.md
  home/dot_config/opencode/agents/context7.md
  home/dot_config/opencode/agents/debugger.md
  home/dot_config/opencode/agents/deepwiki.md
  home/dot_config/opencode/agents/docs-writer.md
  home/dot_config/opencode/agents/github.md
  home/dot_config/opencode/agents/grafana-expert.md
  home/dot_config/opencode/agents/grep.app.md
  home/dot_config/opencode/agents/kubernetes-expert.md
  home/dot_config/opencode/agents/markitdown.md
  home/dot_config/opencode/agents/mdn.md
  home/dot_config/opencode/agents/security-auditor.md
  home/dot_config/opencode/agents/semgrep.md
  home/dot_config/opencode/agents/terraform-expert.md
  home/dot_config/opencode/agents/test-runner.md
  home/dot_config/opencode/agents/trivy.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: bump opencode from 1.17.15 to 1.17.18
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(cz): :sparkles: use GPT 5.6 instead of GPT 5.4
  home/dot_config/tmuxp/ai.yaml
  home/dot_czrc
Due: yamlfmt, yamllint

fix(tmuxp): :bug: avoid prisma-client-py command not found
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint

chore: :hammer: add istio to packages
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(tmux): :sparkles: simplify goto-mode line navigation
  home/dot_config/tmux/tmux.conf
Due: none

refactor(tmuxp): :recycle: tweak note and tasks workspace
  home/dot_config/tmuxp/note.yaml
  home/dot_config/tmuxp/tasks.yaml
Due: yamlfmt, yamllint

chore: :hammer: use chaotic aur for steghide package availability
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(mise): :sparkles: bump rtk from 0.40.0 to 0.43.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

chore: :hammer: group formatter and linter packages together
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: allow reading rtk's saved failure output
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

ci: :green_heart: bump runner image from ubuntu-24.04 to ubuntu-26.04
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: yamlfmt, yamllint

ci: :green_heart: downgrade archlinux container image from 20260712 to base-20260705
  .github/workflows/main.yml
Due: yamlfmt, yamllint

ci: :green_heart: bump container image from 20250810.0.398652 to 20260712.0.555322
  .github/workflows/main.yml
Due: yamlfmt, yamllint

style: :art: format
  .editorconfig
  .yamlfmt.yaml
  .yamllint.yaml
  home/dot_config/hypr/hyprpaper.conf
  home/dot_config/nvim/lua/user/plugin.lua
  home/dot_config/nvim/lua/user/plugins/interface.lua
  home/dot_config/yasb/config.yaml
  home/dot_config/yasb/styles.css
Due: yamlfmt, yamllint

feat(rumdl): :sparkles: add config
  .github/workflows/main.yml
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  .prettierignore
  .rumdl.toml
  README.md
  docs/install-archlinux-on-wsl2.md
  home/.chezmoidata/packages.yaml
  home/dot_config/nvim/lua/user/plugins/lang.lua
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/agents/aws-api-expert.md
  home/dot_config/opencode/agents/aws-docs-expert.md
  home/dot_config/opencode/agents/context7.md
  home/dot_config/opencode/agents/deepwiki.md
  home/dot_config/opencode/agents/github.md
  home/dot_config/opencode/agents/grafana-expert.md
  home/dot_config/opencode/agents/grep.app.md
  home/dot_config/opencode/agents/kubernetes-expert.md
  home/dot_config/opencode/agents/markitdown.md
  home/dot_config/opencode/agents/mdn.md
  home/dot_config/opencode/agents/semgrep.md
  home/dot_config/opencode/agents/terraform-expert.md
  home/dot_config/opencode/agents/trivy.md
  home/dot_config/opencode/commands/fix.md
  home/dot_config/opencode/commands/mr.md
  home/dot_config/opencode/commands/pr.md
  home/dot_config/opencode/commands/test.md
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/rumdl/rumdl.toml
  home/dot_markdownlint-cli2.jsonc
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

docs: :memo: add AGENTS.md
  AGENTS.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: add cocogitto
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .pre-commit-config.yaml
  README.md
  cog.toml
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

ci: :green_heart: install git before checking out the repository
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: yamlfmt, yamllint

ci: :green_heart: configure safe git directories
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: yamlfmt, yamllint

refactor(opencode): :recycle: rename mcp servers with snake case
  home/dot_config/opencode/agents/aws-api-expert.md
  home/dot_config/opencode/agents/aws-docs-expert.md
  home/dot_config/opencode/agents/context7.md
  home/dot_config/opencode/agents/deepwiki.md
  home/dot_config/opencode/agents/github.md
  home/dot_config/opencode/agents/grafana-expert.md
  home/dot_config/opencode/agents/grep.app.md
  home/dot_config/opencode/agents/kubernetes-expert.md
  home/dot_config/opencode/agents/markitdown.md
  home/dot_config/opencode/agents/mdn.md
  home/dot_config/opencode/agents/semgrep.md
  home/dot_config/opencode/agents/terraform-expert.md
  home/dot_config/opencode/agents/trivy.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

docs: :memo: update download link for ConPTY
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: pin python v3.13.14 when litellm v1.88.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add system prompts for question tool
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: use telescope for dashboard file searches
  home/dot_config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: ignore dropbar.nvim in dashboard
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(opencode): :sparkles: clarify guidelines for concise, single-instruction bullets
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

refactor(opencode): :recycle: refine system prompts
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: bump opencode from 1.17.18 to 1.18.1
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: remove plugin for GPT-5.6 Luna
  home/dot_config/opencode/plugins/codex-identity-plugin.ts
Due: none

feat(tokscale): :sparkles: add config
  cog.toml
  home/dot_config/mise/config.toml
  home/dot_config/tmuxp/ai.yaml
  home/dot_config/tokscale/settings.json
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint

feat(opencode): :sparkles: rename temporary directory
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2
