Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

docs(yazi): :memo: add WSL opener configuration for work
  home/dot_config/yazi/yazi.toml
Due: taplo-format, taplo-lint

feat(tmuxp): :sparkles: add top_p to additional drop params of litellm
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

chore: :hammer: fix regex pattern for ly session log file replacement
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
Due: none

feat(mise): :sparkles: bump opencode from 0.15.31 to 1.0.134
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

feat(cz): :sparkles: configure Claude Sonnet 4.5 as AI model for cz-git
  home/dot_czrc
Due: none

feat(opencode): :sparkles: allow safe read-only bash commands without prompting
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add command to analyze and suggest fixes for errors
  home/dot_config/opencode/command/fix.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: add notify-send wrapper for WSL using BurntToast
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
  home/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
Due: none

chore: :hammer: fix notify-send wrapper for WSL
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

feat(nvim): :sparkles: use systemd_lsp instead of systemd_ls
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(zsh): :sparkles: use lazygit instead of lg
  home/dot_zshrc.d/functions/lazygit-widget
  home/dot_zshrc.d/functions/lg
  home/dot_zshrc.d/functions/lg-widget
  home/dot_zshrc.d/functions/zvm_after_init
Due: none

feat(tmux): :sparkles: move bluetui binding from 'b' to 'C-w'
  home/dot_config/tmux/tmux.conf
Due: none

feat(tmux): :sparkles: add 'w' key binding to open impala
  home/dot_config/tmux/tmux.conf
Due: none

chore: :hammer: switch bun package from chaotic-aur to extra repo
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

chore: :hammer: remove plasma6-themes-fluent-git
  README.md
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

chore: :hammer: bump ly to 1.3.0
  home/.chezmoidata/services.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: bump lockfile
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(yazi): :sparkles: update plugins and theme for v25.12.29
  home/dot_config/yazi/package.toml
  home/dot_config/yazi/theme.toml
Due: taplo-format, taplo-lint

style(lazygit): :lipstick: normalize quotes to double quotes with prettier
  home/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(lazygit): :sparkles: convert git.paging to git.pagers array format
  home/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(hypr): :sparkles: update syntax for v0.53.0 and add permissions
  home/.chezmoidata/services.yaml
  home/dot_config/hypr/hyprland.conf
  home/dot_config/hypr/hyprpaper.conf
Due: yamlfmt, yamllint, hyprland

feat(btop): :sparkles: enable CPU power consumption display in watts
  home/dot_config/btop/btop.conf
Due: none

feat(opencode): :sparkles: add safety prompts for dangerous find command options
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: bump opencode from 1.0.134 to 1.0.223
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(zsh): :sparkles: change bluetui widget keybinding from ^ob to ^o^w
  home/dot_zshrc.d/functions/zvm_after_init
Due: none

feat(zsh): :sparkles: add zsh widget to launch impala with Ctrl-O W binding
  home/dot_zshrc.d/functions/impala-widget
  home/dot_zshrc.d/functions/zvm_after_init
Due: none

feat(zsh): :sparkles: add ignore list for zsh-auto-notify interactive tools
  home/dot_zshrc
Due: none

feat(yazi): :sparkles: add Ctrl+S keybinding for ripgrep content search
  home/dot_config/yazi/keymap.toml
Due: taplo-format, taplo-lint

feat(yazi): :sparkles: use <C-l> instead of Y and X for unyank
  home/dot_config/yazi/keymap.toml
Due: taplo-format, taplo-lint

refactor(nvim): :recycle: update warning and disable auto_suggestions_provider
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(nvim): :sparkles: change icon from copilot to robot in lspkind symbol map
  home/dot_config/nvim/lua/user/plugins/completion.lua
Due: none

docs: :memo: add OpenCode as coding agent to README
  README.md
Due: prettier-markdown, markdownlint-cli2

feat: :sparkles: add git-czg wrapper with API key injection from gopass
  home/dot_config/private_dot_czrc
  home/dot_local/bin/executable_git
Due: none

feat: :sparkles: add wrapper script for git czg
  home/dot_local/bin/executable_cz-editor
  home/dot_zshenv
Due: none

feat(cz): :sparkles: disable uppercase subjects
  home/dot_czrc
Due: none

feat(opencode): :sparkles: remove unused subagent
  home/dot_config/opencode/agent/aws.md
  home/dot_config/opencode/agent/context7.md
  home/dot_config/opencode/agent/playwright.md
  home/dot_config/opencode/agent/terraform.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add skill-creator and terraform-module skills
  home/dot_config/opencode/skill/skill-creator/SKILL.md
  home/dot_config/opencode/skill/terraform-module/SKILL.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: remove theharvester, add playwright to package list
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(espanso): :sparkles: update symbol triggers to use 's' prefix for consistency
  home/dot_config/espanso/match/symbol.yml
Due: yamlfmt, yamllint

chore: :hammer: add gifsicle package for GIF processing
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint
