Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$

chore: use gotests in AUR
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: add gotestsum
  scripts/bootstrap.bash
Due: none

chore: remove dprint
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(fish): tweak abbreviation for docker compose
  src/.config/fish/config.fish
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): tweak listchars
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

refactor(nvim): use default value of wildmode
  src/.config/nvim/lua/user/options.lua
Due: none

feat(tmux): tweak options for tmux-fzf-url
  src/.config/tmux/tmux.conf
Due: none

docs(nvim): add comment for keymaps
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): add keymaps like helix
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

refactor(nvim): use vim.tbl_extend
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(tmux): add keybinds like helix
  src/.config/tmux/tmux.conf
Due: none

feat(tridactyl): add keybinds like helix
  src/.config/tridactyl/tridactylrc
Due: none

feat(nvim): add vim-tridactyl
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/filetype.lua
Due: prettier

feat(nvim): enable incremental selection of tree sitter
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(xh): add --follow option to default options
  src/.config/fish/config.fish
  src/.config/xh/config.json
Due: prettier

feat(fish): add abbreviations for tldr
  src/.config/fish/config.fish
Due: none

feat(nvim): change keymap of nvim-surround to avoid conflict for leap.nvim and helix like keymaps
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

feat(nvim): add spectral-language-server
  misc/pkglist/developer-tools.txt
  src/.config/nvim/lua/user/plugins/lang.lua
Due: pkglist

refactor(fish): use variables for command name
  src/.config/fish/usr/conf.d/commands.fish
Due: none

feat(nvim): add sqlfluff
  misc/pkglist/developer-tools.txt
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/sqlfluff/.sqlfluff
Due: pkglist

feat(ncspot): tweak keybinds
  src/.config/ncspot/config.toml
Due: taplo-format, taplo-lint

docs(fish): tweak comments for alias
  src/.config/fish/usr/conf.d/alias.fish
Due: none

feat(fish): use alias instead of abbreviation for grc
  src/.config/fish/config.fish
  src/.config/fish/usr/conf.d/alias.fish
Due: none

feat(fish): use grc in go, kubectl, traceroute, uptime, and whois
  src/.config/fish/usr/conf.d/alias.fish
Due: none

feat(nvim): add plugin and package manager to dashboard
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/lua/user/utils/ui.lua
Due: none

chore: add jqp to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

refactor(nvim): use opts instead of config
  src/.config/nvim/lua/user/plugins/explorer.lua
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/version.lua
Due: none

feat(nnn): use wrapper script instead of symbolic link for nuke
  src/.local/bin/nuke
  src/.local/src/dotfiles/nuke.bash
Due: none

chore: change AUR helper from paru to yay
  docs/install-archlinux-on-wsl2.md
  justfile
  scripts/bootstrap.bash
  src/.config/fish/config.fish
  src/.config/yay/config.json
Due: prettier, markdownlint-cli2, just

chore: add setting file for CanvasBlocker
  README.md
  misc/firefox/canvas-blocker.json
Due: prettier, markdownlint-cli2

feat(nvim): use default keymaps for nvim 0.10.0
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

chore: add aicommits to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(espanso): add config
  misc/pkglist/utilities.txt
  scripts/bootstrap.bash
  src/.config/espanso/config/default.yml
  src/.config/espanso/match/base.yml
Due: yamlfmt, yamllint, pkglist

feat(nvim): add copilot.lua
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/completion.lua
Due: prettier

chore: add ublock custom filter for DDG
  misc/firefox/ublock.txt
Due: none

feat(nvim): enable split long line of gofumpt
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

chore: use keybase of AUR instead of extra repository
  misc/pkglist/developer-tools.txt
  src/.local/bin/keybase-gui
  src/.local/src/dotfiles/keybase-gui.bash
Due: pkglist

feat(aicommits): add config
  src/.aicommits
  src/.local/bin/aicommits
  src/.local/src/dotfiles/aicommits.bash
Due: none

feat(nvim): add keymap to close window for neotest
  src/.config/nvim/lua/user/plugins/test.lua
Due: none
