Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(mise): :sparkles: add gcx
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(mise): :sparkles: pin hunk version
  home/dot_config/mise/mise.lock
Due: none

feat(mise): :sparkles: change worktrunk from github backend to aqua backend
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(mise): :sparkles: change github-mcp-server from github backend to aqua backend
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(mise): :sparkles: change crane from github backend to aqua backend
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(mise): :sparkles: update herdr github backend to herdrdev repository
  home/dot_config/mise/mise.lock
Due: none

feat(opencode): :sparkles: remove bedrock provider
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: add http-deb backend
  home/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh.tmpl
  home/dot_config/mise/config.toml
  home/dot_config/mise/plugins/vfox-http-deb/.luarc.json
  home/dot_config/mise/plugins/vfox-http-deb/hooks/backend_exec_env.lua
  home/dot_config/mise/plugins/vfox-http-deb/hooks/backend_install.lua
  home/dot_config/mise/plugins/vfox-http-deb/hooks/backend_list_versions.lua
  home/dot_config/mise/plugins/vfox-http-deb/metadata.lua
  home/dot_config/mise/plugins/vfox-http-deb/types/mise-plugin.lua
  home/dot_config/mise/selene-lib-mise.toml
  home/dot_config/mise/selene.toml
  selene-lib-mise.toml
  selene.toml
Due: prettier-json, taplo-format, taplo-lint

feat(mise): :sparkles: disable asdf and ubi backends
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: add aws-session-manager-plugin
  home/.chezmoidata/packages.yaml
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: yamlfmt, yamllint, taplo-format, taplo-lint

chore: :hammer: add schema directive for mise
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: change minimum_release_age from 7 days to 3 days
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: disable experimental features
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: limit lockfile entries to linux-x64
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(mise): :sparkles: enable version pinning
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: allow gh repo view
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(apm): :sparkles: update lockfile for claude
  home/dot_apm/private_apm.lock.yaml
Due: yamlfmt, yamllint

feat(zsh): :sparkles: add fzf completion function
  home/dot_zshenv
  home/dot_zshrc.d/conf.d/completion.zsh
  home/dot_zshrc.d/site-functions/_fzf
Due: none

feat(zsh): :sparkles: add kubecolor completion function
  home/dot_zshrc.d/conf.d/completion.zsh
  home/dot_zshrc.d/site-functions/_kubecolor
Due: none

feat(zsh-abbr): :sparkles: add mise search abbreviation
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(mimeapps): :sparkles: add claude-code
  home/dot_config/private_mimeapps.list
Due: none

feat(opencode): :sparkles: allow pacman -Ql and pacman -Qo
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: add developer tools
  .renovaterc.jsonc
  home/.chezmoidata/groups.yaml
  home/.chezmoidata/packages.yaml
  home/.chezmoidata/services.yaml
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
  home/dot_config/mise/config.toml
  home/dot_config/mise/files/etc/docker/daemon.json
  home/dot_config/mise/mise.lock
  home/dot_config/opencode/package-lock.json
  home/dot_config/opencode/package.json
  home/dot_config/zsh-abbr/private_user-abbreviations
  home/dot_zshenv
  home/dot_zshrc.d/conf.d/alias.zsh
  home/dot_zshrc.d/conf.d/completion.zsh
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint

feat(claude): :sparkles: enable fullscreen renderer
  home/dot_claude/settings.json
Due: prettier-json

feat(mise): :sparkles: use {{env.HOME}} instead of ~ in $GOPATH
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(zsh): :sparkles: ignore claude in zsh-auto-notify
  home/dot_zshrc
Due: none

feat(mise): :sparkles: bump awscli from 2.34.32 to 2.36.31
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump mcp-proxy-for-aws from 1.4.0 to 1.6.4
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump kubernetes-mcp-server from 0.0.60 to 0.0.66
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump terraform-mcp-server from 0.5.2 to 1.2.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump mcp-grafana from 0.11.4 to 1.1.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump github-mcp-server from 1.0.5 to 1.10.1
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: update lockfile
  home/dot_config/mise/mise.lock
Due: none

fix(mise): :bug: change docker.socket state from stopped to running
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(herdr): :sparkles: disable clipboard toast
  home/dot_config/herdr/config.toml
Due: taplo-format, taplo-lint

feat(apm): :sparkles: docs: define branch and commit naming conventions
  home/dot_apm/skills/git/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: rewrite npx ctx7 commands to use the local binary
  home/dot_apm/skills/ctx7/SKILL.md
  home/dot_config/opencode/plugins/rewrite_commands.ts
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: clarify Katakana avoidance in Japanese writing guidelines
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: allow access to all workspace directories
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: deny home directory access by default
  home/dot_config/opencode/opencode.jsonc
Due: none

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
