Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(zsh-abbr): :sparkles: add git czg abbreviations
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(nvim): :sparkles: change model name of avante.nvim
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(opencode): :sparkles: update model name
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(tmux): :sparkles: add keybind to paste via gopass and fzf
  home/dot_config/tmux/tmux.conf
Due: none

chore: :hammer: add osv-scanner to package list
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: map Ctrl-k to command mode, remove LSP signature binding
  home/dot_config/nvim/lua/user/keymaps.lua
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(mise): :sparkles: add Bun runtime and ni package manager
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(zsh-abbr): :sparkles: replace pnpm command with ni command
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(opencode): :sparkles: use builtin Terraform formatter and LSP configuration
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add yamlfmt for YAML files
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: switch leap.nvim source from GitHub to Codeberg
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/motion.lua
Due: prettier-json

feat(mise): :sparkles: bump opencode-ai from 1.0.223 to 1.1.11
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: uncomment litellm provider and add model selection comments
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add bash command permissions
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add plugin with idle session notifications
  home/dot_config/opencode/package.json
  home/dot_config/opencode/plugin/notification.ts
  tsconfig.json
Due: prettier-json

feat(zsh): :sparkles: add zi to zsh-auto-notify ignore list
  home/dot_zshrc
Due: none

feat(opencode): :sparkles: add comprehensive code review command with security focus
  home/dot_config/opencode/command/review.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: switch from Anthropic Claude Sonnet 4.5 to OpenAI GPT-5.2 Codex model
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: remove avante.nvim
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  home/dot_config/mcphub/servers.json
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: prettier-json

docs(nvim): :memo: fix description of keymaps
  home/dot_config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/syntax.lua
Due: prettier-json

feat(mise): :sparkles: bump opencode from 1.1.11 to 1.1.25
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat: :sparkles: update Tresorit to version 3.5.1281.4700
  home/dot_local/share/applications/tresorit.desktop
Due: none

feat(nvim): :sparkles: remove vim-textobj-markdown
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(nvim): :sparkles: remove vim-textobj-comment
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(nvim): :sparkles: remove vim-textobj-datetime
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(nvim): :sparkles: remove dashboard buffer workaround from keymaps
  home/dot_config/nvim/lua/user/plugin.lua
  home/dot_config/nvim/lua/user/plugins/explorer.lua
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(firefox): :sparkles: support for XDG Base Directory
  .editorconfig
  .pre-commit-config.yaml
  home/dot_config/mozilla/firefox/installs.ini
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/search.json.mozlz4
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/user.js
  home/dot_config/mozilla/firefox/profiles.ini
  home/dot_mozilla/firefox/installs.ini
Due: yamlfmt, yamllint

docs: :memo: split rootkit and package vulnerability detection lines
  README.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: fix LibRedirect config filename in Firefox addon table
  README.md
Due: prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: bump opencode from 1.1.25 to 1.1.34
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

chore: :hammer: add mozc-ut to package list
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: allow aws commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(zsh-abbr): :sparkles: add abbreviation of mkdir
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

style(zsh-abbr): :lipstick: reorder abbreviation
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(firefox): :sparkles: update search engine
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/search.json.mozlz4
Due: none

fix(firefox): :bug: collapse multi-line prefs
  .prettierignore
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/user.js
Due: none

feat(firefox): :sparkles: allow extensions on support.mozilla.org domain
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/user.js
Due: none

revert(nvim): :rewind: add avante.nvim
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: prettier-json

feat(mise): :sparkles: bump opencode from 1.1.34 to 1.1.48
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint
