Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

prettier:
  name: format json and markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

sway:
  name: check config of sway with sway --validate option
  language: system
  entry: sway --validate
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

clang-format:
  name: format c files with clang-format
  language: system
  entry: just src/.config/qmk/fmt
  pass_filenames: false

pkglist:
  name: format pkglist
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t sort -uo {} {}"

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

fishtape:
  name: test fish functions
  language: system
  entry: fishtape
  args:
  - src/.config/fish/tests/functions/*
  pass_filenames: false

chore: :hammer: sort pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(nvim): :sparkles: update avante.nvim for better AI integration
  src/.config/mcphub/servers.json
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

chore: :hammer: add custom search engine for pypi
  misc/firefox/search.json.mozlz4
Due: none

feat(nvim): :sparkles: use lazy loading to improve performance during startup
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/autocmds.lua
  src/.config/nvim/lua/user/plugin.lua
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/keymaps.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/lua/user/plugins/syntax.lua
  src/.config/nvim/lua/user/plugins/version.lua
  src/.config/nvim/lua/user/startup.lua
  src/.config/nvim/lua/user/utils/ui.lua
Due: prettier

feat(nvim): :sparkles: remove statusline before load lualine
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: set single into border of none-ls.nvim
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: disable lualine for dashboard filetype
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: add keymap to prevent '[No Name]' buffer creation
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

feat(nvim): :sparkles: create new buffer when opening plugins UI from dashboard
  src/.config/nvim/lua/user/plugin.lua
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/lua/user/plugins/marks.lua
Due: none

feat(nvim): :sparkles: bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): :sparkles: remove unused plugins
  src/.config/bluetuith/bluetuith.conf
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier

feat(nvim): :sparkles: add context menus
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

feat(nvim): :sparkles: set cmdheight to 0 before loading noice.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat: :sparkles: bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): :sparkles: add border to nvim-cmp
  src/.config/nvim/lua/user/plugins/completion.lua
Due: none

feat(nvim): :sparkles: remove pumblend option
  src/.config/nvim/lua/user/options.lua
Due: none

chore: :hammer: fix typo in package-management.txt filename
  misc/pkglist/package-management.txt
Due: pkglist

chore: :hammer: remove pkglist pre-commit hook that formats package lists
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: use lazydev.nvim instead of neodev.nvim
  .luarc.json
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/completion.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier

feat(nvim): :sparkles: create new buffer when toggling explorer from dashboard
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(nvim): :sparkles: bump mason.nvim and mason-lspconfig.nvim from v1 to v2
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

refactor(tmuxp): :recycle: remove OpenWebUI setup
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: use AWS default credentials provider chain in avante.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/pet/snippet.toml
Due: prettier, taplo-lint

feat(nvim): :sparkles: remove mason-lock.nvim and mason-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/mason-lock.json
Due: prettier

feat(nvim): :sparkles: use olrtg/emmet-language-server instead of aca/emmet-ls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add harper-ls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add just-lsp
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add systemd-language-server
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(mise): :sparkles: remove idiomatic_version_file setting
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: add vale-ls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

refactor(nvim): :recycle: remove mason-lock.nvim from lazy-lock.json
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(atuin): :sparkles: add config and custom theme
  misc/pkglist/developer-tools.txt
  src/.config/atuin/config.toml
  src/.config/atuin/themes/custom.toml
  src/.config/ghostty/config
  src/.zfunctions/atuin-search-viins-wrapper
  src/.zfunctions/zvm_after_init
Due: taplo-format, taplo-lint, pkglist

feat(mise): :sparkles: add cmd-wrapped
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(zsh): :sparkles: set custom highlight for zsh-history-substring-search
  src/.zshenv
Due: none

feat(zsh): :sparkles: add zsh-autocomplete
  src/.config/sheldon/plugins.toml
  src/.zfunctions/zvm_after_init
  src/.zshrc.d/completion.zsh
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: remove BufReadPost event from autocommand in vim-better-whitespace
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(zsh): :sparkles: enable reminder feature in zsh-abbr
  src/.zshenv
Due: none

feat(mcphub): :sparkles: add hashicorp/terraform-mcp-server
  src/.config/mcphub/servers.json
Due: prettier

feat(nvim): :sparkles: update copilot model from claude-3.7-sonnet to claude-sonnet-4
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$
