Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$

feat(nvim): use <cmd> instead of :<C-u>
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/plugins/version.lua
Due: none

chore: add yaegi to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: add amazon-ecr-credential-helper to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: use mirrored mode instead of DNS tunneling for WSL
  misc/wsl/misc/.wslconfig
Due: none

feat(espanso): add trigger for time
  src/.config/espanso/match/base.yml
Due: yamlfmt, yamllint

feat(espanso): add trigger for japanese
  src/.config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

chore: use Run instead of RunWait in ahk
  misc/wsl/misc/komorebi.ahk
Due: none

feat(fish): add abbreviation for helmfile sync
  src/.config/fish/config.fish
Due: none

feat(nvim): use LeonB/vim-textobj-url instead of mattn/vim-textobj-url
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/editing.lua
Due: prettier

feat(nvim): add keymap to edit query in vim-dadbod-ui
  src/.config/nvim/lua/user/plugins/database.lua
Due: none

feat(fish): add abbreviation for mise use
  src/.config/fish/config.fish
Due: none

feat(fish): add abbreviation for just init
  src/.config/fish/config.fish
Due: none

feat(fish): add abbreviations for mise use --pin and mise latest
  src/.config/fish/config.fish
Due: none

feat(fish): add abbreviations for helm and just
  src/.config/fish/config.fish
Due: none

feat(nvim): use vim.filetype.add instead of autogruop
  src/.config/nvim/ftdetect/docker-compose.lua
  src/.config/nvim/ftdetect/gitconfig.lua
  src/.config/nvim/ftdetect/ini.lua
  src/.config/nvim/ftdetect/json.lua
  src/.config/nvim/ftdetect/passwd.lua
  src/.config/nvim/ftdetect/yaml.lua
  src/.config/nvim/lua/user/options.lua
Due: none

chore: use krew instead of krew-bin
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(kube): add config for kubecolor
  .gitignore
  src/.config/fish/usr/conf.d/alias.fish
  src/.config/fish/usr/conf.d/wrapper.fish
  src/.kube/color.yaml
  src/.kube/kubie.yaml
Due: yamlfmt, yamllint

chore: add kubecolor to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: add pluto to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: add kubescape to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(fish): add abbreviations for kubectl neat
  misc/kubectl-plugins.txt
  src/.config/fish/config.fish
Due: none

feat(espanso): tweak triggers for japanese
  src/.config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

feat(fish): add fish abbreviations for kubectl resource-capacity
  src/.config/fish/config.fish
Due: none

feat(mise): add kyverno
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

chore: add duckduckgo images to search engine
  misc/firefox/search.json.mozlz4
Due: none

feat(fish): add abbreviations for kubectl tree
  src/.config/fish/config.fish
Due: none

feat(fish): add abbreviations for kubectl krew
  src/.config/fish/config.fish
Due: none

chore: use komorebi v0.1.23
  docs/install-archlinux-on-wsl2.md
Due: prettier, markdownlint-cli2

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): use gotestsum for neotest-golang runner
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(keyd): add config
  misc/etc/interception/dual-function-keys/xcape.yaml
  misc/etc/interception/udevmon.yaml
  misc/etc/keyd/default.conf
  misc/pkglist/window-manager.txt
  scripts/bootstrap.bash
  src/.config/sway/config
  test/service.yaml
Due: yamlfmt, yamllint, sway, pkglist

chore: add emacs like keybind to ahk
  misc/wsl/misc/komorebi.ahk
Due: none

fix(zsh): use ly instead of .zprofile to start GUI session
  src/.zprofile
  src/.zshenv
Due: none

chore: change tapping term 300 to 200 of ahk
  misc/wsl/misc/komorebi.ahk
Due: none

chore: set overload_tap_timeout into 200 in keyd
  misc/etc/keyd/default.conf
Due: none

feat(wezterm): use ligature
  misc/wsl/src/.config/wezterm/wezterm.lua
  src/.config/wezterm/wezterm.lua
Due: none

feat(neovide): add config
  docs/install-archlinux-on-wsl2.md
  misc/pkglist/developer-tools.txt
  misc/wsl/src/.config/neovide/config.toml
  src/.config/neovide/config.toml
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/options.lua
Due: prettier, markdownlint-cli2, taplo-format, taplo-lint, pkglist

feat(fish): add abbreviations for pnpm
  src/.config/fish/config.fish
Due: none

feat(nvim): tweak keymap to goto line end
  src/.config/nvim/lua/user/keymaps.lua
Due: none

chore: add keymap for WSL
  misc/wsl/misc/komorebi.ahk
Due: none
