Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

sway:
  name: check config of sway with sway --validate option
  language: system
  entry: sway --validate
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

clang-format:
  name: format c files with clang-format
  language: system
  entry: just src/.config/qmk/fmt

pkglist:
  name: format pkglist
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t sort -uo {} {}"

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

fishtape:
  name: test fish functions
  language: system
  entry: fishtape
  args:
  - src/.config/fish/tests/functions/*
  pass_filenames: false

feat(tridactyl): add keybind to open or search selected text
  src/.config/tridactyl/tridactylrc
Due: none

feat(tmux): remove keybind to switch last pane
  src/.config/tmux/tmux.conf
Due: none

chore: add rustscan to pkglist
  misc/pkglist/network.txt
  src/.config/fish/config.fish
  src/.rustscan.toml
Due: taplo-format, taplo-lint, pkglist

feat(sway): use alt key for primary modifier key
  README.md
  docs/install-archlinux-on-wsl2.md
  misc/wsl/misc/komorebi.bat
  misc/wsl/misc/komorebi.json
  misc/wsl/misc/remap.ahk
  misc/wsl/src/.config/whkdrc
  src/.config/fish/usr/conf.d/keybinds.fish
  src/.config/fish/usr/functions/fish_user_key_bindings.fish
  src/.config/nvim/lua/user/plugins/editing.lua
  src/.config/sway/config
Due: sway

chore: add ly
  README.md
  misc/etc/systemd/system/display-namager.service.d/color.conf
  misc/pkglist/window-manager.txt
  scripts/bootstrap.bash
  src/.zprofile
  test/file.yaml
  test/service.yaml
Due: pkglist

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): enable relative number
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): add some filetypes to denylist for vim-illuminate
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): add telescope custom action for multiple select
  src/.config/nvim/lua/user/plugins/finder.lua
Due: none

feat(nvim): tweak keymaps for telescope
  src/.config/nvim/lua/user/plugins/finder.lua
Due: none

feat(nvim): enable title option for lspsaga
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): change keymaps for vim-visual-multi
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

chore: tweak hotkey for WSL
  misc/wsl/src/.config/whkdrc
Due: none

chore: add ueli for WSL
  docs/install-archlinux-on-wsl2.md
Due: none

feat(tridactyl): enable superignore in AWS Management Console
  src/.config/tridactyl/tridactylrc
Due: none

feat(yamllint): add config
  src/.config/yamllint/config
Due: none

feat(nvim): change severity of write-good from WARN to INFO
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): tweak lazy load for dadbod-ui
  src/.config/nvim/lua/user/plugins/database.lua
Due: none

test: fix sha512 of interception tools
  test/file.yaml
Due: none

chore: add redocly to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(nvim): migrate from null-ls.nvim to none-ls.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): use terraform fmt instead of terraform-ls when format
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

chore: update for WSL
  .editorconfig
  docs/install-archlinux-on-wsl2.md
  misc/wsl/misc/komorebi.ahk
  misc/wsl/misc/komorebi.bat
  misc/wsl/misc/remap.ahk
  misc/wsl/src/.config/whkdrc
  misc/wsl/src/.local/bin/komorebic.exe
Due: none

feat(nvim): remove vim-textobj-line
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

chore: change yamlfmt from AUR to extra
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: add tlp
  misc/pkglist/power-management.txt
  test/service.yaml
Due: pkglist

chore: use goss with rtx instead of pacman
  misc/pkglist/developer-tools.txt
  src/.tool-versions
Due: pkglist

chore: add thermald to pkglist
  misc/pkglist/power-management.txt
  test/service.yaml
Due: pkglist

chore: tweak CPU frequency scaling
  scripts/bootstrap.bash
Due: none

feat(pet): add misc tag to snippet for gpg-connect-agent
  src/.config/pet/snippet.toml
Due: taplo-lint

docs: add tlp and thermald to features section
  README.md
Due: none

feat(nvim): change keymap of find_files picker from <space>ff to <C-p>
  src/.config/nvim/lua/user/plugins/finder.lua
Due: none

feat(pet): add snippet for cpupower
  src/.config/pet/snippet.toml
Due: taplo-lint

feat(nvim): add keymap to quit all buffer
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): tweak keymap of vim-visual-multi
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

feat(nvim): change keymap of substitute from <space>cs to <C-h>
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): add keymap to avoid remove trailing space when going into normal mode
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): prevent to open directory
  src/.config/nvim/init.lua
  src/.config/nvim/lua/user/autocmds.lua
Due: none

fix(nvim): disable some plugins
  src/.config/nvim/init.lua
Due: none

feat(nvim): use SchemaStore.nvim in yaml
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

Path conditions:
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/*.(h|c)$
  pkglist: any of: misc/pkglist/*
  visudo: any of: misc/etc/sudoer.d/*
  fishtape: any of: .config/fish/{usr,tests}/functions/*.fish$
