Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(opencode): :sparkles: add AWS MCP server
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

feat(gnupg): :sparkles: update pinentry path for WSL
  home/private_dot_gnupg/private_gpg-agent.conf.tmpl
Due: none

feat(mise): :sparkles: add tokscale
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add Grafana MCP server
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

feat(zsh): :sparkles: preserve $KUBECONFIG across nested sessions
  home/dot_zshenv
Due: none

feat(opencode): :sparkles: add agent-browser
  home/dot_agents/skills/agent-browser/SKILL.md
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(agents): :sparkles: add skills for Grafana
  home/dot_agents/skills/loki/SKILL.md
  home/dot_agents/skills/mimir/SKILL.md
  home/dot_agents/skills/prometheus/SKILL.md
  home/dot_agents/skills/promql/SKILL.md
  home/dot_agents/skills/tempo/SKILL.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add formatter for markdown
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(tmuxp): :sparkles: pin LiteLLM Postgres image to Alpine 3.23
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint

feat(zsh-abbr): :sparkles: add abbreviation for stern
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(cz): :sparkles: add custom types to show gitmoji
  home/dot_czrc
Due: none

feat(nvim): :sparkles: use sqlfluff as formatter
  home/dot_config/mise/config.toml
  home/dot_config/nvim/lua/user/plugins/lang.lua
  home/dot_sql-formatter.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: add skill for ni
  home/dot_config/opencode/skill/ni/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(worktrunk): :sparkles: change worktree path from .git/worktrees to .worktrees
  home/dot_config/git/ignore
  home/dot_config/worktrunk/config.toml
  home/dot_config/zsh-abbr/private_user-abbreviations
  home/dot_zshrc.d/conf.d/alias.zsh
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add allowed commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: pin terraform MCP container version
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: use Context7 MCP server at OAuth endpoint
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: update system prompt
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

docs(opencode): :memo: add description for mcp auth command
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(yazi): :sparkles: change key from name to url
  home/dot_config/yazi/yazi.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: replace allowed commands with rtk
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow agent-browser skills get core
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add ccc for semantic code search
  home/dot_agents/skills/ccc/SKILL.md
  home/dot_agents/skills/ccc/references/management.md
  home/dot_agents/skills/ccc/references/settings.md
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: bump opencode from 1.14.46 to 1.14.48
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

chore: :hammer: hide version of ly in login screen
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  test/files.bats
Due: none

feat(quickshell): :sparkles: add calendar
  README.md
  home/.chezmoidata/packages.yaml
  home/dot_config/hypr/hyprland.conf
  home/dot_config/quickshell/calendar/shell.qml
  home/dot_config/waybar/config
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2, hyprland

Revert "feat(opencode): :sparkles: add context-mode"
  home/dot_config/mise/config.toml
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(yazi): :sparkles: bump plugins
  home/dot_config/yazi/package.toml
Due: taplo-format, taplo-lint

feat(user-dirs): :sparkles: privatize file and add projects path
  home/dot_config/private_user-dirs.dirs
Due: none

feat(mise): :sparkles: bump opencode from 1.14.48 to 1.15.3
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

chore: :wrench: set 0x007DCFFF into border_fg of ly
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  test/files.bats
Due: none

feat(opencode): :sparkles: add --tab-width option to prettier when markdown
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add --trailing-comma option to prettier when jsonc
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add grep.app mcp server
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add stylua to formatter
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add deepwiki mcp server
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add mcp usage to system prompt
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(hypr): :sparkles: change hyparland config from hyprlang to lua
  .editorconfig
  home/dot_config/hypr/.stylua.toml
  home/dot_config/hypr/hyprland.conf
  home/dot_config/hypr/hyprland.lua
  home/dot_config/hypr/selene-lib-hypr.toml
  selene-lib-hypr.toml
  selene.toml
Due: taplo-format, taplo-lint, hyprland

feat(nvim): :sparkles: add Hyprland type to lua library path
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

refactor(hypr): :recycle: use table in hl.permission
  home/dot_config/hypr/hyprland.lua
Due: none
