Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(mise): :sparkles: add gitleaks
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: allow renovate-config-validator
  home/dot_config/opencode/opencode.jsonc
Due: none

chore: :hammer: add mise.toml to repository root
  .github/workflows/main.yml
  .github/workflows/publish-docs.yml
  .github/workflows/test-commit-msg.yml
  .gitignore
  .ls-lint.yml
  .mise/locks/npm-commitlint-cli/21.2.2/aube-lock.yaml
  .mise/locks/npm-commitlint-cli/21.2.2/package.json
  .mise/locks/npm-renovate/44.21.0~026f02c4/aube-lock.yaml
  .mise/locks/npm-renovate/44.21.0~026f02c4/package.json
  .mise/locks/prettier/3.8.1/aube-lock.yaml
  .mise/locks/prettier/3.8.1/package.json
  .mise/locks/prettier/3.9.6/aube-lock.yaml
  .mise/locks/prettier/3.9.6/package.json
  .mise/locks/pypi-pre-commit-hooks/6.0.0/pyproject.toml
  .mise/locks/pypi-pre-commit-hooks/6.0.0/uv.lock
  .mise/locks/pypi-zensical/0.0.57/pyproject.toml
  .mise/locks/pypi-zensical/0.0.57/uv.lock
  .mise/locks/yamllint/1.38.0/pyproject.toml
  .mise/locks/yamllint/1.38.0/uv.lock
  .prettierignore
  .renovaterc.jsonc
  .taplo.toml
  .yamlfmt.yaml
  .yamllint.yaml
  CONTRIBUTING.md
  home/dot_config/mise/config.toml
  home/dot_p10k.zsh
  lefthook.yml
  mise.lock
  mise.toml
  typos.toml
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(mozilla): :sparkles: update firefox search engine
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/search.json.mozlz4
Due: none

feat(mise): :sparkles: update lockfile
  home/dot_config/mise/mise.lock
Due: none

feat(btop): :sparkles: update config from 1.4.6 to 1.4.7
  home/dot_config/btop/btop.conf
Due: none

ci: :green_heart: remove redundant zsh installation
  .github/workflows/main.yml
Due: yamlfmt, yamllint

ci: :green_heart: install necessary tools only
  .github/workflows/publish-docs.yml
  .github/workflows/test-commit-msg.yml
Due: yamlfmt, yamllint

ci: :green_heart: include immintrin.h when building re2
  .github/workflows/main.yml
Due: yamlfmt, yamllint

ci: :green_heart: assign PR authors with correct permissions and repository context
  .github/workflows/assign-pr-author.yml
Due: yamlfmt, yamllint

chore: :hammer: rename misc directory to extras
  .editorconfig
  .prettierignore
  AGENTS.md
  docs/installation/wsl2.md
  docs/usage.md
  extras/firefox/libredirect.json
  extras/firefox/twp.txt
  extras/firefox/ublock.txt
  extras/firefox/zero-omega.bak
  extras/wsl/remap.skl
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(tmux): :sparkles: remove keybindings for tmuxp
  home/dot_config/tmux/tmux.conf
Due: none

ci: :green_heart: rename workflows
  .github/workflows/review-pr.yml
  .github/workflows/test.yml
Due: yamlfmt, yamllint

ci: :green_heart: rename workflow
  .github/workflows/test-commit-msg.yml
Due: yamlfmt, yamllint

chore: :hammer: run chezmoi apply --dry-run before commits
  lefthook.yml
  mise.lock
  mise.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

chore: :hammer: use --source option when chezmoi apply
  lefthook.yml
Due: yamlfmt, yamllint

ci: :green_heart: separate dotfiles initialization, deployment, and listing steps
  .github/workflows/test.yml
Due: yamlfmt, yamllint

feat(zsh-abbr): :sparkles: add abbreviation for mise ls-remote
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(mise): :sparkles: bump herdr from 0.8.2 to 0.9.1
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(mimeapps): :sparkles: rename file
  home/dot_config/mimeapps.list
Due: none

chore: :hammer: force chezmoi dry-run in pre-commit hook
  lefthook.yml
Due: yamlfmt, yamllint

feat(mise): :sparkles: bump tokscale from 4.12.0 to 4.17.0
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(mise): :sparkles: rename pipx backend to pypi backend
  home/dot_config/nono/profiles/aws-mcp-server.jsonc
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: use GPT-6 variants
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(cz): :sparkles: use GPT-6 Sol
  home/dot_config/tmuxp/ai.yaml
  home/dot_czrc
Due: yamlfmt, yamllint

feat(nvim): :sparkles: use wl-copy in WSL
  home/dot_config/nvim/lua/user/options.lua
Due: none

feat(opencode): :sparkles: allow git show-ref with rtk and $RTK_DISABLED
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: update lockfile
  home/dot_config/mise/locks/npm-tokscale/4.12.0/private_aube-lock.yaml
  home/dot_config/mise/locks/npm-tokscale/4.17.0/private_aube-lock.yaml
  home/dot_config/mise/locks/npm-tokscale/4.17.0/private_package.json
  home/dot_config/mise/mise.lock
Due: prettier-json, yamlfmt, yamllint

feat(mise): :sparkles: remove ansible-lint from lockfile
  home/dot_config/mise/locks/pypi-ansible-lint/26.8.0/private_pyproject.toml
  home/dot_config/mise/locks/pypi-ansible-lint/26.8.0/private_uv.lock
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: add output style to system prompt
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(nono): :sparkles: add profile for nvim
  home/dot_config/nono/profiles/nvim.jsonc
  home/dot_config/nono/profiles/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow nono profile guide
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: consolidate and clarify Japanese writing rules
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(zsh): :sparkles: add `nono run` to $AUTO_NOTIFY_IGNORE
  home/dot_zshrc
Due: none

feat(claude): :sparkles: disable agent teams
  home/dot_claude/settings.json
Due: prettier-json

feat(claude): :sparkles: add hook for herdr integration
  home/dot_claude/settings.json
Due: prettier-json

feat(espanso): :sparkles: add custom match for review
  home/dot_config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

feat(herdr): :sparkles: use native host cursor
  home/dot_config/herdr/config.toml
Due: taplo-format, taplo-lint

feat(lazygit): :sparkles: add emoji to branch type descriptions
  home/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint
