Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(mise): :sparkles: add cosign and slsa-verifier for verification
  home/.chezmoidata/packages.yaml
  home/dot_config/mise/config.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

chore: :wrench: fix chezmoiignore for WSL
  home/.chezmoiignore
Due: none

feat(zsh-abbr): :sparkles: remove --all option and add init command for terragrunt
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

refactor(tmuxp): :recycle: split commands within workspace
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: use fcitx5-remote when not WSL
  home/dot_config/nvim/lua/user/utils/im.lua
Due: none

feat(nvim): :sparkles: add clipboard configuration for WSL
  home/dot_config/nvim/lua/user/options.lua
Due: none

fix(opencode): :bug: set model name for work
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: remove tfvars hack
  home/dot_config/nvim/lua/user/options.lua
Due: none

feat(zsh-abbr): :sparkles: add abbreviation for terraform-docs
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(mise): :sparkles: add granted
  home/dot_config/mise/config.toml
  home/dot_config/zsh-abbr/private_user-abbreviations
  home/dot_zshrc.d/conf.d/alias.zsh
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

docs: :memo: fix typo in bootstrap script
  scripts/bootstrap.bash
Due: none

chore: :hammer: update AutoHotkey package id in Windows package list
  src/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(tmuxp): :sparkles: bump claude sonnet from 4 to 4.5
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

chore: :hammer: add strict error handling to chezmoi scripts
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_2_enable-services.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_3_configure-security.sh
  home/.chezmoiscripts/linux/run_onchange_after_4_add-user-to-groups.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_5_enable-clock-synchronization.sh
  home/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh
  home/.chezmoiscripts/linux/run_onchange_after_7_configure-gui.sh
  home/.chezmoiscripts/linux/run_onchange_before_1_install-required-packages.sh
  home/.chezmoiscripts/linux/run_onchange_before_2_configure-security.sh
  home/.chezmoiscripts/linux/run_onchange_before_3_configure-network.sh
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_before_5_change-shell.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_configure-for-wsl.sh.tmpl
Due: none

chore: :hammer: add file change tracking for mise config and system files
  home/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

chore: :hammer: skip some Linux configuration scripts when running in WSL
  src/.chezmoiscripts/linux/run_after_1_configure-etc-files.sh
  src/.chezmoiscripts/linux/run_onchange_after_3_configure-security.sh
  src/.chezmoiscripts/linux/run_onchange_after_7_configure-gui.sh
  src/.chezmoiscripts/linux/run_onchange_before_3_configure-network.sh
  src/.chezmoiscripts/linux/run_onchange_before_5_change-shell.sh
Due: none

chore: :hammer: ignore ps1 file with chezmoiignore
  home/.chezmoiignore
Due: none

docs: :memo: add user setup and configuration steps for Arch Linux on WSL2
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

feat(wezterm): :sparkles: change default domain from Arch to archlinux
  home/dot_config/wezterm/wezterm.lua
Due: none

chore: :hammer: fix wslg config
  etc/tmpfiles.d/wslg.conf
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_configure-for-wsl.sh.tmpl
  test/files.bats
Due: none

feat(tmuxp): :sparkles: replace username for WSL
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

chore: :wrench: add chezmoi script for installing yazi plugins
  home/.chezmoiscripts/linux/run_onchange_after_6_install-developer-tools.sh
Due: none

feat: :sparkles: support for WSL
  .editorconfig
  README.md
  docs/install-archlinux-on-wsl2.md
  misc/wsl/etc/systemd/system/systemd-timesyncd.service.d/override.conf
  misc/wsl/etc/tmpfiles.d/wslg.conf
  misc/wsl/etc/wsl.conf
  misc/wsl/remap.skl
  misc/wsl/src/.config/neovide/config.toml
  misc/wsl/src/.config/nvim/lua/user/local.lua
  misc/wsl/src/.config/tmux/tmux.conf.local
  misc/wsl/src/.gnupg/gpg-agent.conf
  misc/wsl/src/.local/bin/cmd.exe
  misc/wsl/src/.local/bin/drawio.exe
  misc/wsl/src/.local/bin/firefox
  misc/wsl/src/.local/bin/ncspot
  misc/wsl/src/.local/bin/nmap
  misc/wsl/src/.local/bin/powershell.exe
  misc/wsl/src/.local/bin/scoop.exe
  misc/wsl/src/.local/bin/sudo.exe
  misc/wsl/src/.local/bin/wezterm.exe
  misc/wsl/src/.local/bin/winget.exe
  misc/wsl/src/.local/bin/wl-paste
  misc/wsl/src/.local/bin/wsl.exe
  misc/wsl/src/.local/bin/xdg-open
  src/.chezmoidata/packages.yaml
  src/.chezmoiignore
  src/.chezmoiscripts/linux/wsl/run_onchange_after_101_configure-for-wsl.sh
  src/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
  src/dot_config/systemd/user/wsl-wayland-symlink.service
  src/dot_config/tmux/tmux.conf
  src/dot_config/wezterm/wezterm.lua
  src/dot_glzr/glazewm/config.yaml
  src/dot_glzr/glazewm/hotkeys.ahk
  src/dot_local/bin/executable_explorer.exe
  src/dot_wslconfig
  src/private_dot_gnupg/private_gpg-agent.conf
  src/private_dot_gnupg/private_gpg-agent.conf.tmpl
Due: yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

docs(opencode): :memo: add commented configuration for work
  src/dot_config/opencode/opencode.jsonc
Due: none

docs: :memo: update install command for WSL
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: start systemd-logind before enable user service on WSL
  home/.chezmoiscripts/linux/run_onchange_after_2_enable-services.sh.tmpl
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_enable-services-for-wsl.sh
Due: none

feat(mise): :sparkles: bump czg from 1.11.1 to 1.12.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

docs: :memo: fix typo in chezmoi package name
  README.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: add emojis to headings and document Windows applications
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

chore: :hammer: add logging and prevent duplicate installs in Windows setup
  src/.chezmoiscripts/windows/run_onchange_before_1_install-packages.ps1.tmpl
Due: none

feat(ghostty): :sparkles: change theme name for v1.2.0
  home/dot_config/ghostty/config
Due: none

feat(tmuxp): :sparkles: switch litellm config from Anthropic API to AWS Bedrock
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

chore: :hammer: install pacman-contrib if rankmirrors is missing
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
Due: none

chore: :hammer: change script for WSL to copy systemd and sudoers config files
  home/.chezmoiscripts/linux/wsl/run_onchange_after_101_enable-services-for-wsl.sh
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none
