Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(opencode): :sparkles: use low-cost model and save token
  home/dot_config/opencode/agents/ci-watcher.md
  home/dot_config/opencode/agents/code-reviewer.md
  home/dot_config/opencode/agents/debugger.md
  home/dot_config/opencode/agents/docs-writer.md
  home/dot_config/opencode/agents/security-auditor.md
  home/dot_config/opencode/agents/test-runner.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(cz): :sparkles: use low-cost model and save token
  home/dot_config/tmuxp/ai.yaml
  home/dot_czrc
Due: yamlfmt, yamllint

revert: "chore: remove unnecessary symlink"
  src/.local/bin/nuke
Due: none

ci: avoid warning error of stow
  .github/workflows/main.yml
Due: yamlfmt, yamllint

chore: add silicon
  misc/pkglist/developer-tools.txt
Due: none

feat(fish): add abbreviation for grc
  src/.config/fish/config.fish
Due: none

feat(tmux): add keybind to edit files
  src/.config/tmux/tmux.conf
Due: none

feat(fish): add abbreviations to edit files
  src/.config/fish/usr/functions/fish_user_key_bindings.fish
Due: none

chore: add calcure to pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(tmuxp): remove unused sessions
  src/.config/tmuxp/dotfiles.yaml
  src/.config/tmuxp/misc.yaml
  src/.config/tmuxp/music.yaml
Due: yamlfmt, yamllint

feat(nvim): tweak color of DiagnosticUnnecessary
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

fix(fish): correct PATH order
  src/.config/fish/usr/conf.d/commands.fish
Due: none

feat(fish): add abbreviations for go
  src/.config/fish/config.fish
Due: none

feat(fish): update abbreviations for helm and helmfile
  src/.config/fish/config.fish
Due: none

chore: remove unused kubectl plugins
  misc/kubectl-plugins.txt
Due: none

feat(fish): add abbreviations for sops
  src/.config/fish/config.fish
Due: none

feat(fish): update abbreviations for just
  src/.config/fish/config.fish
Due: none

feat(fish): add abbreviations for pnpm
  src/.config/fish/config.fish
Due: none

feat(fish): update abbreviations for kubectl
  src/.config/fish/config.fish
Due: none

refactor(nvim): use LspAttach event
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): tweak lazy load for nvim-tree.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(fish): tweak abbreviations for rtx
  src/.config/fish/config.fish
Due: none

feat(nvim): use eslint of nvim-lspconfig
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/completion.lua
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: prettier-json

feat(fish): add abbreviations for pet
  src/.config/fish/config.fish
Due: none

refactor(nvim): tweak variable name
  src/.config/nvim/ftdetect/bash.lua
  src/.config/nvim/ftdetect/json.lua
  src/.config/nvim/ftdetect/passwd.lua
  src/.config/nvim/ftdetect/terraform.lua
  src/.config/nvim/ftplugin/go.lua
  src/.config/nvim/lua/user/autocmds.lua
  src/.config/nvim/lua/user/plugins/database.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(pet): add snippet for ghq
  src/.config/fish/config.fish
  src/.config/pet/snippet.toml
Due: taplo-lint

feat(bash): add shell hook of direnv
  src/.bashrc
Due: none

feat(sway): use -e option of wezterm
  src/.config/sway/config
Due: none

refactor(tmux): use tmux-pain-control
  src/.config/tmux/tmux.conf
Due: none

feat(tmux): tweak keybind for direnv
  .pre-commit-config.yaml
  src/.config/tmux/tmux.conf
Due: yamlfmt, yamllint

feat(tmux): change keybind to use tmuxp
  src/.config/tmux/tmux.conf
  src/.config/tmuxp/note.yaml
  src/.config/tmuxp/tasks.yaml
  src/.local/bin/ft
  src/.local/src/dotfiles/ft.bash
Due: yamlfmt, yamllint

feat(nvim): tweak keybinds for telescope.nvim
  src/.config/nvim/lua/user/plugins/finder.lua
Due: none

feat(waybar): tweak script for VPN
  src/.config/waybar/lib/vpn.bash
Due: none

feat(kanshi): add config
  src/.config/kanshi/config
  src/.config/sway/config
  src/.local/bin/clamshell
  src/.local/src/dotfiles/clamshell.bash
Due: none

feat(tmux): add vim-like keybinds
  src/.config/tmux/tmux.conf
Due: none

feat(nvim): exclude dbout from filetypes for indent-blankline.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

chore: remove keybind of left alt
  misc/etc/interception/dual-function-keys/xcape.yaml
  misc/wsl/misc/dual-key-remap/config.txt
Due: yamlfmt, yamllint

feat(sway): tweak keybinds
  src/.config/sway/config
Due: none

chore: update keymap of AutoHotKey
  misc/wsl/misc/komorebi.ahk
Due: none
