Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

refactor(zsh): :recycle: add underscore to option names
  home/dot_zshrc.d/conf.d/option.zsh
Due: none

fix(hypr): :bug: set startup brightness as a percentage
  home/dot_config/hypr/hyprland.lua
Due: none

feat(mise): :sparkles: bump opencode from 1.16.2 to 1.17.4
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: allow man command
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow col command
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(rtk): :sparkles: exclude git blame and git ls-tree
  home/dot_config/rtk/config.toml
Due: taplo-format, taplo-lint

Revert "fix(hypr): :bug: set startup brightness as a percentage"
  home/dot_config/hypr/hyprland.lua
Due: none

chore: :hammer: remove FFmpeg from Windows package list
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(espanso): :sparkles: disable search shortcut
  home/dot_config/espanso/config/default.yml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: disable format of yamlls
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(kanshi): :sparkles: move default workspace to laptop display
  home/dot_config/kanshi/config
Due: none

feat(glzr): :sparkles: remove zebar from window rules
  home/dot_glzr/glazewm/config.yaml
Due: yamlfmt, yamllint

chore: :hammer: replace ueli with Flow Launcher in WSL setup
  docs/install-archlinux-on-wsl2.md
  home/.chezmoidata/packages.yaml
  home/dot_glzr/glazewm/config.yaml
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

chore: :hammer: update path of pwsh v7.6.2 in WSL
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

chore: :hammer: fix notify-send wrapper for WSL
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

fix(waybar): :bug: fix on-click for ghostty -e
  home/dot_config/waybar/config
Due: none

chore: :hammer: add YASB for WSL
  README.md
  docs/install-archlinux-on-wsl2.md
  home/.chezmoidata/packages.yaml
  home/.chezmoiignore
  home/dot_config/yasb/config.yaml
  home/dot_config/yasb/styles.css
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

chore: :hammer: add 7zip for yazi archive extraction and preview
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(tmux): :sparkles: highlight prefix state in the session segment
  home/dot_config/tmux-powerline/themes/executable_tokyonight.sh
Due: none

feat(tmux): :sparkles: renumber windows after closing window
  home/dot_config/tmux/tmux.conf
Due: none

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(nvim): :sparkles: show opencode terminal when submitting prompts
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(tmux): :sparkles: show zoom flag as icon in window status
  home/dot_config/tmux-powerline/themes/executable_tokyonight.sh
Due: none

fix(zsh): :bug: move kubeconfig setup into .zshrc
  home/dot_zshenv
  home/dot_zshrc
Due: none

feat(opencode): :sparkles: add opencode-plugin-otel and send signals to Grafana Cloud
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/opencode/scripts/executable_otlp-headers-helper.sh
  home/dot_zshenv
Due: none

feat(tmuxp): :sparkles: run litellm proxy without docker
  home/dot_config/mise/config.toml
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(opencode): :sparkles: pin opencode subagents to GPT-5.4 with low reasoning
  home/dot_config/opencode/agents/ci-watcher.md
  home/dot_config/opencode/agents/code-reviewer.md
  home/dot_config/opencode/agents/debugger.md
  home/dot_config/opencode/agents/docs-writer.md
  home/dot_config/opencode/agents/security-auditor.md
  home/dot_config/opencode/agents/test-runner.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(mise): :sparkles: bump opencode from 1.17.4 to 1.17.9
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(agents): :sparkles: add stop-slop skill
  home/dot_agents/skills/stop-slop/CHANGELOG.md
  home/dot_agents/skills/stop-slop/LICENSE
  home/dot_agents/skills/stop-slop/README.md
  home/dot_agents/skills/stop-slop/SKILL.md
  home/dot_agents/skills/stop-slop/references/examples.md
  home/dot_agents/skills/stop-slop/references/phrases.md
  home/dot_agents/skills/stop-slop/references/structures.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add markitdown-mcp
  home/dot_config/mise/config.toml
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: bump opencode-plugin-otel from 1.1.0 to 1.2.0
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(agents): :sparkles: add skill for defuddle command
  home/dot_agents/skills/defuddle/SKILL.md
  home/dot_config/mise/config.toml
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add MDN subagent
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: allow defuddle parse
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add semgrep mcp
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add trivy mcp
  home/.chezmoidata/packages.yaml
  home/.chezmoiscripts/linux/run_onchange_before_4_install-packages.sh.tmpl
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

Revert "feat(mise): :sparkles: bump opencode from 1.17.4 to 1.17.9"
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: add opencode-with-claude plugin
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add bedrock provider
  home/dot_config/opencode/opencode.jsonc
Due: none

Revert "feat(opencode): :sparkles: add opencode-with-claude plugin"
  home/dot_config/opencode/opencode.jsonc
Due: none

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
