Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(fish): add abbreviation for mise use
  src/.config/fish/config.fish
Due: none

chore: use krew instead of krew-bin
  misc/pkglist/developer-tools.txt
Due: none

feat(fish): add abbreviations for helm and just
  src/.config/fish/config.fish
Due: none

feat(nvim): use vim.filetype.add instead of autogruop
  src/.config/nvim/ftdetect/docker-compose.lua
  src/.config/nvim/ftdetect/gitconfig.lua
  src/.config/nvim/ftdetect/ini.lua
  src/.config/nvim/ftdetect/json.lua
  src/.config/nvim/ftdetect/passwd.lua
  src/.config/nvim/ftdetect/yaml.lua
  src/.config/nvim/lua/user/options.lua
Due: none

feat(kube): add config for kubecolor
  .gitignore
  src/.config/fish/usr/conf.d/alias.fish
  src/.config/fish/usr/conf.d/wrapper.fish
  src/.kube/color.yaml
  src/.kube/kubie.yaml
Due: yamlfmt, yamllint

feat(fish): add abbreviations for kubectl neat
  misc/kubectl-plugins.txt
  src/.config/fish/config.fish
Due: none

chore: add kubescape to pkglist
  misc/pkglist/developer-tools.txt
Due: none

chore: add kubecolor to pkglist
  misc/pkglist/developer-tools.txt
Due: none

chore: add pluto to pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(espanso): tweak triggers for japanese
  src/.config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

feat(fish): add fish abbreviations for kubectl resource-capacity
  src/.config/fish/config.fish
Due: none

feat(mise): add kyverno
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(fish): add abbreviations for kubectl tree
  src/.config/fish/config.fish
Due: none

chore: add duckduckgo images to search engine
  misc/firefox/search.json.mozlz4
Due: none

chore: use komorebi v0.1.23
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json

feat(fish): add abbreviations for kubectl krew
  src/.config/fish/config.fish
Due: none

feat(nvim): use gotestsum for neotest-golang runner
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(keyd): add config
  misc/etc/interception/dual-function-keys/xcape.yaml
  misc/etc/interception/udevmon.yaml
  misc/etc/keyd/default.conf
  misc/pkglist/window-manager.txt
  scripts/bootstrap.bash
  src/.config/sway/config
  test/service.yaml
Due: yamlfmt, yamllint

chore: change tapping term 300 to 200 of ahk
  misc/wsl/misc/komorebi.ahk
Due: none

chore: add emacs like keybind to ahk
  misc/wsl/misc/komorebi.ahk
Due: none

fix(zsh): use ly instead of .zprofile to start GUI session
  src/.zprofile
  src/.zshenv
Due: none

feat(neovide): add config
  docs/install-archlinux-on-wsl2.md
  misc/pkglist/developer-tools.txt
  misc/wsl/src/.config/neovide/config.toml
  src/.config/neovide/config.toml
  src/.config/nvim/lua/user/keymaps.lua
  src/.config/nvim/lua/user/options.lua
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(wezterm): use ligature
  misc/wsl/src/.config/wezterm/wezterm.lua
  src/.config/wezterm/wezterm.lua
Due: none

feat(fish): add abbreviations for pnpm
  src/.config/fish/config.fish
Due: none

chore: set overload_tap_timeout into 200 in keyd
  misc/etc/keyd/default.conf
Due: none

feat(nvim): tweak keymap to goto line end
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(fish): add completion for aws-cli
  src/.config/fish/usr/conf.d/commands.fish
Due: none

chore: add keymap for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

feat(nvim): use space instead of tab in html
  src/.config/nvim/indent/html.lua
Due: none

feat(espanso): use triggers for japanese
  src/.config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

feat(espanso): add trigger for symbols
  src/.config/espanso/match/base.yml
  src/.config/espanso/match/symbol.yml
Due: yamlfmt, yamllint

chore: fix keymap for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

feat(nvim): tweak lazy-loading for nvim-treesitter
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): add keymap for paste
  src/.config/nvim/lua/user/keymaps.lua
Due: none

chore: disable firefox translations
  misc/firefox/user.js
Due: none

feat(tmux): enable mouse mode and add better-mouse-mode
  src/.config/tmux/tmux.conf
Due: none

chore: add C-backspace to keyd
  misc/etc/keyd/default.conf
Due: none

feat(mise): use alias instead of plugins
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint
