Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

Path conditions:
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/*.(h|c)$
  pkglist: any of: misc/pkglist/*
  visudo: any of: misc/etc/sudoer.d/*
  fishtape: any of: .config/fish/{usr,tests}/functions/*.fish$

feat(ncspot): change theme
  misc/screenshots/ncspot.png
  src/.config/ncspot/config.toml
Due: taplo-format, taplo-lint

chore: migrate from exa to eza
  goss-vars.yaml
  misc/pkglist/developer-tools.txt
  src/.config/fish/config.fish
  src/.config/fish/usr/conf.d/alias.fish
  src/.config/fish/usr/conf.d/variables.fish
Due: pkglist

chore: remove ghidra
  goss-vars.yaml
  misc/pkglist/security.txt
  src/.local/bin/ghidra
  src/.local/src/dotfiles/ghidra.bash
Due: pkglist

chore: change fcitx5 theme from nord to fluentdark
  goss-vars.yaml
  misc/pkglist/input-method.txt
Due: pkglist

feat(fish): add abbreviation for paru
  src/.config/fish/config.fish
Due: none

feat(gh): add config
  .gitignore
  goss-vars.yaml
  src/.config/gh/config.yml
Due: none

feat(pet): add snippet for gpg
  src/.config/pet/snippet.toml
Due: taplo-lint

chore: add gtk3 and gtk4 to pkglist
  misc/pkglist/appearance.txt
Due: pkglist

feat(fish): add abbreviation for devbox and rtx
  src/.config/fish/config.fish
Due: none

chore: change vivid theme from one-dark to catppuccin-mocha
  src/.zshenv
Due: none

feat(nvim): tweak install command of lazy.nvim
  src/.config/nvim/init.lua
Due: none

feat(fish): add config for direnv
  src/.config/fish/usr/conf.d/commands.fish
Due: none

chore: update goss-vars.yaml
  goss-vars.yaml
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: none

chore: remove splash
  scripts/bootstrap.bash
Due: none

chore: tweak brightness
  src/.config/sway/config
Due: sway

fix: update for nerdctl
  goss-vars.yaml
  misc/pkglist/virtulization.txt
  scripts/bootstrap.bash
Due: pkglist

chore: remove nerdctl
  goss-vars.yaml
  misc/pkglist/virtulization.txt
  scripts/bootstrap.bash
  src/.config/fish/config.fish
  test/service.yaml
Due: pkglist

chore: enable docker's native overlay diff
  misc/etc/modprobe.d/disable-overlay-redirect-dir.conf
  scripts/bootstrap.bash
  test/privileged/file.yaml
Due: none

fix(nvim): remove duplicate keymap
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

feat(fish): add abbreviation for kubens
  src/.config/fish/config.fish
Due: none

feat(nvim): add ltex-ls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): add yamlfmt to null-ls.nvim
  goss-vars.yaml
  misc/pkglist/developer-tools.txt
  src/.config/nvim/lua/user/plugins/lang.lua
Due: pkglist

refactor(nvim): avoid warning of plugins
  src/.config/nvim/lua/user/plugins/debugging.lua
  src/.config/nvim/lua/user/plugins/editing.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/syntax.lua
  src/.config/nvim/lua/user/plugins/version.lua
Due: none

chore: bump pre-commit and commit-msg hooks
  .pre-commit-config.yaml
  .yamllint.yaml
  README.md
  goss-vars.yaml
  test/scripts/output-vars.bash
Due: none

chore: use extra and blackarch repository instead of aur repository
  goss-vars.yaml
  misc/pkglist/developer-tools.txt
  misc/pkglist/messaging-clients.txt
  misc/pkglist/security.txt
  src/.config/dprint/dprint.json
  src/.config/nvim/lua/user/plugins/lang.lua
Due: pkglist

feat(fish): add abbreviation for direnv
  src/.config/fish/config.fish
Due: none

feat(nvim): set language for ltex
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

chore: add nestjs cli to pkglist
  goss-vars.yaml
  misc/pkglist/developer-tools.txt
Due: pkglist

chore: use Java 20 in Burp Suite
  src/.local/src/dotfiles/burpsuite.bash
Due: none

style: add white space
  test/file.yaml
Due: none

chore: make makepkg faster
  scripts/bootstrap.bash
  test/file.yaml
Due: none

refactor: remove unused code
  .envrc
Due: none

chore: fix network interface name and route metric
  misc/etc/systemd/network/20-wired.network
  misc/etc/systemd/network/25-wireless.network
  test/file.yaml
Due: none

chore: add sof firmware to pkglist
  goss-vars.yaml
  misc/pkglist/firmware.txt
  misc/pkglist/utilities.txt
Due: pkglist

feat(fish): add abbreviation for trash
  src/.config/fish/config.fish
Due: none

feat(tmux): add keybind of tmux-open
  src/.config/tmux/tmux.conf
Due: none

feat(tmux): tweak keybind to send multiple tunnel IP address
  goss-vars.yaml
  src/.config/tmux/tmux.conf
  src/.local/bin/tun0ip
  src/.local/bin/tunip
  src/.local/src/dotfiles/tun0ip.bash
  src/.local/src/dotfiles/tunip.bash
Due: none

feat(nvim): add telescope-file-browser.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/finder.lua
  src/.config/nvim/lua/user/utils/finder.lua
Due: none

chore: add gibo
  goss-vars.yaml
  misc/pkglist/developer-tools.txt
  src/.config/fish/config.fish
Due: pkglist
