Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(nvim): update lock file to remove unused plugin
  src/.config/nvim/lazy-lock.json
Due: prettier-json

feat(nvim): use folding with tree-sitter-markdown instead of marksman
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): bump harpoon from v1 to v2
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/nvim/lua/user/plugins/marks.lua
Due: prettier-json

chore: add Proton Mail Desktop to pkglist
  misc/pkglist/email.txt
Due: none

feat(fish): add keybind for cd
  src/.config/fish/usr/functions/fish_user_key_bindings.fish
Due: none

chore: migrate from ublacklist-stackoverflow-translation to uBlock-Origin-dev-filter
  misc/firefox/ublock.txt
Due: none

test: fix sha512 of udevmon.yaml and xcape.yaml
  test/file.yaml
Due: yamlfmt, yamllint

feat(nvim): add enable and disable for dial.nvim
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

feat(sway): add keybind for screen lock
  src/.config/sway/config
Due: none

feat(fish): add abbreviations for helm
  src/.config/fish/config.fish
Due: none

feat(nvim): add nvim-coverage
  src/.config/git/.gitignore
  src/.config/git/config
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/test.lua
Due: prettier-json

fix(sway): keybind for notification
  src/.config/sway/config
Due: none

feat(nvim): change keymap to expand snippet and jump
  src/.config/nvim/lua/user/plugins/completion.lua
Due: none

feat(nvim): disable sorting of nvim-cmp
  src/.config/nvim/lua/user/plugins/completion.lua
Due: none

revert: "feat(git): use push.autoSetupRemote instead of push.default"
  src/.config/git/config
Due: none

feat(fish): add abbreviations for kubectl
  src/.config/fish/config.fish
Due: none

chore: use Proton Mail Desktop instead of Bridge
  README.md
  misc/pkglist/email.txt
  src/.config/sway/config
  src/.local/src/dotfiles/protonmail-bridge.bash
  src/.zprofile
Due: prettier-markdown, markdownlint-cli2

docs: update keybinds for Interception Tools
  README.md
Due: prettier-markdown, markdownlint-cli2

chore: tweak hotkey for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

chore: update hotkey for WSL
  docs/install-archlinux-on-wsl2.md
  misc/wsl/misc/dual-key-remap/config.txt
  misc/wsl/misc/komorebi.ahk
Due: prettier-markdown, markdownlint-cli2

chore: use official repository package instead of AUR
  misc/pkglist/developer-tools.txt
Due: none

chore: add kubernetes tools to pkglist
  misc/pkglist/developer-tools.txt
Due: none

chore: remove unused wrapper script
  src/.local/bin/protonmail-bridge
Due: none

refactor: rename test name from contains to contents for goss
  test/file.yaml
Due: yamlfmt, yamllint

fix(sway): autostart for kanshi
  src/.config/kanshi/config
  src/.config/sway/config
Due: none

feat(nvim): bump plugins and remove deprecated none-ls.nvim sources
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier-json

feat(kubie): remove include config path to use default values
  src/.kube/kubie.yaml
Due: yamlfmt, yamllint

feat(fish): add abbreviations for terraform
  src/.config/fish/config.fish
Due: none

chore: update for WSL
  docs/install-archlinux-on-wsl2.md
Due: prettier-markdown, markdownlint-cli2

chore: tweak kubeconfig path
  misc/security-lab/justfile
Due: none

chore: avoid loading config error of kubectl
  misc/security-lab/justfile
Due: none

chore: revert dual function key for alt and tab
  misc/etc/interception/dual-function-keys/xcape.yaml
  test/file.yaml
Due: yamlfmt, yamllint

feat(fish): add abbreviation to use kubectl logs with fzf
  src/.config/fish/config.fish
Due: none

feat(gh): add version info
  src/.config/gh/config.yml
Due: yamlfmt, yamllint

feat(nvim): change diagnostic severity of typos-lsp from error to hint
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): add keymap for vim-illuminate
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(tridactyl): tweak keymap for tabopen with clipboard
  src/.config/tridactyl/tridactylrc
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json

feat(fish): add abbreviations for kubectl describe and fzf
  src/.config/fish/config.fish
Due: none

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
