Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

prettier:
  name: format json and markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

sway:
  name: check config of sway with sway --validate option
  language: system
  entry: sway --validate
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

clang-format:
  name: format c files with clang-format
  language: system
  entry: just src/.config/qmk/fmt
  pass_filenames: false

pkglist:
  name: format pkglist
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t sort -uo {} {}"

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

fishtape:
  name: test fish functions
  language: system
  entry: fishtape
  args:
  - src/.config/fish/tests/functions/*
  pass_filenames: false

refactor: use `gopass env` instead of `gopass show`
  src/.local/src/dotfiles/aicommits.bash
  src/.local/src/dotfiles/elia-wrapper.bash
Due: none

fix(nvim): add some filetypes to denylist for vim-better-whitespace
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

refactor(nvim): remove duplicate code
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): use mason-lspconfig instead of mason-tool-installer
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier

feat(nvim): disable transparent when lazy.nvim
  src/.config/nvim/init.lua
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

refactor(nvim): reorganize dependencies for LSP plugins
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): add impl and gomodifytags of code action
  scripts/bootstrap.bash
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): add copilot-cmp
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/completion.lua
Due: prettier

refactor(nvim): remove unused config file
  src/.config/nvim/misc/chatgpt-actions.json
Due: prettier

feat(nvim): change LSP keymap from cr to gr for nvim 0.11
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(fastfetch): add fastfetch config instead of neofetch
  misc/pkglist/utilities.txt
  src/.config/fastfetch/config.jsonc
  src/.config/neofetch/config
  src/.config/nvim/ftdetect/bash.lua
  src/.config/sway/config
  src/.local/bin/sysinfo
  src/.local/src/dotfiles/sysinfo.bash
Due: sway, pkglist

feat(nvim): add treesitter parser for vhs
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): add keymap to goto type definition
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(tmux): add keybind for zoxide
  src/.config/tmux/tmux.conf
Due: none

feat(nvim): enable builtin LSP inlay hint of nvim 0.10.0
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): add custom tags for yaml language server
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(tridactyl): enable superignore for miro
  src/.config/tridactyl/tridactylrc
Due: none

feat(fish): add abbreviation for kubectl version
  src/.config/fish/config.fish
Due: none

chore: add eks-node-viewer to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(tmux): add keybind for gping
  src/.config/tmux/tmux.conf
Due: none

feat(nvim): tweak keymap for refactoring.nvim
  src/.config/nvim/lua/user/plugins/editing.lua
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(nvim): enable kubernetes schema for yamlls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

chore: bump kind nodes from 1.25.3 to 1.30.0
  misc/security-lab/kind.yaml
Due: yamlfmt, yamllint

feat(nvim): add treesitter parser for helm
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): add snippet for uuid
  src/.config/nvim/lua/user/plugins/completion.lua
Due: none

feat(visidata): add config to resize columns automatically
  src/.config/visidata/config.py
Due: none

feat(fish): add abbreviation for pnpm run fmt
  src/.config/fish/config.fish
Due: none

feat(nvim): add keymap to hide coverage
  src/.config/nvim/lua/user/plugins/keymaps.lua
  src/.config/nvim/lua/user/plugins/test.lua
Due: none

feat(nvim): setup lspkind integration of nvim-highlight-colors
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/completion.lua
Due: prettier

fix(nvim): invalid keymap property
  src/.config/nvim/lua/user/plugins/explorer.lua
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): add keymap to close buffers
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): bump which-key.nvim from v2 to v3
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: prettier

feat(nvim): bump tokyonight.nvim from v3 to v4
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): disable auto trigger of which-key.nvim
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(nvim): change keymap of neogen
  src/.config/nvim/lua/user/plugins/editing.lua
Due: none

chore: disable PPA of firefox
  misc/firefox/user.js
Due: none

feat(lazygit): enable divergence count from base branch
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: use chaotic-aur instead of aur when some packages
  misc/pkglist/appearance.txt
  misc/pkglist/developer-tools.txt
  misc/pkglist/email.txt
  misc/pkglist/firmware.txt
  misc/pkglist/messaging-clients.txt
  misc/pkglist/network.txt
  misc/pkglist/package-manegement.txt
  misc/pkglist/password-management.txt
  misc/pkglist/utilities.txt
  misc/pkglist/window-manager.txt
  scripts/bootstrap.bash
Due: pkglist

feat(nvim): bump leap.nvim
  src/.config/nvim/lazy-lock.json
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$
