Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

prettier:
  name: format json and markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

sway:
  name: check config of sway with sway --validate option
  language: system
  entry: sway --validate
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

clang-format:
  name: format c files with clang-format
  language: system
  entry: just src/.config/qmk/fmt
  pass_filenames: false

pkglist:
  name: format pkglist
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t sort -uo {} {}"

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

fishtape:
  name: test fish functions
  language: system
  entry: fishtape
  args:
  - src/.config/fish/tests/functions/*
  pass_filenames: false

feat(zsh): set $AWS_CLI_AUTO_PROMPT into on-partial
  src/.zshenv
Due: none

chore: fix keybind for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

chore: remove keybind for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

feat(zsh): set $KUBECONFIG for kubectx
  src/.zshenv
Due: none

feat(nvim): use leap.nvim in nvim-tree.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(ghostty): add config
  README.md
  misc/pkglist/developer-tools.txt
  src/.config/ghostty/config
  src/.config/hypr/hyprland.conf
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/syntax.lua
  src/.config/waybar/config
  src/.config/wezterm/wezterm.lua
Due: prettier, markdownlint-cli2, pkglist

chore: add timg to pkglist
  misc/pkglist/utilities.txt
  src/.zshenv
Due: pkglist

chore: add usage command to pkglist
  misc/pkglist/developer-tools.txt
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint, pkglist

feat(bash): remove config
  src/.bashrc
Due: none

feat(zsh): change header icon for completion
  src/.zshenv
Due: none

feat(zsh): run tmux always
  misc/wsl/src/.config/wezterm/wezterm.lua
  src/.config/ghostty/config
  src/.local/bin/tmuxs
  src/.local/src/dotfiles/tmuxs.bash
  src/.zshrc
Due: none

feat(tmux): remove $TMUX_PLUGIN_MANAGER_PATH
  src/.config/tmux/tmux.conf
  src/.config/tmux/tpm.tmux
  src/.zshenv
Due: none

chore: remove direnv
  .dockerignore
  .editorconfig
  .envrc
  .gitignore
  .pre-commit-config.yaml
  bin/goss
  justfile
  misc/pkglist/developer-tools.txt
  mise.toml
  src/.config/mise/config.toml
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/tmux/tmux.conf
  src/.zshrc
  src/.zshrc.d/command.zsh
Due: prettier, yamlfmt, yamllint, taplo-format, just, taplo-lint, pkglist

feat(tmux): use $HOME instead of $XDG_DATA_HOME
  src/.config/tmux/theme.tmux
Due: none

chore: add wrapper script for WSL
  misc/wsl/src/.config/wezterm/wezterm.lua
  misc/wsl/src/.local/bin/tmuxs
Due: none

Revert "chore: add wrapper script for WSL"
  misc/wsl/src/.config/wezterm/wezterm.lua
  misc/wsl/src/.local/bin/tmuxs
Due: none

feat(zsh): use tmux without exec command
  src/.zshrc
Due: none

feat(zsh): disable highlight for paste
  src/.zshenv
Due: none

feat(tmux): add tmux plugin directory to gitignore
  .gitignore
Due: none

feat(tmux): add tmux-powerline
  .editorconfig
  src/.config/tmux-powerline/config.sh
  src/.config/tmux-powerline/themes/tokyonight.sh
  src/.config/tmux/theme.tmux
  src/.config/tmux/tmux.conf
Due: none

chore: use sql-formatter of aur
  misc/pkglist/developer-tools.txt
  scripts/bootstrap.bash
Due: pkglist

ci: add mise
  .github/workflows/main.yml
Due: yamlfmt, yamllint

chore: fix indent type
  misc/mock/containerd-rootless-setuptool.sh
Due: none

feat(fastfetch) change logo type from sixel to kitty
  misc/pkglist/developer-tools.txt
  src/.config/fastfetch/config.jsonc
Due: pkglist

feat(hypr): add uwsm to run hyprland on systemd
  misc/pkglist/window-manager.txt
  src/.config/hypr/hyprland.conf
  src/.config/uwsm/env
  src/.config/uwsm/env-hyprland
  src/.config/wlogout/layout
Due: pkglist

feat(pet): add snippet for most used command
  src/.config/pet/snippet.toml
Due: taplo-lint

chore: ignore snippet.toml from `taplo format`
  .taplo.toml
Due: taplo-format, taplo-lint

feat(pet): update snippets for posix sh
  src/.config/pet/snippet.toml
Due: taplo-lint

feat(zsh): use `mise hook-env` for instant prompt
  src/.zshrc
  src/.zshrc.d/command.zsh
Due: none

feat(zsh): use $TTY instead of tty command to make faster
  src/.zshenv
Due: none

chore: add direnv for devbox
  misc/pkglist/developer-tools.txt
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/filetype.lua
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.config/tmux/tmux.conf
  src/.zshrc
  src/.zshrc.d/command.zsh
Due: prettier, pkglist

chore: remove unnecessary scripts for WSL
  docs/install-archlinux-on-wsl2.md
  misc/wsl/misc/.wslconfig
  misc/wsl/src/.config/mpv/mpv.conf
  misc/wsl/src/.config/nvim/lua/user/local.lua
  misc/wsl/src/.config/systemd/user/wsl-wayland-symlink.service
  misc/wsl/src/.config/tmux/tmux.conf.local
  misc/wsl/src/.local/bin/clip.exe
  misc/wsl/src/.local/bin/mpv
  misc/wsl/src/.local/bin/win32yank.exe
  misc/wsl/src/.local/bin/wl-copy
  misc/wsl/src/.local/bin/xsel
  misc/wsl/src/.zshenv.local
Due: prettier, markdownlint-cli2

feat(zsh-abbr): add abbreviation for kubectx
  src/.config/zsh-abbr/user-abbreviations
Due: none

chore: remove unused script
  src/.local/bin/bgm
  src/.local/src/dotfiles/bgm.bash
Due: none

feat(zsh): add double quote for $TTY
  src/.zshenv
Due: none

refactor(zsh): remove unnecessary config for tmux
  src/.zshrc
Due: none

chore: remove unused script
  src/.config/tmux/tmux.conf
  src/.local/bin/tmuxr
  src/.local/src/dotfiles/tmuxr.bash
Due: none

feat(sheldon): add description comment
  src/.config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

chore: add uv to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$
