Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, hyprland, taplo-format, just, taplo-lint, visudo

prettier:
  name: format json and markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(nvim): :sparkles: add biome lsp via mason
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(tmuxp): :sparkles: add mcpo for open webui
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(zsh): :sparkles: enable transient prompt
  src/.p10k.zsh
Due: none

feat(waybar): :sparkles: enable calendar tooltip of clock module
  .gitignore
  misc/pkglist/developer-tools.txt
  src/.config/calcure/config.ini
  src/.config/waybar/config
  src/.config/waybar/style.css
Due: none

feat(waybar): :sparkles: use icon of hyprland/workspace module
  src/.config/waybar/config
  src/.config/waybar/style.css
Due: none

feat(waybar): :sparkles: tweak transparent
  src/.config/waybar/style.css
Due: none

feat(mise): :sparkles: add gibo
  misc/pkglist/developer-tools.txt
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: add packages
  misc/pkglist/developer-tools.txt
  misc/pkglist/utilities.txt
  misc/pkglist/window-manager.txt
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: add pet
  misc/pkglist/developer-tools.txt
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

docs: :memo: update screenshots
  misc/screenshots/no_window.png
  misc/screenshots/overview.png
Due: none

feat(swaync): :sparkles: disable background color for notification groups
  src/.config/swaync/style.css
Due: none

chore: :hammer: update search engine of firefox
  src/.mozilla/firefox/v7fd4tvu.default-release/search.json.mozlz4
Due: none

chore: :hammer: add tridactyl AMO fix preference
  src/.mozilla/firefox/v7fd4tvu.default-release/user.js
Due: none

chore: :hammer: use zero omega instead of switchy omega
  .editorconfig
  .pre-commit-config.yaml
  README.md
  misc/firefox/switchy_omega.bak
  misc/firefox/zero_omega.bak
Due: prettier, yamlfmt, yamllint, markdownlint-cli2

chore: :hammer: add site-specific canvas blocker exceptions for compatibility
  .editorconfig
  .pre-commit-config.yaml
  .prettierignore
  misc/firefox/canvas-blocker.json
Due: prettier, yamlfmt, yamllint

chore: :hammer: bump pre-commit-hooks from 4.4.0 to 5.0.0
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

chore: :hammer: add dotfiles as submodule
  .gitmodules
Due: none

chore: :hammer: rename branch from src to standard
  .github/workflows/main.yml
  README.md
  justfile
Due: prettier, yamlfmt, yamllint, markdownlint-cli2, just

chore: :hammer: remove submodule
  .gitmodules
Due: none

feat(go): :sparkles: remove unused config
  src/dot_config/go/env
Due: none

feat(gtkrc-2.0): :sparkles: remove unused config
  misc/pkglist/appearance.txt
  src/dot_gtkrc-2.0
Due: none

chore: :hammer: remove adwaita-qt5-git from packages list
  misc/pkglist/appearance.txt
Due: none

feat(gtk-4.0): :sparkles: add config
  src/dot_config/gtk-4.0/settings.ini
Due: none

docs(zsh): :memo: add modelines to help GitHub recognize zsh files
  src/dot_zshenv
  src/dot_zshrc
Due: none

refactor(swaync): :recycle: remove unnecessary value
  src/dot_config/hypr/hyprland.conf
  src/dot_config/swaync/config.json
  src/dot_config/swaync/configSchema.json
  src/dot_config/swaync/style.css
Due: prettier, hyprland

refactor(mozilla): :recycle: remove unused config
  src/dot_mozilla/firefox/v7fd4tvu.default-release/chrome/userChrome.css
Due: none

refactor(zsh): :recycle: remove unused functions
  src/dot_zshrc.d/functions/debug
  src/dot_zshrc.d/functions/error
  src/dot_zshrc.d/functions/info
  src/dot_zshrc.d/functions/warn
Due: none

feat(yazi): :sparkles: bump plugins
  src/dot_config/yazi/package.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: bump plugins
  src/dot_config/nvim/lazy-lock.json
Due: prettier

feat(zsh-abbr): :sparkles: add chezmoi re-add
  src/dot_config/zsh-abbr/private_user-abbreviations
Due: none

docs: :memo: fix chezmoi commands
  .github/workflows/main.yml
  README.md
  justfile
Due: prettier, yamlfmt, yamllint, markdownlint-cli2, just

chore: :hammer: add version file of chezmoi
  .chezmoiversion
Due: none

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  visudo: any of: misc/etc/sudoer.d/.*
