Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(opencode): :sparkles: uncomment litellm provider and add model selection comments
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: add comprehensive code review command with security focus
  home/dot_config/opencode/command/review.md
Due: prettier-markdown, markdownlint-cli2

feat(zsh): :sparkles: add zi to zsh-auto-notify ignore list
  home/dot_zshrc
Due: none

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/syntax.lua
Due: prettier-json

docs(nvim): :memo: fix description of keymaps
  home/dot_config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): :sparkles: remove avante.nvim
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  home/dot_config/mcphub/servers.json
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: prettier-json

feat(opencode): :sparkles: switch from Anthropic Claude Sonnet 4.5 to OpenAI GPT-5.2 Codex model
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: remove vim-textobj-markdown
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(nvim): :sparkles: remove vim-textobj-datetime
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(nvim): :sparkles: remove vim-textobj-comment
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(mise): :sparkles: bump opencode from 1.1.11 to 1.1.25
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat: :sparkles: update Tresorit to version 3.5.1281.4700
  home/dot_local/share/applications/tresorit.desktop
Due: none

docs: :memo: fix LibRedirect config filename in Firefox addon table
  README.md
Due: prettier-markdown, markdownlint-cli2

docs: :memo: split rootkit and package vulnerability detection lines
  README.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: remove dashboard buffer workaround from keymaps
  home/dot_config/nvim/lua/user/plugin.lua
  home/dot_config/nvim/lua/user/plugins/explorer.lua
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(firefox): :sparkles: support for XDG Base Directory
  .editorconfig
  .pre-commit-config.yaml
  home/dot_config/mozilla/firefox/installs.ini
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/search.json.mozlz4
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/user.js
  home/dot_config/mozilla/firefox/profiles.ini
  home/dot_mozilla/firefox/installs.ini
Due: yamlfmt, yamllint

style(zsh-abbr): :lipstick: reorder abbreviation
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

feat(zsh-abbr): :sparkles: add abbreviation of mkdir
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: none

chore: :hammer: add mozc-ut to package list
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: allow aws commands
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: bump opencode from 1.1.25 to 1.1.34
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(firefox): :sparkles: allow extensions on support.mozilla.org domain
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/user.js
Due: none

revert(nvim): :rewind: add avante.nvim
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: prettier-json

feat(firefox): :sparkles: update search engine
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/search.json.mozlz4
Due: none

fix(firefox): :bug: collapse multi-line prefs
  .prettierignore
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/user.js
Due: none

feat(mise): :sparkles: bump opencode from 1.1.34 to 1.1.48
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(zsh): :sparkles: remove rlwrap from trans abbr, add as alias instead
  home/dot_config/zsh-abbr/private_user-abbreviations
  home/dot_zshrc
  home/dot_zshrc.d/conf.d/alias.zsh
Due: none

feat(opencode): :sparkles: clarify Japanese language requirement for all reasoning
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: simplify remote host detection in review command
  home/dot_config/opencode/command/review.md
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: clarify Japanese language requirement for all reasoning
  home/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

feat(mise): :sparkles: bump opencode from 1.1.48 to 1.1.53
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(firefox): :sparkles: disable profile selector on startup
  home/dot_config/mozilla/firefox/profiles.ini
Due: none

feat(opencode): :sparkles: update OpenAI Codex model from 5.2 to 5.3
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(opencode): :sparkles: allow kubectl describe and kubectl rollout history
  home/dot_config/opencode/opencode.jsonc
Due: none

chore: :hammer: add opencode to package list
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(tmuxp): :sparkles: add GPT-5.3 Codex to LiteLLM model list
  home/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: allow git blame
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nvim): :sparkles: use float window in diagnostic preview
  home/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(mise): :sparkles: bump opencode from 1.1.53 to 1.2.6
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint
