Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(nvim): use snacks.nvim instead of neoscroll.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

feat(nvim): use snacks.nvim instead of alpha-nvim
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): add noice.nvim
  src/.config/nvim/init.lua
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/completion.lua
  src/.config/nvim/lua/user/plugins/finder.lua
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier-json

feat(nvim): remove unused plugin from lock file
  src/.config/nvim/lazy-lock.json
Due: prettier-json

feat(nvim): use dropbar.nvim instead of nvim-navic
  README.md
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/lang.lua
Due: prettier-json, prettier-markdown, markdownlint-cli2

feat(nvim): add nvim-treesitter-context
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: prettier-json

feat(nvim): add lualine component for noice
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): set border style into single
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): set default search engine into duckduckgo
  src/.config/nvim/lua/user/plugins/browser.lua
Due: none

feat(nvim): tweak hydra hint messages
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): use nvimtools/hydra.nvim instead of anuvyklack/hydra.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

feat(nvim): add startup section to dashboard
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): use snacks.nvim instead of indent-blankline.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/options.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

feat(nvim): add mcphub.nvim
  misc/pkglist/developer-tools.txt
  src/.config/mcphub/servers.json
  src/.config/mise/config.toml
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
Due: prettier-json, taplo-format, taplo-lint

feat(lazygit): change border from rounded to single
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(nvim): tweak keymap for avante.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
  src/.config/nvim/lua/user/plugins/project.lua
Due: prettier-json

chore: update search.json.mozlz4 for developer site
  misc/firefox/search.json.mozlz4
Due: none

feat: :sparkles: add cz-git and litellm proxy
  .github/workflows/main.yml
  .pre-commit-config.yaml
  misc/pkglist/developer-tools.txt
  mise.toml
  src/.config/lazygit/config.yml
  src/.config/mise/config.toml
  src/.config/nvim/lua/user/options.lua
  src/.config/tmux/tmux.conf
  src/.config/tmuxp/misc.yaml
  src/.config/tmuxp/music.yaml
  src/.czrc
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(yazi): :sparkles: change keybind from `Z` to `,z` for zoxide plugin
  src/.config/yazi/keymap.toml
Due: taplo-format, taplo-lint

feat: :sparkles: remove elia-chat tool and its wrapper script
  src/.config/mise/config.toml
  src/.local/bin/elia-wrapper
  src/.local/src/dotfiles/elia-wrapper.bash
  src/.zshrc.d/alias.zsh
Due: taplo-format, taplo-lint

feat(lazygit): :sparkles: add custom spinner animation frames to lazygit configuration
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

refactor(nvim): :recycle: add startup.lua
  src/.config/nvim/init.lua
  src/.config/nvim/lua/user/startup.lua
Due: none

feat(yazi): :sparkles: change flavor from tokyonight to catppuccin frappe
  src/.config/yazi/package.toml
  src/.config/yazi/theme.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: add lazygit.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/version.lua
Due: prettier-json

feat(yazi): :sparkles: bump plugins
  src/.config/yazi/package.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: use yazi.nvim instead of telescope-file-browser
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/explorer.lua
  src/.config/nvim/lua/user/plugins/finder.lua
Due: prettier-json

feat(nvim): :sparkles: change which-key scpec from "ai/alternate" to "ai"
  src/.config/nvim/lua/user/plugins/keymaps.lua
Due: none

feat(nvim): :sparkles: add copilot and linecount component of lualine.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

feat(nvim): :sparkles: set high priority and disable lazy loading for snacks.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: add scope.nvim for tab management
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier-json

refactor(nvim): :recycle: add error handling of lazy.nvim
  src/.config/nvim/lua/user/plugin.lua
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

refactor: :recycle: remove symbols-outline from lualine.nvim extensions
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(zsh): :sparkles: load tmuxp workspaces at startup
  src/.config/systemd/user/tmux.service
  src/.config/tmuxp/main.yaml
  src/.zshrc
Due: yamlfmt, yamllint

refactor(nvim): :recycle: add user plugin module
  src/.config/nvim/init.lua
  src/.config/nvim/lua/user/plugin.lua
Due: none

feat(nvim): :sparkles: use grug-far.nvim instead of nvim-spectre
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/editing.lua
Due: prettier-json

feat(nvim): :sparkles: use short labels of nvim-tree.lua
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

feat(nvim): :sparkles: disable absolute path in nvim-tree.lua notifications
  src/.config/nvim/lua/user/plugins/explorer.lua
Due: none

refactor(nvim): :recycle: remove telescope-file-browser.nvim from lock file
  src/.config/nvim/lazy-lock.json
Due: prettier-json

fix(nvim): :bug: update keymap for package manager
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: add keymap to open mcphub.nvim
  src/.config/nvim/lua/user/plugins/interface.lua
  src/.config/nvim/lua/user/utils/ui.lua
Due: none

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
