Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, hyprland, taplo-format, just, taplo-lint, visudo

prettier:
  name: format json and markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

chore: :hammer: add window rules for wslg
  misc/wsl/src/.glzr/glazewm/config.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: use stop_after_first to prevent conflicts for biome and prettier
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: change format_on_save timeout from 500ms to 2000ms
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(zsh): :sparkles: bind arrow keys to history search to override zsh-autocomplete defaults
  src/dot_zshrc.d/functions/zvm_after_init
Due: none

feat(zsh): :sparkles: bind arrow keys to history search to override zsh-autocomplete defaults
  src/dot_config/gtk-3.0/settings.ini
  src/dot_config/gtk-4.0/settings.ini
Due: none

chore: :hammer: use flatpak instead of pacman to install ente-auth
  misc/pkglist/password-management.txt
  misc/pkglist/utilities.txt
  scripts/bootstrap.bash
  src/dot_config/hypr/hyprland.conf
Due: hyprland

feat(nvim): :sparkles: update default mappings of leap.nvim
  src/dot_config/nvim/lua/user/plugins/motion.lua
Due: none

refactor(nvim): :recycle: remove copilot-lualine from lockfile
  src/dot_config/nvim/lazy-lock.json
Due: prettier

feat(nvim): :sparkles: add helix-like keymaps to vim-visual-multi
  src/dot_config/nvim/lua/user/plugins/editing.lua
Due: none

refactor(nvim): :recycle: organize vim-visual-multi mappings
  src/dot_config/nvim/lua/user/plugins/editing.lua
Due: none

refactor(zsh): :recycle: remove unused config
  src/dot_zshenv
Due: none

feat(zsh): :sparkles: add $GROFF_NO_SGR
  src/dot_zshenv
Due: none

feat(zsh): :sparkles: add sudo plugin
  src/dot_config/sheldon/plugins.toml
  src/dot_config/zsh-abbr/private_user-abbreviations
  src/dot_zshrc.d/functions/add-sudo-widget
  src/dot_zshrc.d/functions/zvm_after_init
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: remove spectral language server
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: use prettier in json and jsonc file
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(sql-formatter): :sparkles: rename config
  src/dot_config/nvim/lua/user/plugins/lang.lua
  src/dot_sql-formatter.json
Due: prettier

feat(tmuxp): :sparkles: bump mcpo servers
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: bump mcp servers
  src/dot_config/opencode/opencode.json
Due: prettier

feat(mcphub): :sparkles: bump mcp servers
  src/dot_config/mcphub/servers.json
Due: prettier

fix(tmux): :bug: support for tmux 0.53.0
  src/dot_config/tmux/tmux.conf
Due: none

feat(tmuxp): :sparkles: migrate LiteLLM from pipx to Docker to use PostgreSQL database support
  src/dot_config/mise/config.toml
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(nvim): :sparkles: disable auto preview of LSP outline
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: disable folding in LSP outline
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

docs(tmuxp): :memo: add comment for litellm
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

fix(tmuxp): :bug: add env for AWS credentials
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: add keymaps to search word
  src/dot_config/nvim/lua/user/keymaps.lua
  src/dot_config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(hypr): :sparkles: add autostart for obsidian
  README.md
  misc/pkglist/developer-tools.txt
  src/dot_config/hypr/hyprland.conf
  src/dot_config/mimeapps.list
Due: prettier, markdownlint-cli2, hyprland

chore: :hammer: add keymap for shift+enter
  misc/etc/keyd/default.conf
  test/file.yaml
Due: yamlfmt, yamllint

chore: :hammer: add keymap for WSL
  misc/wsl/src/.glzr/glazewm/hotkeys.ahk
Due: none

chore: :hammer: add unison for WSL
  misc/pkglist/developer-tools.txt
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(mcphub): :sparkles: disable all mcp servers by default
  src/dot_config/mcphub/servers.json
Due: prettier

feat(mcphub): :sparkles: remove container name
  src/dot_config/mcphub/servers.json
Due: prettier

feat(opencode): :sparkles: disable all mcp servers by default
  src/dot_config/opencode/opencode.json
Due: prettier

feat(opencode): :sparkles: remove container name
  src/dot_config/opencode/opencode.json
Due: prettier

feat(mise): :sparkles: bump opencode from 0.3.111 to 0.4.2
  src/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(lazygit): :sparkles: add custom keybindings for push files and patch options menu
  src/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: add keymap for line indentation
  src/dot_config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): :sparkles: change buffer move keymaps from >b/<b to ]<Tab>/[<Tab>
  src/dot_config/nvim/lua/user/plugins/interface.lua
Due: none

feat(tridactyl): :sparkles: add tab movement keybinds
  src/dot_config/tridactyl/tridactylrc
Due: none

feat(nvim): :sparkles: remove render-markdown.nvim
  src/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  visudo: any of: misc/etc/sudoer.d/.*
