Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*

feat(lazygit): :sparkles: enable OSC 52
  docs/index.md
  home/dot_config/lazygit/config.yml
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

fix(mise): :bug: use $XDG_DATA_HOME instead of chezmoi source-path
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump opencode from 1.18.30 to 1.18.32
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(mise): :sparkles: add argo rollouts
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
  home/dot_config/zsh-abbr/private_user-abbreviations
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump renovate from 44.21.0 to 44.83.0
  .mise/locks/npm-renovate/44.83.0~026f02c4/aube-lock.yaml
  .mise/locks/npm-renovate/44.83.0~026f02c4/package.json
  home/dot_config/mise/config.toml
  home/dot_config/mise/locks/npm-renovate/44.83.0~026f02c4/private_aube-lock.yaml
  home/dot_config/mise/locks/npm-renovate/44.83.0~026f02c4/private_package.json
  home/dot_config/mise/mise.lock
  mise.lock
  mise.toml
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint

feat(opencode): :sparkles: tweak system prompt
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: tweak notify for question and subagent sessions
  home/dot_config/opencode/plugins/notification.ts
Due: none

feat(mise): :sparkles: bump prettier from 3.8.1 to 3.9.6
  home/dot_config/mise/config.toml
  home/dot_config/mise/locks/prettier/3.8.1/private_aube-lock.yaml
  home/dot_config/mise/locks/prettier/3.8.1/private_package.json
  home/dot_config/mise/locks/prettier/3.9.6/private_aube-lock.yaml
  home/dot_config/mise/locks/prettier/3.9.6/private_package.json
  home/dot_config/mise/mise.lock
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint

feat(rtk): :sparkles: remove exclude commands
  home/dot_config/opencode/skills/opencode-rtk-plugin/SKILL.md
  home/dot_config/rtk/config.toml
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(zsh): :sparkles: ignore lg, diff, and delta in zsh-auto-notify
  home/dot_zshrc
Due: none

feat(zsh): :sparkles: add exclusive lock for tmuxp load
  home/dot_zshrc
Due: none

feat(opencode): :sparkles: tweak system prompt for japanese
  home/dot_config/opencode/AGENTS.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: pass review command arguments
  home/dot_config/opencode/commands/review.md
Due: prettier-markdown, markdownlint-cli2

feat(apm): :sparkles: add agent skill for glab mr
  home/dot_apm/skills/glab-mr/SKILL.md
Due: prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: tweak permission
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow editorconfig-checker
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow golangci-lint
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow prettier
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(mise): :sparkles: bump nono from 0.75.0 to 0.78.0
  home/dot_config/mise/config.toml
  home/dot_config/mise/mise.lock
Due: taplo-format, taplo-lint

feat(mise): :sparkles: pin nono opencode profile
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

fix(mise): :bug: fix json schema for nono
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: allow chezmoi execute-template
  home/dot_config/opencode/opencode.jsonc
Due: none

chore: :hammer: add slirp4netns for rootless docker and kind
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

feat(nono): :sparkles: tweak profiles
  home/dot_config/nono/profiles/aws-mcp-server.jsonc
  home/dot_config/nono/profiles/aws.jsonc
  home/dot_config/nono/profiles/gh.jsonc
  home/dot_config/nono/profiles/kubectl.jsonc
  home/dot_config/nono/profiles/kubernetes-mcp-server.jsonc
  home/dot_config/nono/profiles/opencode.jsonc
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(gopass): :sparkles: add config
  .commitlintrc.yaml
  .editorconfig
  home/dot_config/private_gopass/private_config
Due: yamlfmt, yamllint

fix(nono): :bug: allow pass to use gpg and access password store
  home/dot_config/nono/profiles/aws-mcp-server.jsonc
  home/dot_config/nono/profiles/gpg.jsonc
Due: none

refactor(opencode): :recycle: remove unnecessary permission
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(opencode): :sparkles: allow chezmoi directory
  home/dot_config/nono/profiles/opencode.jsonc
  home/dot_config/opencode/opencode.jsonc
Due: none

feat(nono): :sparkles: allow config for formatter and linter
  home/dot_config/nono/profiles/opencode.jsonc
Due: none

feat(nono): :sparkles: tweak profiles
  home/dot_config/nono/profiles/chezmoi.jsonc
  home/dot_config/nono/profiles/go.jsonc
  home/dot_config/nono/profiles/mise.jsonc
  home/dot_config/nono/profiles/nono.jsonc
  home/dot_config/nono/profiles/opencode.jsonc
  home/dot_config/nono/profiles/rtk.jsonc
  home/dot_config/nono/profiles/rumdl.jsonc
  home/dot_config/nono/profiles/sqlfluff.jsonc
  home/dot_config/nono/profiles/stylua.jsonc
  home/dot_config/nono/profiles/trash.jsonc
  home/dot_config/nono/profiles/workdir.jsonc
  home/dot_config/nono/profiles/workspaces.jsonc
  home/dot_config/nono/profiles/yamlfmt.jsonc
  home/dot_config/nono/profiles/yamllint.jsonc
Due: none

feat(mise): :sparkles: add default nono profile for claude and codex
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

docs: :memo: document the systemd-homed subordinate UID range with upstream references
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-rootless-containers.sh.tmpl
Due: none

feat(nono): :sparkles: allow python from opencode
  home/dot_config/nono/profiles/opencode.jsonc
  home/dot_config/nono/profiles/python.jsonc
Due: none

fix: :bug: revert notification plugin
  home/dot_config/opencode/plugins/notification.ts
Due: none

feat(nono): :sparkles: remove dbus access
  home/dot_config/nono/profiles/opencode.jsonc
Due: none

feat(nono): :sparkles: remove the dbus profile
  home/dot_config/nono/profiles/dbus.jsonc
Due: none

feat(nono): :sparkles: tweak dbus access for gcx and gh
  home/dot_config/nono/profiles/gcx.jsonc
  home/dot_config/nono/profiles/gh.jsonc
Due: none
