Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, yamlfmt, yamllint, markdownlint-cli2, sway, taplo-format, just, taplo-lint, clang-format, pkglist, visudo, fishtape

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$
  yamlfmt: any of: \.(yaml|yml)$, but not: (?x)^(
  test/templates/.*|
  misc/security-lab/charts/.*
)$

  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  sway: any of: .config/sway/config$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  just: any of: justfile$
  taplo-lint: any of: \.toml$
  clang-format: any of: .config/qmk/keymap/.*\.(h|c)$
  pkglist: any of: misc/pkglist/.*
  visudo: any of: misc/etc/sudoer.d/.*
  fishtape: any of: .config/fish/{usr,tests}/functions/.*\.fish$

feat(fish): add completion for aws-cli
  src/.config/fish/usr/conf.d/commands.fish
Due: none

feat(nvim): use space instead of tab in html
  src/.config/nvim/indent/html.lua
Due: none

feat(espanso): use triggers for japanese
  src/.config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

chore: fix keymap for WSL
  misc/wsl/misc/komorebi.ahk
Due: none

feat(nvim): tweak lazy-loading for nvim-treesitter
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

feat(nvim): bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(espanso): add trigger for symbols
  src/.config/espanso/match/base.yml
  src/.config/espanso/match/symbol.yml
Due: yamlfmt, yamllint

chore: disable firefox translations
  misc/firefox/user.js
Due: none

feat(mise): use alias instead of plugins
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(tmux): enable mouse mode and add better-mouse-mode
  src/.config/tmux/tmux.conf
Due: none

chore: add C-backspace to keyd
  misc/etc/keyd/default.conf
Due: none

feat(nvim): add keymap for paste
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(nvim): add smear-cursor.nvim
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/interface.lua
Due: prettier

chore: tweak hotkey of ahk
  misc/wsl/misc/komorebi.ahk
Due: none

chore: use fcitx5-mozc-ut instead of fcitx5-mozc
  misc/pkglist/input-method.txt
Due: pkglist

chore: enable containerd-snapshotter
  misc/etc/docker/daemon.json
Due: prettier

chore: add qemu to pkglist
  misc/pkglist/developer-tools.txt
Due: pkglist

feat(fish): add abbreviation for mise trust
  src/.config/fish/config.fish
Due: none

feat(mise): remove unnecessary alias
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

docs: add screenshot for swaync
  README.md
  misc/screenshots/swaync.png
Due: prettier, markdownlint-cli2

chore: enable boot splash
  misc/etc/kernel/cmdline
  misc/etc/plymouth/plymouthd.conf
  misc/etc/sysctl.d/20-quiet-printk.conf
  misc/etc/systemd/system/plymouth-quit.service.d/retain-splash.conf
  misc/pkglist/base.txt
  misc/pkglist/utilities.txt
  scripts/bootstrap.bash
  src/.config/pet/snippet.toml
  test/file.yaml
Due: yamlfmt, yamllint, taplo-lint, pkglist

chore: change boot splash from plymouth to UKI
  misc/etc/kernel/cmdline
  misc/etc/plymouth/plymouthd.conf
  misc/etc/systemd/system/plymouth-quit.service.d/retain-splash.conf
  misc/pkglist/base.txt
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint, pkglist

chore: enable clock and hide key hints for ly
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

docs: add screenshots for boot splash and login screen
  README.md
  justfile
  misc/screenshots/bootsplash.png
  misc/screenshots/lock_screen.png
  misc/screenshots/login_screen.png
Due: prettier, markdownlint-cli2, just

chore: use docker.socket instead of docker.service
  scripts/bootstrap.bash
  test/service.yaml
Due: yamlfmt, yamllint

chore: disable systemd-networkd-wait-online.service
  misc/etc/systemd/system/systemd-networkd-wait-online.service.d/wait-for-only-one-interface.conf
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

chore: add DNS server for NordVPN
  misc/etc/systemd/network/20-wired.network
  misc/etc/systemd/network/25-wireless.network
  test/file.yaml
Due: yamlfmt, yamllint

test: fix sha512sum of sysctl conf
  test/file.yaml
Due: yamlfmt, yamllint

test: fix sha512sum of networkd conf
  test/file.yaml
Due: yamlfmt, yamllint

test: remove unnecessary test
  goss.yaml
  test/interface.yaml
Due: yamlfmt, yamllint

feat(hypr): execute fcitx on launch
  src/.config/hypr/hyprland.conf
Due: none

feat(waybar): add error handling to scripts
  src/.config/waybar/lib/im-info.bash
  src/.config/waybar/lib/pkg-audit.bash
Due: none

chore: use hyprsunset of extra repository
  misc/pkglist/window-manager.txt
Due: pkglist

feat(nvim): bump lock file for plugins
  src/.config/nvim/lazy-lock.json
Due: prettier

feat(nvim): use new default mappings for leap
  src/.config/nvim/lua/user/plugins/motion.lua
Due: none

feat(nvim): add helix like keymap for visual line mode
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(pet): update config format for latest version
  misc/pkglist/developer-tools.txt
  src/.config/pet/config.toml
  src/.config/pet/snippet.toml
Due: taplo-lint, pkglist

feat(pet): add snippet to get log of hyprland
  src/.config/pet/snippet.toml
Due: taplo-lint

feat(hypr): set desktop interface for GTK 3
  src/.config/hypr/hyprland.conf
Due: none
