Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

refactor(nvim): :recycle: remove visual mode hack for avante.nvim
  src/dot_config/nvim/lua/user/plugins/ai.lua
Due: none

chore: :hammer: add systemd service to reconnect OpenVPN after system suspend
  misc/etc/systemd/system/openvpn-reconnect.service
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: rename playwright to playwright-server and add --headless flag
  src/dot_config/opencode/opencode.json
Due: prettier-json

feat(nvim): :sparkles: bump mcp servers
  src/dot_config/mcphub/servers.json
  src/dot_config/nvim/lua/user/plugins/ai.lua
  src/dot_config/opencode/opencode.json
Due: prettier-json

feat(opencode): :sparkles: add config
  src/dot_config/mise/config.toml
  src/dot_config/opencode/AGENTS.md
  src/dot_config/opencode/opencode.json
  src/dot_config/tmux/tmux.conf
  src/dot_config/zsh-abbr/private_user-abbreviations
  src/dot_zshrc.d/functions/opencode-widget
  src/dot_zshrc.d/functions/zvm_after_init
Due: prettier-json, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: bump plugins
  src/dot_config/nvim/lazy-lock.json
Due: prettier-json

refactor(nvim): :recycle: remove dressing.nvim
  src/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(nvim): :sparkles: remove copilot-lualine
  src/dot_config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: use stop_after_first to prevent conflicts for biome and prettier
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(hypr): :sparkles: enable focus_on_activate
  src/dot_config/hypr/hyprland.conf
Due: hyprland

chore: :hammer: add window rules for wslg
  misc/wsl/src/.glzr/glazewm/config.yaml
Due: yamlfmt, yamllint

feat(zsh): :sparkles: bind arrow keys to history search to override zsh-autocomplete defaults
  src/dot_config/gtk-3.0/settings.ini
  src/dot_config/gtk-4.0/settings.ini
Due: none

feat(zsh): :sparkles: bind arrow keys to history search to override zsh-autocomplete defaults
  src/dot_zshrc.d/functions/zvm_after_init
Due: none

feat(nvim): :sparkles: change format_on_save timeout from 500ms to 2000ms
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: update default mappings of leap.nvim
  src/dot_config/nvim/lua/user/plugins/motion.lua
Due: none

chore: :hammer: use flatpak instead of pacman to install ente-auth
  misc/pkglist/password-management.txt
  misc/pkglist/utilities.txt
  scripts/bootstrap.bash
  src/dot_config/hypr/hyprland.conf
Due: hyprland

refactor(zsh): :recycle: remove unused config
  src/dot_zshenv
Due: none

refactor(nvim): :recycle: remove copilot-lualine from lockfile
  src/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(nvim): :sparkles: add helix-like keymaps to vim-visual-multi
  src/dot_config/nvim/lua/user/plugins/editing.lua
Due: none

refactor(nvim): :recycle: organize vim-visual-multi mappings
  src/dot_config/nvim/lua/user/plugins/editing.lua
Due: none

feat(zsh): :sparkles: add sudo plugin
  src/dot_config/sheldon/plugins.toml
  src/dot_config/zsh-abbr/private_user-abbreviations
  src/dot_zshrc.d/functions/add-sudo-widget
  src/dot_zshrc.d/functions/zvm_after_init
Due: taplo-format, taplo-lint

feat(zsh): :sparkles: add $GROFF_NO_SGR
  src/dot_zshenv
Due: none

feat(nvim): :sparkles: remove spectral language server
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: use prettier in json and jsonc file
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(opencode): :sparkles: bump mcp servers
  src/dot_config/opencode/opencode.json
Due: prettier-json

feat(tmuxp): :sparkles: bump mcpo servers
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(mcphub): :sparkles: bump mcp servers
  src/dot_config/mcphub/servers.json
Due: prettier-json

feat(sql-formatter): :sparkles: rename config
  src/dot_config/nvim/lua/user/plugins/lang.lua
  src/dot_sql-formatter.json
Due: prettier-json

feat(nvim): :sparkles: disable folding in LSP outline
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

fix(tmux): :bug: support for tmux 0.53.0
  src/dot_config/tmux/tmux.conf
Due: none

docs(tmuxp): :memo: add comment for litellm
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(tmuxp): :sparkles: migrate LiteLLM from pipx to Docker to use PostgreSQL database support
  src/dot_config/mise/config.toml
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(nvim): :sparkles: disable auto preview of LSP outline
  src/dot_config/nvim/lua/user/plugins/lang.lua
Due: none

feat(hypr): :sparkles: add autostart for obsidian
  README.md
  misc/pkglist/developer-tools.txt
  src/dot_config/hypr/hyprland.conf
  src/dot_config/mimeapps.list
Due: prettier-markdown, markdownlint-cli2, hyprland

feat(nvim): :sparkles: add keymaps to search word
  src/dot_config/nvim/lua/user/keymaps.lua
  src/dot_config/nvim/lua/user/plugins/syntax.lua
Due: none

chore: :hammer: add keymap for shift+enter
  misc/etc/keyd/default.conf
  test/file.yaml
Due: yamlfmt, yamllint

fix(tmuxp): :bug: add env for AWS credentials
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

chore: :hammer: add keymap for WSL
  misc/wsl/src/.glzr/glazewm/hotkeys.ahk
Due: none

chore: :hammer: add unison for WSL
  misc/pkglist/developer-tools.txt
  src/dot_config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(mcphub): :sparkles: remove container name
  src/dot_config/mcphub/servers.json
Due: prettier-json

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
