Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(hypr): :sparkles: add rofi-calc
  home/.chezmoidata/packages.yaml
  home/dot_config/hypr/hyprland.conf
Due: yamlfmt, yamllint, hyprland

chore: :hammer: fix indent of chezmoi scripts
  home/.chezmoiscripts/linux/wsl/run_onchange_before_101_configure-for-wsl.sh.tmpl
Due: none

feat(sheldon): :sparkles: bump powerlevel10k
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(sheldon): :sparkles: bump zsh-vi-mode from v0.11.0 to v0.12.0
  home/dot_config/sheldon/plugins.toml
  home/dot_zshrc
  home/dot_zshrc.d/functions/zvm_after_init
Due: taplo-format, taplo-lint

feat(sheldon): :sparkles: bump zsh-auto-notify to v0.11.1
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(sheldon): :sparkles: bump zsh-completions to v0.36.0
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(sheldon): :sparkles: bump fast-syntax-highlighting
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(sheldon): :sparkles: bump zsh-abbr from v6.1.0 to v6.5.2
  home/dot_config/sheldon/plugins.toml
  home/dot_zshrc.d/functions/source
Due: taplo-format, taplo-lint

fix(nvim): :bug: remove winborder for noice.nvim
  home/dot_config/nvim/lua/user/options.lua
Due: none

fix(zsh): :bug: rename tmuxp workspace
  home/dot_zshrc
Due: none

feat(sheldon): :sparkles: pin ohmyzsh
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(sheldon): :sparkles: bump zsh-autocomplete
  home/dot_config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(nvim): :sparkles: add clever-f.vim
  home/dot_config/nvim/lazy-lock.json
  home/dot_config/nvim/lua/user/plugins/motion.lua
Due: prettier-json

feat(mise): :sparkles: remove mcpo
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(opencode): :sparkles: rename directory from plugin to plugins
  home/dot_config/opencode/plugins/notification.ts
Due: none

feat(opencode): :sparkles: add rtk plugin
  home/dot_config/mise/config.toml
  home/dot_config/opencode/plugins/private_rtk.ts
Due: taplo-format, taplo-lint

feat(agents): :sparkles: add skills for terraform
  .editorconfig
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  .prettierignore
  home/dot_agents/skills/find-skills/SKILL.md
  home/dot_agents/skills/refactor-module/SKILL.md
  home/dot_agents/skills/terraform-search-import/SKILL.md
  home/dot_agents/skills/terraform-search-import/references/MANUAL-IMPORT.md
  home/dot_agents/skills/terraform-search-import/scripts/list_resources.sh
  home/dot_agents/skills/terraform-style-guide/SECURITY.md
  home/dot_agents/skills/terraform-style-guide/SKILL.md
  home/dot_agents/skills/terraform-test/SKILL.md
  home/dot_agents/skills/terraform-test/references/CI_CD.md
  home/dot_agents/skills/terraform-test/references/EXAMPLES.md
  home/dot_agents/skills/terraform-test/references/MOCK_PROVIDERS.md
  home/dot_config/mise/config.toml
  home/dot_local/private_state/skills/dot_skill-lock.json
  typos.toml
Due: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(opencode): :sparkles: add mcp server for microsandbox
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

fix(nvim): :bug: set false into remap in clever-f-reset
  home/dot_config/nvim/lua/user/plugins/motion.lua
Due: none

feat(agents): :sparkles: add skills for worktrunk
  home/dot_agents/skills/worktrunk/SKILL.md
  home/dot_agents/skills/worktrunk/reference/README.md
  home/dot_agents/skills/worktrunk/reference/claude-code.md
  home/dot_agents/skills/worktrunk/reference/config.md
  home/dot_agents/skills/worktrunk/reference/extending.md
  home/dot_agents/skills/worktrunk/reference/faq.md
  home/dot_agents/skills/worktrunk/reference/hook.md
  home/dot_agents/skills/worktrunk/reference/list.md
  home/dot_agents/skills/worktrunk/reference/llm-commits.md
  home/dot_agents/skills/worktrunk/reference/merge.md
  home/dot_agents/skills/worktrunk/reference/remove.md
  home/dot_agents/skills/worktrunk/reference/shell-integration.md
  home/dot_agents/skills/worktrunk/reference/step.md
  home/dot_agents/skills/worktrunk/reference/switch.md
  home/dot_agents/skills/worktrunk/reference/tips-patterns.md
  home/dot_agents/skills/worktrunk/reference/troubleshooting.md
  home/dot_agents/skills/worktrunk/reference/worktrunk.md
  home/dot_local/private_state/skills/dot_skill-lock.json
Due: prettier-json, prettier-markdown, markdownlint-cli2

chore: :wrench: remove custom session log file from config.ini
  home/.chezmoiscripts/linux/run_onchange_after_1_configure-etc-files.sh.tmpl
  test/files.bats
Due: none

feat(satty): :sparkles: add config
  home/.chezmoidata/packages.yaml
  home/dot_config/nvim/lua/user/options.lua
  home/dot_config/satty/config.toml
  home/dot_config/swappy/config
  home/dot_config/uwsm/env
Due: yamlfmt, yamllint, taplo-format, taplo-lint

chore: :wrench: add fluent of plasma6 theme
  home/.chezmoidata/packages.yaml
Due: yamlfmt, yamllint

docs(hypr): :memo: add description for lock keybind
  home/dot_config/hypr/hyprland.conf
Due: hyprland

refactor(hypr): :recycle: tweak window rule
  home/dot_config/hypr/hyprland.conf
Due: hyprland

feat(hypr): :sparkles: disable splash rendering
  home/dot_config/hypr/hyprpaper.conf
Due: none

feat(mise): :sparkles: bump czg from 1.12.0 to 1.13.0
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

feat(mise): :sparkles: bump opencode from 1.14.25 to 1.14.40
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(mise): :sparkles: bump obsidian-headless from 0.0.4 to 0.0.8
  home/dot_config/mise/config.toml
Due: taplo-format, taplo-lint

chore: :hammer: add suffixes for systemd user services
  home/.chezmoidata/services.yaml
Due: yamlfmt, yamllint

feat(systemd): :sparkles: add obsidian-headless as a user service
  home/.chezmoidata/services.yaml
  home/dot_config/hypr/hyprland.conf
  home/dot_config/systemd/user/obsidian-sync.service
Due: yamlfmt, yamllint, hyprland

feat(tmuxp): :sparkles: bump litellm from 1.83.7 to 1.83.14
  home/dot_config/tmuxp/ai.yaml
Due: yamlfmt, yamllint

feat(stylelint): :sparkles: use stylelint with mise
  home/.chezmoidata/packages.yaml
  home/dot_config/mise/config.toml
  home/dot_stylelintrc.mjs
  home/dot_stylelintrc.yaml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(mozilla): :sparkles: update Firefox search configuration
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/search.json.mozlz4
Due: none

feat(nvim): :sparkles: bump plugins
  home/dot_config/nvim/lazy-lock.json
Due: prettier-json

feat(mozilla): :sparkles: disable speech synthesis of Firefox
  home/dot_config/mozilla/firefox/private_m9hirzav.default-release/user.js
Due: none

feat(mise): :sparkles: bump opencode from 1.14.40 to 1.14.46
  home/dot_config/mise/config.toml
  home/dot_config/opencode/package.json
Due: prettier-json, taplo-format, taplo-lint

feat(opencode): :sparkles: add context-mode
  home/dot_config/mise/config.toml
  home/dot_config/opencode/AGENTS.md
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2

feat(espanso): :sparkles: add snippets for confirmation request
  home/dot_config/espanso/match/japanese.yml
Due: yamlfmt, yamllint

feat(opencode): :sparkles: add kubernetes MCP server
  home/dot_config/mise/config.toml
  home/dot_config/opencode/opencode.jsonc
Due: taplo-format, taplo-lint

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
