Repository n4vysh/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-json, yamlfmt, yamllint, taplo-format, taplo-lint, prettier-markdown, markdownlint-cli2, hyprland, visudo

prettier-json:
  name: format json files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown

yamlfmt:
  name: format yaml files with yamlfmt
  language: system
  entry: yamlfmt -lint

yamllint:
  name: check yaml files with yamllint
  language: system
  entry: yamllint

taplo-format:
  name: format toml files with taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: format toml files with taplo lint
  language: system
  entry: taplo lint

prettier-markdown:
  name: format markdown files with prettier
  language: system
  entry: prettier --write --list-different --ignore-unknown --tab-width 4

markdownlint-cli2:
  name: check markdown files with markdownlint-cli2
  language: system
  entry: markdownlint-cli2

hyprland:
  name: check config of hyprland with hyprland configerrors option
  language: system
  entry: hyprctl configerrors | tee /dev/stderr | grep -q . && false
  pass_filenames: false

visudo:
  name: check sudoers
  language: system
  entry: sh -c "printf '%s\n' $@ | xargs -I {} -t visudo -c -f {}"

feat(uwsm): :sparkles: add $QT_STYLE_OVERRIDE
  src/.config/uwsm/env
  src/.zshenv
Due: none

feat(lazygit): :sparkles: enable GPG override
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: :hammer: add config for gpg in WSL
  docs/install-archlinux-on-wsl2.md
  misc/wsl/src/.gnupg/gpg-agent.conf
Due: prettier-markdown, markdownlint-cli2

feat(nvim): :sparkles: disable spell checking in harper-ls
  src/.config/nvim/lua/user/plugins/lang.lua
Due: none

feat(nvim): :sparkles: bump plugins
  src/.config/nvim/lazy-lock.json
Due: prettier-json

feat(nvim): :sparkles: remove keymap for nvzone/menu
  src/.config/nvim/lua/user/plugins/interface.lua
Due: none

feat(nvim): :sparkles: disable treesitter highlighting in markdown file
  src/.config/nvim/lua/user/plugins/syntax.lua
Due: none

fix: :bug: change nerdFontsVersion value from number to string
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: use dynamic mappings of avante.nvim
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

feat(nvim): :sparkles: add keymaps to move cursor to windows
  src/.config/nvim/lua/user/keymaps.lua
Due: none

feat(mise): :sparkles: bump litellm from 1.66.3 to 1.71.1
  src/.config/mise/config.toml
Due: taplo-format, taplo-lint

feat(tmuxp): :sparkles: update litellm model to claude sonnet 4
  src/.config/tmuxp/misc.yaml
Due: yamlfmt, yamllint

feat(nvim): :sparkles: update bedrock model to claude sonnet 4 and set max_tokens to 16384
  src/.config/nvim/lua/user/plugins/ai.lua
Due: none

feat(lazygit): :sparkles: use output field instead of subprocess and showOutput field
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

refactor: :recycle: add container names and rename terraform server
  src/.config/mcphub/servers.json
Due: prettier-json

feat(lazygit): :sparkles: use array format of new allBranchesLogCmds
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: :hammer: remove deprecated Do Not Track header preference from Firefox config
  misc/firefox/user.js
Due: none

feat(mise): :sparkles: move some packages from pkglist
  .pre-commit-config.yaml
  bin/goss
  misc/pkglist/developer-tools.txt
  misc/pkglist/programming-languages.txt
  mise.toml
  src/.config/mise/config.toml
Due: yamlfmt, yamllint, taplo-format, taplo-lint

feat(home-manager): :sparkles: use 25.05 release branch of stable channel
  .gitignore
  src/.config/home-manager/flake.lock
  src/.config/home-manager/flake.nix
Due: none

chore: :hammer: disable Firefox translations in favor of TWP addon
  misc/firefox/user.js
Due: none

feat(atuin): :sparkles: use fulltext search mode
  src/.config/atuin/config.toml
Due: taplo-format, taplo-lint

docs(atuin): :memo: update comments to explain fulltext search mode choice
  src/.config/atuin/config.toml
Due: taplo-format, taplo-lint

feat(yazi): :sparkles: add piper and bump plugins
  src/.config/yazi/package.toml
  src/.config/yazi/yazi.toml
Due: taplo-format, taplo-lint

feat(yazi): :sparkles: rename section from manager to mgr
  src/.config/yazi/keymap.toml
Due: taplo-format, taplo-lint

feat(nix): :sparkles: use all available CPU cores
  src/.config/nix/nix.conf
Due: none

feat(nvim): :sparkles: bump plugins
  src/.config/nvim/lazy-lock.json
  src/.config/nvim/lua/user/plugins/ai.lua
Due: prettier-json

refactor: :recycle: remove unused dotfiles
  src/.aicommits
  src/.config/s/config
Due: none

chore: :hammer: remove crudini from pkglist
  misc/pkglist/developer-tools.txt
Due: none

feat(home-manager): :sparkles: remove config
  .gitmodules
  justfile
  scripts/bootstrap.bash
  src/.config/home-manager/flake.lock
  src/.config/home-manager/flake.nix
  src/.config/home-manager/home.nix
  src/.config/nvim/lua/user/plugins/lang.lua
  src/.local/bin/cliphist-rofi-img
  src/.local/bin/extrakto-open
  src/.local/bin/grimblast
  src/.local/bin/scratchpad
  src/.local/bin/tresorit
  src/.local/bin/tresorit-cli
  src/.local/src/dotfiles/extrakto-open.bash
  src/.local/src/dotfiles/justfile
  src/.local/src/dotfiles/tresorit-cli.bash
  src/.local/src/dotfiles/tresorit.bash
Due: none

feat(firefox): :sparkles: add config
  .editorconfig
  .gitignore
  README.md
  justfile
  misc/firefox/search.json.mozlz4
  misc/pkglist/utilities.txt
  scripts/bootstrap.bash
  src/.config/psd/psd.conf
  src/.mozilla/firefox/installs.ini
  src/.mozilla/firefox/profiles.ini
  src/.mozilla/firefox/v7fd4tvu.default-release/chrome/userChrome.css
  src/.mozilla/firefox/v7fd4tvu.default-release/search.json.mozlz4
  src/.mozilla/firefox/v7fd4tvu.default-release/user.js
Due: prettier-markdown, markdownlint-cli2

feat(fontconfig): :sparkles: use global fontconfig
  scripts/bootstrap.bash
  src/.config/fontconfig/conf.d/10-nerd-font-symbols.conf
Due: none

chore: :hammer: use TPM2 instead of FIDO2 for disk encryption
  README.md
  misc/mock/systemd-cryptenroll
  misc/pkglist/base.txt
  misc/pkglist/security-key.txt
  scripts/bootstrap.bash
  test/file.yaml
Due: yamlfmt, yamllint, prettier-markdown, markdownlint-cli2

feat(sheldon): :sparkles: use previous version of zsh-autocomplete to avoid freeze
  src/.config/sheldon/plugins.toml
Due: taplo-format, taplo-lint

feat(lazygit): :sparkles: add custom command to create branch with prefix
  src/.config/lazygit/config.yml
Due: yamlfmt, yamllint

chore: :hammer: add .stowrc
  .stowrc
  justfile
Due: none

chore: :hammer: update kernel option
  misc/etc/kernel/cmdline
Due: none

chore: :hammer: disable root redirector of keybase
  misc/etc/keybase/config.json
  scripts/bootstrap.bash
Due: prettier-json

refactor(zsh): :recycle: move functions and configs to subdirectories
  .editorconfig
  src/.config/nvim/lua/user/options.lua
  src/.zshenv
  src/.zshrc
  src/.zshrc.d/compile.zsh
  src/.zshrc.d/conf.d/alias.zsh
  src/.zshrc.d/conf.d/command.zsh
  src/.zshrc.d/conf.d/compile.zsh
  src/.zshrc.d/conf.d/completion.zsh
  src/.zshrc.d/conf.d/option.zsh
  src/.zshrc.d/functions/add-less-pipe-widget
  src/.zshrc.d/functions/add-sudo-widget
  src/.zshrc.d/functions/atuin-search-viins-wrapper
  src/.zshrc.d/functions/bluetuith-widget
  src/.zshrc.d/functions/btm-widget
  src/.zshrc.d/functions/dbui-widget
  src/.zshrc.d/functions/debug
  src/.zshrc.d/functions/error
  src/.zshrc.d/functions/gh-dash-widget
  src/.zshrc.d/functions/home-dir-widget
  src/.zshrc.d/functions/info
  src/.zshrc.d/functions/k9s-widget
  src/.zshrc.d/functions/kubens
  src/.zshrc.d/functions/lazydocker-widget
  src/.zshrc.d/functions/lazygit-widget
  src/.zshrc.d/functions/n-widget
  src/.zshrc.d/functions/ncspot-widget
  src/.zshrc.d/functions/note-widget
  src/.zshrc.d/functions/nvim-widget
  src/.zshrc.d/functions/prev-dir-widget
  src/.zshrc.d/functions/reload-widget
  src/.zshrc.d/functions/repo-root-dir-widget
  src/.zshrc.d/functions/source
  src/.zshrc.d/functions/tasks-widget
  src/.zshrc.d/functions/warn
  src/.zshrc.d/functions/y
  src/.zshrc.d/functions/y-widget
  src/.zshrc.d/functions/zi-widget
  src/.zshrc.d/functions/zvm_after_init
Due: none

feat(k9s): :sparkles: add default view to show pods on startup
  src/.config/k9s/config.yaml
Due: yamlfmt, yamllint

chore: :hammer: use selene-lib.toml for standard library
  lua-nvim.toml
  selene-lib.toml
  selene.toml
Due: taplo-format, taplo-lint

Path conditions:
  prettier-json: any of: \.json$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  taplo-format: any of: \.toml$, but not: (?x)^(
  src/.config/pet/config.toml|
  src/.config/pet/snippet.toml
)$

  taplo-lint: any of: \.toml$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  hyprland: any of: .config/hypr/hyprland.conf$
  visudo: any of: misc/etc/sudoer.d/.*
